Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [PROS-201] Checkout login step captcha issue
  src/Magento_Checkout/web/js/view/shipping-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [PROS-139] Validation - prevent duplicated validation errors
  src/etc/changelog.xml
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

feat: [MU-36] fix count for slider results with configurable options
  src/Smile_ElasticsuiteCatalog/web/js/range-slider-widget-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [MU-118] Consent manager module introduced
  src/components/consent-management/index.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [MU-65] Login or guest - added missing icons to buttons
  src/MageSuite_LoginOrGuestCheckoutStep/web/css/login-or-guest.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MU-185] add additional class for styling purposes on minicart click
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [PROS-79] Checkout new address button - added missing span mixin
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MGS-5687] Style revocation forms and emails
  src/MageSuite_Revocation/index.ts
  src/MageSuite_Revocation/web/css/revocation.scss
  src/entries/cms.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [IPET-3520] Investigate the CLS triggered by the infinite-scroll button
  src/MageSuite_ElasticsuiteAjaxifier/web/css/module.scss
Due: stylelint --fix

feat: MGS-5695 add rel=nofollow to remove link
  src/Magento_LayeredNavigation/templates/layer/state.phtml
Due: none

feat: [KRG-3188] add tab focus to progress bar + sync document title with checkout step
  src/Magento_Checkout/web/js/model/step-navigator-page-title.js
  src/Magento_Checkout/web/template/progress-bar.html
  src/components/progress-bar/progress-bar.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-5687]Make revocation page styles consistent with theme styling
  src/MageSuite_Revocation/web/css/revocation.scss
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix: [KRG-3410] Fix order cancellation success message not displaying after...
  src/Magento_OrderCancellationUi/web/js/cancel-order-modal-ext.js
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

feat: [PROS-1] Add to cart button - set icon path and a11y label via block argument
  src/Magento_Catalog/templates/addtocart/button.phtml
  src/etc/changelog.xml
Due: none

feat: [PROS-1] Tooltips A11Y adjustments
  src/components/tooltip/tooltip.scss
  src/components/tooltip/tooltip.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [PROS-248] Preserve price filter value on blur
  src/Smile_ElasticsuiteCatalog/web/js/range-slider-widget-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [MGS-5705] healthcheck styling
  src/MageSuite_Nfz/index.ts
  src/MageSuite_Nfz/layout/nfz_healthcheck_elasticsearch.xml
  src/MageSuite_Nfz/web/css/module.scss
  src/entries/magesuite-nfz.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [IPET-3203] Investigate stronger link masking
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

fix: [NKD-6130][Store Locator] The pin for the current user location uses the default pin instead of the user location pin
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

feat: [MGS-5713] add missing breadcrumbs
  src/Magento_Sales/layout/sales_order_invoice.xml
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: [MGS-5687] Fix styling
  src/MageSuite_Revocation/web/css/revocation.scss
Due: stylelint --fix

fix: [LOWA-916] Prevent exposing Google API backend key on frontend
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

feat: [RK-2268] Add revocation + close tooltip when opening new one
  src/MageSuite_Revocation/web/css/revocation.scss
  src/components/dashboard/dashboard.scss
  src/components/tooltip/tooltip.ts
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [RK-2268] Fix tooltip behaviour
  src/MageSuite_Revocation/web/css/revocation.scss
  src/components/dashboard/dashboard.scss
  src/components/tooltip/tooltip.ts
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [LOWA-871] Adjust style of order revocation
  src/MageSuite_Revocation/web/css/revocation.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix/FC-366/fix_issues
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

feat: [MGS-5688] add missing class
  src/Magento_CheckoutAgreements/web/template/checkout/checkout-agreements.html
Due: none

feat: [MGS-5689] create generic classes based on mixins
  src/Magento_Catalog/templates/product/list/toolbar/filters-button.phtml
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/templates/cart/minicart-button.phtml
  src/Magento_Review/layout/catalog_product_view.xml
  src/Magento_Review/templates/summary.phtml
  src/components/accordion/accordion.scss
  src/components/brand-carousel/brand-carousel.scss
  src/components/button/button.scss
  src/components/button/hook.scss
  src/components/button/mixin.scss
  src/components/category-links/category-links.scss
  src/components/component-spacing/component-spacing.scss
  src/components/component-spacing/index.ts
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/hide-scrollbar/hide-scrollbar.scss
  src/components/hide-scrollbar/index.ts
  src/components/minicart/minicart.scss
  src/components/paragraph/paragraph.scss
  src/components/product-finder/product-finder.scss
  src/components/product-teaser/product-teaser.scss
  src/components/products-carousel/products-carousel.scss
  src/components/products-grid/products-grid.scss
  src/components/reset-list-style/index.ts
  src/components/reset-list-style/reset-list-style.scss
  src/components/reviews-summary/reviews-summary.scss
  src/components/separator/separator.scss
  src/components/toolbar/toolbar.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-5741] Replace tooltip with modal on desktop
  src/MageSuite_Revocation/web/css/revocation.scss
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Fix: [MGS-5741] Revocation - replace tooltip with modal
  src/MageSuite_Revocation/web/css/revocation.scss
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix: [NKD-6132] Add missing xmlns declaration to storelocator svg icon
  src/web/images/icons/store-locator/icon-location.svg
Due: none

feat: [PROS-291] Global messages deletation improved
  src/Magento_Theme/templates/messages.phtml
  src/Magento_Theme/web/js/view/messages-ext.js
Due: prettier --write, tslint --fix

feat: [PROS-293] Customer MFA - email fallback
  src/components/dashboard/dashboard.scss
  src/etc/changelog.xml
  src/web/css/source/_email-extend.less
Due: stylelint --fix

feat: [PROS-293] Customer MFA - email fallback
  src/components/dashboard/dashboard.scss
  src/web/css/source/_email-extend.less
Due: stylelint --fix

fix: [MGS-5758] fix order pagination in UA on mobile
  src/components/dashboard/dashboard.scss
  src/etc/changelog.xml
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
