Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Add proper product teaser image sizes
  src/MageSuite_ContentConstructorFrontend/etc/view.xml
Due: none

Clean product tile teaser
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

auto fixes from pre-commit CI job
  src/MageSuite_ContentConstructorFrontend/etc/view.xml
Due: none

Adjust product teaser styles
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

feat: [MGS-5153] Include common or smallest Content Constructor components in entries instead of inline loading.
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

Add products
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

fix: [MGS-5165] Adjust facebook icon
  src/web/images/icons/facebook.svg
Due: none

Add changelog for 19.x
  src/etc/changelog.xml
Due: none

feat: [P2G-2189] translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/nl_NL.csv
Due: none

fix: [MOB-81] Breakpoint script: media queries do not overlap.
  src/Magento_Theme/templates/head/breakpoint-script.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-3750] Extend product slide gallery with triggers to detect if fullscreen is opened / closed
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [IPET-2066] [Breadcrumbs] Remove unused iterator helper variable from breadcrumbs template
  src/Magento_Theme/templates/html/breadcrumbs.phtml
Due: none

feat: [RKL-72] allow to change heading tag with xml (product carousels), remove obsolete files
  src/Magento_Catalog/templates/product/list/items.phtml
  src/Module_Tax/web/template/checkout/cart/totals/grand-total.html
  src/Module_Tax/web/template/checkout/shipping_method/price.html
  src/Module_Tax/web/template/checkout/summary/item/details/subtotal.html
  src/etc/changelog.xml
Due: none

feat: [IPET-2038] [UA] Add breadcrumbs to Shipment details page
  src/Magento_Sales/layout/sales_order_shipment.xml
  src/etc/changelog.xml
Due: none

fix: [RKL-67] fix feature - adjust carousel headline with xml
  src/Magento_Catalog/templates/product/list/items.phtml
  src/etc/changelog.xml
Due: none

feat: [KRA-32] Enhance navigation flyout and offcanvas navigation
  src/MageSuite_Navigation/templates/main/list.phtml
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/etc/changelog.xml
Due: stylelint --fix

auto fixes from pre-commit CI job
  src/etc/changelog.xml
Due: none

Add changelog
  src/etc/changelog.xml
Due: none

Move span to the same line
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

fix: [TT-1345] Fix canContinueToPayment when pickup location is selected
  src/Magento_InventoryInStorePickupFrontend/web/js/next-button-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [TT-1345] Fix canContinueToPayment when pickup location is selected
  src/Magento_InventoryInStorePickupFrontend/web/js/next-button-ext.js
Due: prettier --write, tslint --fix

Update src/etc/changelog.xml
  src/etc/changelog.xml
Due: none

feat: [KRA-222] Add additional hotspots fot toolbar phtml
  src/MageSuite_Sorting/templates/product/list/toolbar.phtml
  src/Magento_Catalog/templates/product/list/toolbar.phtml
  src/etc/changelog.xml
Due: none

feat: [KRG-2578] Add additional identification class to minicart remove item confirmation modal
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [NKD-3754] Fix possibility to override `slideTemplate` and `thumbnailTemplate` in Product Slide Gallery for child themes
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat(lazyload): Sanitization of attributes is now under a flag, disabled by default - to override by projects that require it
  src/etc/changelog.xml
  src/web/js/vendor/lazyload.js
Due: prettier --write, tslint --fix

feat: [KRA-256] Add flags of European Union, France, UK and Russia
  src/etc/changelog.xml
  src/web/images/icons/flag_eu.svg
  src/web/images/icons/flag_fr.svg
  src/web/images/icons/flag_ru.svg
  src/web/images/icons/flag_uk.svg
Due: none

auto fixes from pre-commit CI job
  src/web/images/icons/flag_eu.svg
  src/web/images/icons/flag_fr.svg
  src/web/images/icons/flag_ru.svg
Due: none

fix: [IPET-2044] Fix CLS issue for filters button on mobile
  src/components/toolbar/toolbar.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [KRA-302] Product inserter appearance
  src/MageSuite_MultipleProductInserter/index.ts
  src/MageSuite_MultipleProductInserter/web/css/module.scss
  src/entries/checkout.ts
  src/entries/customer.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [IPET-2044] Fix CLS issue for gallery on PDP
  src/MageSuite_ProductSlideGallery/web/css/product-slide-gallery.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat/RKL-121/adjust_translations_and_wordings
  src/Magento_InventoryInStorePickupFrontend/templates/success.phtml
  src/etc/changelog.xml
Due: none

feat(offcanvas-minicart): allow passing additional checks bfore opening minicart on add to cart action
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRA-302] Product inserter appearance adjustments
  src/MageSuite_MultipleProductInserter/web/css/module.scss
  src/etc/changelog.xml
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
