Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Revert "Merge branch 'fix/MGP-1419/hide_messages_no_button_scenario_v20.x' into '20.x'"
  src/Magento_Theme/templates/messages.phtml
  src/etc/changelog.xml
Due: none

add changelog
  src/etc/changelog.xml
Due: none

feat(POP): [FZ-158] Add Styles and vars for module MageSuite_ProductNotification
  src/MageSuite_ProductNotification/index.ts
  src/MageSuite_ProductNotification/web/css/product-notification.scss
  src/entries/category.ts
  src/entries/customer.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [NKD-4368] Update usercentrics to support v3
  src/components/consent-management/index.ts
  src/components/consent-management/vendor/usercentricsv3.ts
  src/components/video-layer/video-layer.ts
  src/components/video-teaser/video-teaser.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/components/consent-management/vendor/usercentricsv3.ts
Due: prettier --write, tslint --fix

fix [HAAR-4337] Fix issue with initial value
  src/MageSuite_InstantProductFinder/web/js/instant-product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Update changelog.xml
  src/etc/changelog.xml
Due: none

fix(product-slide-gallery): [FZ-69] Fix breakpoint for product-slide-gallery...
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [TOYS-1406] add required dependency to offcanvas nav logic
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [TT-1671] check if category with custom url is active and add class
  src/components/navigation/navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [FZ-150] Revert in store pickup shipping information template
  src/Magento_InventoryInStorePickupFrontend/layout/checkout_index_index.xml
  src/etc/changelog.xml
Due: none

fix: [TOYS-1472] fix fotorama on tablet breakpoint
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

fix: [RK-1533] fix broken xml layout reference
  src/Magento_Directory/layout/default.xml
  src/etc/changelog.xml
Due: none

feat: [NKD-4353] Adjust search on mobile
  src/components/header/search/search.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [TOYS-1508] es instant search - restore search bar
  src/Smile_ElasticsuiteInstantSearch/templates/search/form.mini.phtml
  src/etc/changelog.xml
Due: none

fix: [ZJ-89] Product teaser: added missing default flags
  src/Smile_ElasticsuiteInstantSearch/web/css/instant-search.scss
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat(navigation): add variable for category icon color possibilities
  src/components/navigation/navigation.scss
Due: stylelint --fix

feat(navigation): add variable for category icon color possibilities
  src/etc/changelog.xml
Due: none

feat(navigation): add variable for category icon color possibilities
  src/components/navigation/navigation.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat [HAAR-4481] Add rel attribute via xml
  src/Magento_Theme/templates/social-media-list.phtml
  src/etc/changelog.xml
Due: none

auto fixes from pre-commit CI job
  src/Magento_Theme/templates/social-media-list.phtml
Due: none

Update magesuite-frontend-builder to 4.0.0-beta.1
  package.json
Due: none

chore: update yarn lock for new magesuite-frontend-builder
  yarn.lock
Due: none

feat: Bumped frontend builder to v4
  package.json
  src/etc/changelog.xml
  yarn.lock
Due: none

fix: [SCAFA-1168] Switch to touchend event as trigger event to open minicart
  src/Magento_Checkout/layout/default.xml
  src/components/aftersearch-nav/state.scss
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/product-tile/product-tile.scss
  src/etc/changelog.xml
  src/pages/product/product.scss
Due: stylelint --fix

fix(messages): [FZ-399] Fix message behaviour. Add setting for message visibility duration
  src/Magento_Theme/templates/messages.phtml
  src/Magento_Theme/web/js/view/messages-ext.js
  src/etc/changelog.xml
  src/etc/view.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix
