Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

feat: [ROT-1060]: reCaptcha - icon is missing in newsletter section
  src/bundle.scss
  src/components/google-recaptcha/_google-recaptcha.scss
Due: stylelint --fix

fix: [MGP-358] Set proper warning width for zipcode warning
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: [HAAR-2745] Add missing fn parameter. Change var type. Code refactor
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/components/cart/cart.ts
Due: prettier --write, tslint --fix

fix: Adjust styles for additional addresses table for tablet in horizontal position
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix(checkout): [KRG-1969] Fix visual glitch within caption element inside totals
  src/components/checkout/checkout.scss
Due: stylelint --fix

refactor(page-scroll)!: P2G-1610 To the top jumpmark missing
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/components/page-scroll/index.ts
  src/components/page-scroll/page-scroll.scss
  src/components/page-scroll/page-scroll.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat(offcanvas minicart): [P2G-1621] Add possibility of using html tags in carousel button text via translations
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

fix(entries): Remove breakpoint utility outdated reference in PDP entry
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

fix(lib): [LP-1060] Introduce sanitize method for html el attribut outpus - XSS vulnerable fix
  src/web/js/vendor/lazyload.js
Due: prettier --write, tslint --fix

[DG-821] Add alt texts
  src/Magento_Catalog/templates/addtocart/button.phtml
Due: none

[HAAR-2573] Unify minicart and offcanvas filters close button
  src/components/offcanvas-filters/offcanvas-filters.scss
Due: stylelint --fix

fix(qty-swicher): [HAAR-2745] Revert changes regarding Qty switcher
  src/Magento_Checkout/templates/cart/item/qty/qty.phtml
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/components/cart/cart.ts
  src/components/qty-increment/qty-increment.ts
Due: prettier --write, tslint --fix

fix: [HAAR-2741] Set proper cursor style on gallery item
  src/components/product-gallery/product-gallery.scss
Due: stylelint --fix

fix: [HAAR-2674] Fix scroll to reviews section on PDP - do not cover it with sticky header
  src/components/product-details/product-details.scss
Due: stylelint --fix

fix: [NKD-2474] Select default shipping address if no address is selected...
  src/Magento_InventoryInStorePickupFrontend/web/js/next-button-ext.js
Due: prettier --write, tslint --fix

feat: Pause image autoplay on mouseenter. Do not autoplay on mobiles
  src/components/image-teaser/image-teaser.ts
  src/components/teaser/teaser.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

fix: Add pointer cursor style to offcanvas filters close button
  src/components/offcanvas-filters/offcanvas-filters.scss
Due: stylelint --fix

Revert "Merge branch 'nkd-2474-missing-shipping-address' into 'next'"
  src/Magento_InventoryInStorePickupFrontend/web/js/next-button-ext.js
Due: prettier --write, tslint --fix

chore: Fix scss linting
  src/components/product-details/product-details.scss
  src/components/product-gallery/product-gallery.scss
Due: stylelint --fix

fix(utils): Add default overflow value for visually-visible mixin
  src/utils/visually-hidden.scss
Due: stylelint --fix

[HAAR-2750] Add copy icon to guest wishlist
  src/components/dashboard/dashboard.scss
  src/web/images/icons/copy.svg
Due: stylelint --fix

[NO-TICKET] Hotfix: groped products in cart caused critical error due to wrong product type definition
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

fix (page-scroll): P2G-1638 - The jumpmark button to the top is unnecessary displayed on overlays
  src/components/page-scroll/page-scroll.scss
Due: stylelint --fix

fix: Adjust hero autoplay
  src/components/image-teaser/image-teaser.ts
  src/components/teaser/teaser.ts
Due: prettier --write, tslint --fix

fix: Remove hardcoded font size from checkout buttons
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: Hide checkout innecessary elements in payment step
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: Check if component and button exists in addtocart script
  src/components/addtocart/addtocart.ts
Due: prettier --write, tslint --fix

Revert "fix: Adjust hero autoplay"
  src/components/image-teaser/image-teaser.ts
  src/components/teaser/teaser.ts
Due: prettier --write, tslint --fix

Revert "feat: Pause image autoplay on mouseenter. Do not autoplay on mobiles"
  src/components/image-teaser/image-teaser.ts
  src/components/teaser/teaser.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat(navigation): [KRG-2005] Remove navigation sections
  src/MageSuite_Navigation/layout/default.xml
Due: none

fix: [MPG-413] Blur scroll to top button when it disappears
  src/components/page-scroll/page-scroll.ts
Due: prettier --write, tslint --fix

remove disallowed display attribute
  src/Magento_Catalog/layout/catalog_category_view.xml
Due: none

fix: Error page - PHP opening short tag.
  src/errors/creativeshop/page.phtml
Due: none

fix: [ROT-1071] MGS reCaptcha notes
  src/components/google-recaptcha/_google-recaptcha.scss
Due: stylelint --fix

fix: Improve sanitization for lazyload script
  src/web/js/vendor/lazyload.js
Due: prettier --write, tslint --fix

chore: [MGP-117] Add missing translations. Correct "Sort by: " string
  src/etc/view.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

feat(cart): Align action buttons to the right side and remove absolute positioning
  src/components/cart/cart-item/cart-item.scss
Due: stylelint --fix

chore: Add missing translation
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

feat(offcanvas-filters): Remove svg icon in favor of pseudoicon
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

chore: Add missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
