Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix [HAAR-3711] Adjust visibility of cookie restriction overlay
  src/Magento_Cookie/web/js/notices-ext.js
  src/components/cookie-message/cookie-message.scss
  src/etc/changelog.xml
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

fix(PDP): [IPET-2295] fix zoom in PDP gallery
  src/MageSuite_ProductSlideGallery/web/css/product-slide-gallery.scss
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [HAKA-2070] Exclude max width overwrite from mobile
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-5224] Unify styling for tablet breakpoint (768px) for modal component
  src/components/modal/modal.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [FR-43] Footer: Do not show newsletter section if newsletter is disabled
  src/Magento_Newsletter/layout/default.xml
  src/etc/changelog.xml
Due: none

chore: changelog fix
  src/etc/changelog.xml
Due: none

fix: remove validation modal for giftcard product, add product type modifier to cart item
  src/Magento_Catalog/web/js/swatches-validation-ext.js
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat(offcanvas-minicart): allow passing additional checks bfore opening...
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [TOYS-1159] hide only collapsible menu in initial state
  src/Magento_Customer/templates/account/navigation.phtml
  src/components/stack-nav/stack-nav.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [TOYS-1142] fix for skus with forward slashes
  src/MageSuite_InstantProductFinder/web/js/instant-product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [RK-1095] allow to change heading tag with xml (product carousels)
  src/Magento_Catalog/templates/product/list/items.phtml
  src/etc/changelog.xml
Due: none

fix: [KRA-918] Disable missing swatches modal by additional body class
  src/Magento_Catalog/web/js/swatches-validation-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [RK-1095] allow to change heading tag with xml (product carousels)
  src/Magento_Catalog/templates/product/list/items.phtml
  src/etc/changelog.xml
Due: none

fix(slider): Change selector to be passed for autorotate funciton of slider
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [KRA-975] Checkout - Prevent user moving to the payment step without logging in
  src/Magento_Checkout/web/js/view/shipping-ext.js
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: prettier --write, tslint --fix

fix: [MOPS-338] Update Nfz layout
  src/MageSuite_Nfz/layout/nfz_healthcheck_elasticsearch.xml
Due: none

fix: [MOPS-338] Update Nfz layout
  src/etc/changelog.xml
Due: none

feat: [IPET-2317] In order to eliminate CLS caused by shop notifications and...
  src/Magento_Theme/templates/messages.phtml
  src/components/messages/messages.scss
  src/components/minicart/minicart.scss
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix

fix: Notification z-index and closing logic improvement
  src/Magento_Theme/templates/messages.phtml
  src/components/messages/messages.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [IPET-3217] Notification z-index and closing logic improvement
  src/Magento_Theme/templates/messages.phtml
  src/components/messages/messages.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [FR-182] Authentication popup appearance
  src/components/authentication-modal/authentication-modal.scss
  src/components/authentication-modal/index.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [IPET-2403] Hide notifications x button on page load
  src/components/messages/messages.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MGS-5238] Redirect progress bar
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/head/redirect-progress-bar-script.phtml
  src/components/redirect-progress-bar/index.ts
  src/components/redirect-progress-bar/redirect-progress-bar.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/pdp.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [MGS-5238] Redirect progress bar
  src/components/redirect-progress-bar/redirect-progress-bar.scss
Due: stylelint --fix

fix: [FR-201] Edit downloadable product via wishlist - layout adjustments
  src/Magento_Wishlist/layout/wishlist_index_configure_type_downloadable.xml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
Due: none

feat: [MGS-5238] Redirect progress bar
  src/Magento_Theme/templates/head/redirect-progress-bar-script.phtml
  src/components/redirect-progress-bar/redirect-progress-bar.scss
Due: stylelint --fix

auto fixes from pre-commit CI job
  src/Magento_Theme/templates/head/redirect-progress-bar-script.phtml
Due: none

Feat/mgs 5238/redirect progress bar
  src/Magento_Theme/templates/head/redirect-progress-bar-script.phtml
Due: none

Update changelog.xml
  src/etc/changelog.xml
Due: none

feat: update changelog, disable redirect progress bar feature by default (temporarily)
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

fix: [KRA-1100] Redirect progressbar - watch event by addEventListener
  src/Magento_Theme/templates/head/redirect-progress-bar-script.phtml
  src/etc/changelog.xml
Due: none

fix: [KRA-1111] Rating stars template - cast activeStars variable to float
  src/Magento_Review/templates/rating-stars.phtml
  src/etc/changelog.xml
Due: none
