Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Hotfix for icons in flyout nav
  src/components/navigation/navigation.scss
Due: stylelint --fix

Change default footer headline tag from h4 to h3 to maintain sequentially-descending order
  src/Magento_Theme/templates/footer/section.phtml
Due: none

[MGS-4076] Add missing labels for inputs to increase accessability and Lighthouse reports
  src/Magento_Newsletter/templates/subscribe.phtml
  src/components/header/search/search.scss
  src/components/newsletter/newsletter.scss
  src/components/qty-increment/qty-increment.scss
Due: stylelint --fix

[MGS-1077] Replace display none with visually-hidden on user nav links
  src/components/header/user-nav/user-nav.scss
Due: stylelint --fix

[MGS-4113] Fix aria attribiutes for search
  src/MageSuite_Navigation/templates/offcanvas/search.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
Due: none

Add styling for errors
  src/PluginCompany_ContactForms/web/css/form.scss
Due: stylelint --fix

Add option to define subtitle for sections on PDP
  src/Magento_Catalog/templates/product/view/details.phtml
  src/components/product-details/product-details.scss
Due: stylelint --fix

HAKA-616 Adjust frontend after 3step-checkout update + bug fixes
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/payment/payment.scss
  src/components/3step-checkout/shipping/shipping.scss
  src/components/3step-checkout/summary/summary.scss
  src/components/3step-checkout/variables.scss
Due: stylelint --fix

HAKA-616 Move summary title border to variable
  src/components/3step-checkout/summary/summary.scss
Due: stylelint --fix

[GNP-596] Fixes XML config. driven breadcrumbs custom separator visibility var
  src/components/breadcrumbs/breadcrumbs.scss
Due: stylelint --fix

Override skiptarget template to get rid of a tag without href
  src/Magento_Theme/templates/html/skiptarget.phtml
Due: none

[MGS-4115]Remove Blank-Theme-Icons font from minicart close
  src/Magento_Checkout/web/template/minicart/content.html
  src/components/minicart/minicart.scss
  src/web/css/source/_icons.less
Due: stylelint --fix

HAKA-717 Style update address button
  src/components/3step-checkout/payment/payment.scss
Due: stylelint --fix

HAKA-717 Add text-transform to 3step-checkout update address button
  src/components/3step-checkout/payment/payment.scss
Due: stylelint --fix

HAKA-735 Add ie11 modal styling to 3step-checkout
  src/entries/3step-checkout.ts
Due: prettier --write, tslint --fix

[HAAR-2228] Fixes type of ccComponents xml based properties
  src/components/products-carousel/products-carousel.ts
  src/components/teaser/teaser.ts
Due: prettier --write, tslint --fix

HAKA-215 Add disable qty decr in minicart
  src/Magento_Checkout/web/template/minicart/item/default.html
Due: none

HAKA-645 HAKA-725 Add styling for product counter and fix visual bugs for modal and product details
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/payment/payment.scss
  src/components/3step-checkout/summary/summary.scss
Due: stylelint --fix

LP-706 [Checkout Step-1] Tick overlaps the ZIP Code on tablets
  src/components/checkout/checkout.scss
Due: stylelint --fix

Introduce salebar widget
  src/components/salebar-widget/index.ts
  src/components/salebar-widget/salebar-widget.scss
  src/components/salebar-widget/salebar-widget.ts
  src/entries/salebar-widget.ts
  src/requirejs-config.js
  src/utils/breakpoint/breakpoint.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix(minicart/content.html): Show empty cart message
  src/Magento_Checkout/web/template/minicart/content.html
Due: none

HAKA-736 Fix padding for billing address same as shipping block
  src/components/3step-checkout/payment/payment.scss
Due: stylelint --fix

fix(header-search): Disable page zoom on search focus on smaller iOS devices
  src/components/header/search/search.scss
Due: stylelint --fix

Remove duplicated link mixin + improvements in typography
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/authorization-link/authorization-link.scss
  src/components/cookie-message/cookie-message.scss
  src/components/footer/footer-links.scss
  src/components/topbar/topbar.scss
  src/components/typography/mixin.scss
  src/utils/link.scss
Due: stylelint --fix

HAKA-645 3step-checkout: Fix sidebar background
  src/components/3step-checkout/forms/forms.scss
Due: stylelint --fix

HAKA-778 3step-checkout: fix select styling
  src/components/3step-checkout/forms/forms.scss
Due: stylelint --fix

Product teaser CC component
  src/Magento_Review/templates/rating-stars.phtml
  src/components/product-teaser/index.ts
  src/components/product-teaser/product-teaser.scss
  src/entries/product-teaser.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Fix blurred product images on fotorama gallery
  src/components/product-gallery/product-gallery.scss
Due: stylelint --fix

[DOG-740] Add form ID check to missing-swatches-modal
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

Improvements for product teaser: extend settings + prevent jumping content after image is loaded
  src/components/product-teaser/product-teaser.scss
  src/etc/view.xml
Due: stylelint --fix

Update product teaser component to use proper link mixin
  src/components/product-teaser/product-teaser.scss
Due: stylelint --fix

HAKA-792 3stepcheckout: make prefix input smaller
  src/components/3step-checkout/forms/forms.scss
Due: stylelint --fix

Add missing font-size for name in product teaser component
  src/components/product-teaser/product-teaser.scss
Due: stylelint --fix

Extend settings for prices in product teaser component
  src/components/product-teaser/product-teaser.scss
Due: stylelint --fix

Hotfix: Adjust prices for bundle product in product teaser
  src/components/product-teaser/product-teaser.scss
Due: stylelint --fix

3step-checkout: Change styling of no quotes message to warning
  src/components/3step-checkout/forms/forms.scss
Due: stylelint --fix

[BUGFIX] Remove not used parameter
  src/Magento_Theme/templates/footer/section.phtml
Due: none

[KRG-1259] Make navigation offcanvas more elastic - added open class to body and additional slots in drawer
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/components/offcanvas/index.ts
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

HAKA-906 [product grid] [POP] missing padding between product grid and component below
  src/pages/category/category.scss
Due: stylelint --fix

HAAR-2364 Prevent link and script tags from getting width in navigation columns
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
