Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Code refactor
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/components/search-results-switcher/search-results-switcher.ts
  src/pages/category/category.scss
  src/pages/layout/2columns-left/mixin.scss
Due: stylelint --fix, prettier --write, tslint --fix

Code refactor
  src/pages/layout/2columns-left/mixin.scss
Due: stylelint --fix

NKD-711 Products grid frontend bugs fix
  src/components/grid-layout/grid-layout.scss
  src/components/grid-layout/grid-layout.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add background for no-image teasers
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

M2C-3536: buttons examples improvment for styleguide
  src/Magento_Styleguide/templates/buttons.phtml
  src/components/styleguide/_styleguide.scss
Due: stylelint --fix

Added a fix to cart.ts to show loading spinner and disable button only if input is positively validated
  src/components/cart/cart.ts
Due: prettier --write, tslint --fix

Fix geolocation typo
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: prettier --write, tslint --fix

Update newcustomer.phtml - fix typo 'I'am' into 'I am'
  src/Magento_Customer/templates/newcustomer.phtml
Due: none

m2c-3394: display label for fast shiping
  src/components/indicators/fast-shipping.ts
Due: prettier --write, tslint --fix

NKD-719 Fix issue with too many rows on mobile
  src/components/grid-layout/grid-layout.ts
Due: prettier --write, tslint --fix

Improvement refactor product questions design and fix bugs
  src/Aheadworks_Pquestion/web/css/product-questions.scss
  src/components/container/container.scss
  src/components/product-details/product-details.scss
Due: stylelint --fix

NKD-729 Fix logic for grid layout
  src/components/grid-layout/grid-layout.ts
Due: prettier --write, tslint --fix

Storelocator adjustments and bugfixing
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

BRH-1353 Fix typ
  src/Magento_Customer/templates/newcustomer.phtml
Due: none

Fix wordings
  src/Magento_Checkout/web/template/minicart/content.html
Due: none

Add commented code
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

Adjust logic not to add no-result class when there are products on POP
  src/components/search-results-switcher/search-results-switcher.ts
Due: prettier --write, tslint --fix

Add bundle for contact page, move page-scroll to category xml and disable it
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/Magento_Catalog/templates/category/page-scroll.phtml
  src/Magento_Contact/layout/contact_index_index.xml
  src/Magento_Theme/layout/default.xml
  src/entries/category.ts
Due: prettier --write, tslint --fix

Fix checked radio & checkbox fields on IE11
  src/components/field/mixin.scss
Due: stylelint --fix

Adjust WebP and lazyloading support for product tile gallery
  src/components/tile-gallery/tile-gallery.scss
  src/components/tile-gallery/tile-gallery.ts
Due: stylelint --fix, prettier --write, tslint --fix

M2C-3215 Migrate CMS pages teaser to new image teaser
  src/etc/view.xml
Due: none

Storelocator IE11 fixes
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

Storelocator IE11 fixes
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: prettier --write, tslint --fix

Fix product questions IE and Chrome bugs
  src/Aheadworks_Pquestion/web/css/product-questions.scss
  src/components/field/mixin.scss
Due: stylelint --fix

Add note incl. Vat below grand total
  src/Magento_Checkout/layout/checkout_cart_index.xml
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Checkout/web/js/cart/totals/grand-total-tax-note.js
  src/Magento_Checkout/web/js/view/summary/grand-total-tax-note.js
  src/Magento_Checkout/web/template/cart/totals/grand-total-tax-note.html
  src/Magento_Checkout/web/template/summary/grand-total-tax-note.html
  src/components/cart/cart-summary/cart-summary.scss
  src/components/checkout/checkout.scss
Due: stylelint --fix, prettier --write, tslint --fix

Make discounted price red
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/components/buybox/buybox.scss
Due: stylelint --fix, prettier --write, tslint --fix

Remove unnecessary spacing on button component. Use component-spacing mixin instead.
  src/components/button/button.scss
Due: stylelint --fix

Code refactor
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Align tax note in checkout to the right
  src/components/checkout/checkout.scss
Due: stylelint --fix

IE11 did not calculate height properly - decrease height of dtore list to make sure it fits the map
  src/MageSuite_StoreLocator/web/css/store-locator.scss
Due: stylelint --fix

Fixing bugs
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix

NKD-758 Adjust logic for image teaser in product-grid
  src/components/grid-layout/grid-layout.ts
Due: prettier --write, tslint --fix

M2C-2843: revert overflow hidden for carousels
  src/components/container/container.scss
  src/config/base.scss
Due: stylelint --fix

Mark swatch if there is only one option
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Style stores switcher
  src/Magento_Store/templates/switch/stores.phtml
  src/Magento_Theme/layout/default.xml
  src/components/dropdown-switcher/dropdown-switcher.scss
  src/components/footer/footer.scss
  src/web/images/icons/flag_at.svg
  src/web/images/icons/flag_cz.svg
  src/web/images/icons/flag_hr.svg
  src/web/images/icons/flag_it.svg
  src/web/images/icons/flag_si.svg
Due: stylelint --fix

Fix z-index for cookie box
  src/components/cookie-message/cookie-message.scss
Due: stylelint --fix

Fix _SelectSwatchesBasedOnReferrer method
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

M2C-3038 Enable support for floating teasers on ie11
  src/components/grid-layout/grid-layout.ts
Due: prettier --write, tslint --fix

M2C-3593 [PDP] Wrong color of Reviews and PQ tabs (on mobiles)
  src/components/product-details/product-details.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
