Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

feat: [NKD-4766] A11y, Add to cart - hide additional labels for screen readers
  src/Magento_Catalog/templates/addtocart/button.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4760] A11y, Address form translations
  src/Magento_Customer/templates/widget/name.phtml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

feat: [NKD-4768] add clip-path to visually hidden rule to improve screen readers behaviour
  src/etc/changelog.xml
  src/utils/visually-hidden.scss
Due: stylelint --fix

Feat: [LP-2803] Consentmanager integration
  src/components/consent-management/index.ts
  src/components/consent-management/vendor/consentmanager.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat: [NKD-4749] A11y, Product slide gallery - keyboard support
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/MageSuite_ProductSlideGallery/web/js/templates.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4749] A11y, Qty increment keyboard support
  src/components/qty-increment/qty-increment.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [NKD-4622] A11y, Storelocator accessibility adjustments
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/form-mini.js
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [NKD-4616] A11y, Checkout landmark introduced
  src/Magento_Checkout/web/template/progress-bar.html
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

fix: [NKD-4574] Fix wrong icon path in cart items renderer layout file
  src/Magento_Checkout/layout/checkout_cart_item_renderers.xml
  src/etc/changelog.xml
Due: none

feat: [RK-1858] a11y - remove obsolete attributes from pagination arrows when they're not clickable
  src/Magento_Theme/templates/html/pager.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4808] A11y, Offcanvas - close on esc keydown
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4749] A11y, Qty increment input - prevent default on Enter key pressed
  src/components/qty-increment/qty-increment.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4726] A11y, Desktop navigation - close flyout on Esc key
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/components/navigation/navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4725] A11y, Focus indicator
  src/config/base.scss
  src/etc/changelog.xml
  src/utils/focus-indicator.scss
Due: stylelint --fix

fix: [NKD-4716] A11y, Checkout agreement - focus on error
  src/Magento_CheckoutAgreements/web/js/model/agreement-validator-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [NKD-4676] A11y, Minicart - clear ARC errors regarding 1.3.2 criterion
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/etc/changelog.xml
  src/web/js/dropdown-ext.js
Due: prettier --write, tslint --fix

fix: [NKD-4590] A11y, ATC button adjustments
  src/Magento_Catalog/templates/addtocart/button.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4572] a11y - improve quantity label in minicart
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

feat: [NKD-4574] a11y - fix cart issues
  src/components/cart/cart-table/cart-table.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [NKD-4575] a11y - fix cart issues in tables
  src/Magento_Checkout/templates/cart/form.phtml
  src/Magento_Checkout/web/template/cart/totals/grand-total-tax-note.html
  src/components/cart/cart-summary/cart-summary.scss
  src/components/cart/cart-table/cart-table.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [RK-1861] override shopping assistance checkbox template
  src/Magento_Customer/templates/form/register.phtml
  src/Magento_LoginAsCustomerAssistance/templates/shopping-assistance.phtml
  src/etc/changelog.xml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
