Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix: [LP-1860] remove validation from product tile
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix(checkout): [MGS-4757] fix scrolling for checkout modals
  src/components/modal/modal.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [IPET-1668] Fix refreshing mobile navigation after clear navigation cache
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat [RK-483] Disabled category URLs
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
Due: none

fix: [HAKA-1779] add missing import to plugin company
  src/entries/plugincompany-form.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix(UA): [HAKA-1778] add missing email validation
  src/Magento_Customer/web/js/change-email-password-ext.js
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [NKD-3492] Preselected swatch on PDP cause error with validation
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [RK-292] Display symbol based cms content
  src/components/product-details/product-details.scss
Due: stylelint --fix

feat: [RK-451] Add optional wysiwyg editor to teaser slogan and description
  src/components/image-teaser/image-teaser.scss
  src/etc/view.xml
Due: stylelint --fix

Add changelog
  src/components/image-teaser/image-teaser.scss
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix

Adjust changelog
  src/etc/changelog.xml
Due: none

fix: [MGS-4812] >Hide swatches and rating error message if swatch or rating is selected
  src/components/reviews/reviews.scss
  src/components/swatches/swatches.scss
  src/etc/changelog.xml
Due: stylelint --fix

Add changelog
  src/etc/changelog.xml
Due: none

fix: [RK-598] remove Go to tablet link for categories that have url disabled
  src/MageSuite_Navigation/templates/main/list.phtml
  src/etc/changelog.xml
Due: none

fix: [RK-598] remove Go to tablet link for categories that have url disabled
  src/etc/changelog.xml
Due: none

fix: [MGS-4792 Content Constructor component is sticked to description]
  src/components/product-details/product-details.scss
  src/config/variables.scss
  src/etc/changelog.xml
  src/utils/component-spacing.scss
Due: stylelint --fix

Adjust code
  src/components/product-details/product-details.scss
  src/config/variables.scss
  src/utils/component-spacing.scss
Due: stylelint --fix

Update changelog.xml
  src/etc/changelog.xml
Due: none

fix: [MGS-4737] Fix brand position on product tile list view
  src/components/product-tile-list/product-tile-list.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-5041] Show configuration panel for standard bundle products
  src/etc/changelog.xml
  src/pages/product/product.scss
Due: stylelint --fix

fix: [MGS-4514] Add missing breadcrumbs in User Area
  src/Magento_Review/layout/review_customer_view.xml
  src/Magento_Sales/layout/sales_order_view.xml
  src/etc/changelog.xml
Due: none

fix: [KRG-2436] Clear global messages before adding product to the cart
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix(minicart): [HAAR-3337] remove disabling class for qty increment button
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
Due: none

feat: [RK-498] Add delay for input validation while editing
  src/Magento_Ui/web/js/form/element/abstract-ext.js
  src/components/field/field.scss
  src/components/field/mixin.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-5013] Remove unnecessary space below in-store pickup tab in checkout
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [RK-606] disable moving viewport up when url is disabled
  src/MageSuite_Navigation/templates/main/bar.phtml
Due: none

fix: [RK-606] Tag added to changelog
  src/etc/changelog.xml
Due: none

fix: [MGS-4798] Fix price style for bundle items in checkout summary
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [KRG-2456] Adjust entries order (tabs)
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/pdp.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [IPET-1690] Fix review summary in buybox
  src/Magento_Review/templates/helper/summary.phtml
  src/Magento_Review/templates/summary.phtml
Due: none

Add changelog
  src/Magento_Ui/web/js/form/element/abstract-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [MGS-4770] Fix update wishlist layout for simplified and standard bundles
  src/Magento_Wishlist/layout/wishlist_index_configure_type_bundle.xml
  src/Magento_Wishlist/layout/wishlist_index_configure_type_simplified_bundle.xml
  src/etc/changelog.xml
Due: none

Update checkout.scss
  src/components/checkout/checkout.scss
Due: stylelint --fix

Adjust code
  src/Magento_Wishlist/layout/wishlist_index_configure_type_bundle.xml
  src/Magento_Wishlist/layout/wishlist_index_configure_type_simplified_bundle.xml
Due: none
