Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Clean code
  src/Magento_Theme/layout/default.xml
  src/components/notification-panel/notification-panel.scss
  src/components/pwa-a2hs-guide/pwa-a2hs-guide.scss
  src/entries/checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

Optimize icons
  src/entries/category.ts
  src/web/images/icons/notification-panel/icon_close.svg
Due: prettier --write, tslint --fix

Add changelog
  src/etc/changelog.xml
Due: none

chore: move @use scss declaration to top as required by builder
  src/config/breakpoints.scss
Due: stylelint --fix

feat: [IPET-866] Add styles for Magesuite File Attachments module
  src/components/product-details/attachments/attachments.scss
  src/components/product-details/attachments/index.ts
  src/entries/pdp.ts
  src/web/images/icons/file.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat: Add frontend files
  src/components/product-details/attachments/attachments.scss
Due: stylelint --fix

provide styles for product atatchments module
  src/components/product-details/attachments/attachments.scss
  src/i18n/de_DE.csv
  src/i18n/fr_FR.csv
Due: stylelint --fix

provide styles for product atatchments module
  src/config/breakpoints.scss
  src/web/images/icons/file.svg
Due: stylelint --fix

Remove empty line
  src/components/product-details/attachments/attachments.scss
Due: stylelint --fix

Fix linting bug
  src/components/product-details/attachments/attachments.scss
Due: stylelint --fix

Add attachment placeholder
  src/components/product-details/attachments/attachments.scss
  src/web/images/icons/attachment.svg
Due: stylelint --fix

feat: [IPET-866] Add styles for Magesuite File Attachments module
  src/components/product-details/attachments/attachments.scss
  src/components/product-details/attachments/index.ts
  src/entries/pdp.ts
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/fr_FR.csv
  src/web/images/icons/attachment.svg
Due: stylelint --fix, prettier --write, tslint --fix

chore: remove html-select unused styles
  src/components/toolbar/limiter.scss
  src/components/toolbar/toolbar.scss
Due: stylelint --fix

feat: [IPET-1422] Add data-product-id to buybox wishlist icon
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
Due: none

feat: [MGS-4567] Restyle PWA guide and notification panel on success page (slim version)
  src/components/notification-panel/index.ts
  src/components/notification-panel/notification-panel.scss
  src/components/push-notification/index.ts
  src/components/push-notification/push-notification.scss
  src/components/pwa-a2hs-guide/index.ts
  src/components/pwa-a2hs-guide/pwa-a2hs-guide.scss
  src/components/pwa-notification/index.ts
  src/components/pwa-notification/pwa-notification.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/product-compare.ts
  src/etc/changelog.xml
  src/web/images/icons/notification-panel/icon_close.svg
  src/web/images/icons/notification-panel/icon_notification-enabled.svg
  src/web/images/icons/notification-panel/icon_notification-outline.svg
  src/web/images/icons/notification-panel/icon_notification-pending.svg
  src/web/images/icons/notification-panel/icon_notification-rejected.svg
  src/web/images/icons/notification-panel/icon_notification-request.svg
  src/web/images/icons/notification-panel/next.svg
  src/web/images/icons/push-notification/icon_close.svg
  src/web/images/icons/pwa-a2hs-guide/close.svg
  src/web/images/icons/pwa-a2hs-guide/install-desktop.svg
  src/web/images/icons/pwa-a2hs-guide/install.svg
  src/web/images/icons/pwa-a2hs-guide/next.svg
  src/web/images/icons/pwa-a2hs-guide/rebuy.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat: [IPET-1415] Add additional, universal class for buybox add to wishlist icon
  src/Magento_Wishlist/layout/catalog_product_view.xml
  src/etc/changelog.xml
Due: none

fix: Add poper object-fit to file attachments image on PDP
  src/components/product-details/attachments/attachments.scss
Due: stylelint --fix

Merge branch 'fix-file-attchamnet-image-style' into '17.x'
  src/components/product-details/attachments/attachments.scss
Due: stylelint --fix

fix: [MGS-4641] Add proper image width for autocomplete image
  src/components/autocomplete/autocomplete.scss
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix

fix: [MGS-4647, MGS-4645] Fix styling for pwa-a2hs-guide
  src/components/pwa-a2hs-guide/pwa-a2hs-guide.scss
  src/etc/changelog.xml
Due: stylelint --fix

Adjust variable name
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
Due: none

Merge branch 'ipet-1422' into '17.x'
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
Due: none

Update changelog.xml
  src/etc/changelog.xml
Due: none

fix: remove empty line that cause that topbar appears even if it is empty
  src/Magento_Store/templates/switch/languages.phtml
Due: none

feat: [HAAR-2760] Remove custom-modal leftovers and adjust translation for gift card
  src/MageSuite_SuccessPageOrderDetails/web/css/last-order-details.scss
  src/Magento_GiftCardAccount/templates/cart/block.phtml
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-4608] Fix console error when $input does not exist in product tile
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

feat: Restore elastic tracking
  src/Smile_ElasticsuiteTracker/layout/default_head_blocks.xml
  src/Smile_ElasticsuiteTracker/templates/config.phtml
  src/Smile_ElasticsuiteTracker/templates/variables/page.phtml
Due: none

feat: Improve CLS on pdp gallery
  src/Magento_Catalog/templates/product/head/gallery-preload.phtml
  src/Magento_Catalog/templates/product/view/gallery.phtml
  src/components/product-gallery/product-gallery.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat(product-variants): Adjust styles
  src/components/product-variants/product-variants.scss
Due: stylelint --fix

feat: [HAKA-1561] improve SEO: Add custom tag support for product details...
  src/Magento_Catalog/templates/product/view/details.phtml
  src/Magento_Catalog/templates/product/view/main.phtml
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/footer/section.phtml
  src/components/minicart/minicart.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix:[DOG-1331] show checkout agreements if on payment step for virtual product and gift cards
  src/Magento_Checkout/web/js/view/sidebar/before-place-order.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [DOG-1331] show checkout agreements if on payment step for virtual product and gift cards
  src/Magento_Checkout/web/js/view/sidebar/before-place-order.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
