Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Improvements for FAQ extension
  src/Aheadworks_Faq/layout/faq_article_index.xml
  src/Aheadworks_Faq/layout/faq_category_index.xml
  src/Aheadworks_Faq/layout/faq_index_index.xml
  src/Aheadworks_Faq/layout/faq_search_index.xml
  src/Aheadworks_Faq/templates/category.phtml
  src/Aheadworks_Faq/templates/category_list.phtml
  src/Aheadworks_Faq/templates/search/search_results.phtml
  src/Aheadworks_Faq/templates/voting.phtml
  src/Aheadworks_Faq/web/css/faq-index.scss
  src/web/images/icons/faq/icon-arrow.svg
  src/web/images/icons/faq/icon-magnifier.svg
  src/web/images/icons/faq/icon-vote-no.svg
  src/web/images/icons/faq/icon-vote-yes.svg
  src/web/images/icons/faq/magnifier.svg
Due: stylelint --fix

Improvements for cookie message
  src/Magento_Cookie/layout/default.xml
  src/components/cookie-message/cookie-message.scss
Due: stylelint --fix

Set proper line height
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

remove itemref structured data meta tag
  src/Magento_Catalog/templates/product/price/amount/default.phtml
Due: none

Close span tag
  src/Magento_Catalog/templates/product/price/amount/default.phtml
Due: none

Add new breakpoints to category links
  src/components/category-links/category-links.scss
  src/components/proportional-scaler/proportional-scaler.ts
  src/components/teaser/teaser.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Fix switcher position in offcanvas navigation
  src/components/dropdown-switcher/dropdown-switcher.scss
Due: stylelint --fix

Correct back button styling (buton mixin moved on top)
  src/components/product-finder/product-finder.scss
Due: stylelint --fix

As branch name says..
  src/components/reviews/reviews.scss
Due: stylelint --fix

Updated styleguide entry and added styleguide assets to contentconstructor_components_index
  src/MageSuite_ContentConstructor/layout/contentconstructor_components_index.xml
  src/entries/styleguide.ts
Due: prettier --write, tslint --fix

Change media list padding variable and padding reset
  src/components/social-media-list/social-media-list.scss
Due: stylelint --fix

[P2G-565] Fixes create password page layout for dark bg scenario
  src/Magento_Customer/layout/customer_account_createpassword.xml
Due: none

Corrected brand management layout
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
Due: none

[M2C-1843] Hide search flyout when clicking outside the flyout
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

[M2C-2975] Fix missing green checkmark on selected horizontal filters
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/web/images/icons/aftersearch-nav/check.svg
Due: stylelint --fix

M2C - 844: change plus icon color in mobile navigation
  src/components/category-links/category-links-dropdown.scss
Due: stylelint --fix

version bump 4.47.3 - add htmlId anchor to category page
  package.json
Due: none

update creativeshop to 4.47.3
  src/components/repertus-packstation/_repertus-packstation.scss
  src/composer.json
Due: stylelint --fix

Corrected brand page
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
Due: none

M2C - 2989: make dropdown address type wider - desktop
  src/Repertus_Packstation/web/css/repertus-packstation.scss
Due: stylelint --fix

M2C-3404 Redesign minicart flyout
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/Magento_Checkout/web/template/minicart/content.html
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/Magento_Checkout/web/template/minicart/item/price.html
  src/components/minicart-product/minicart-product.scss
  src/components/minicart/minicart.scss
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

M2C - 2930: changed pagination position to centered - mobile
  src/pages/category/category.scss
Due: stylelint --fix

[P2G-663] Adjusted discount badge logic
  src/Magento_Catalog/templates/product/view/badges/sale.phtml
Due: none

M2C-3168: remove additional line under the lasty item in cart
  src/components/cart/cart-bonus/cart-bonus.scss
Due: stylelint --fix

M2C-3404 Redesign minicart flyout: changes to XML vars, scss vars and sidebar-ext.js
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/minicart/minicart.scss
Due: stylelint --fix, prettier --write, tslint --fix

M2C-3454: adjust payment icons in the footer - ie11
  src/components/page-bottom/page-bottom.scss
Due: stylelint --fix

[M2C-3470] Add WebP support through picture tag for product gallery placeholder image
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Fix badges bugs connected with position and optimizer
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

[NKD-517] Added swatches-renderer mixin to select swatches based on referrer url
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

P2G-568 Add company name to ko templates
  src/Magento_Checkout/web/template/billing-address/details.html
  src/Magento_Checkout/web/template/shipping-address/address-renderer/default.html
  src/Magento_Checkout/web/template/shipping-information/address-renderer/default.html
Due: none

M2C-3481 Set equal padding for details toggle
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

M2C-3477 Remove shadow
  src/Magento_Checkout/web/template/minicart/content.html
  src/components/minicart/minicart.scss
Due: stylelint --fix

M2C-3478 Adjust close button in minicart
  src/components/minicart/minicart.scss
Due: stylelint --fix

Remove ES6 shorthand object method notation
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

Increase addtocart feedback background width
  src/components/addtocart/addtocart.scss
Due: stylelint --fix

M2C-2843: remove horizontal scroll on Edge
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/container/container.scss
  src/components/hero/hero.scss
Due: stylelint --fix

M2C-3480 Set font-size for product without URL
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

Enable minicart product qty
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

Make text-align in button mixin configurable
  src/components/button/mixin.scss
Due: stylelint --fix

P2G-378 Fix that checkbox and label for same billing and shipping address is in one line
  src/components/checkout/checkout.scss
Due: stylelint --fix
