Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-5147] Does not use passive listeners in order to improve scrolling performance
  src/requirejs-config.js
  src/web/js/jquery-ext.js
Due: prettier --write, tslint --fix

fix: [TOYS-824] Restric notification-modal styles only when body has _has-modal class
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGP-1099] Fix page jumping after modal is opened
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
  src/components/modal/modal.scss
  src/requirejs-config.js
  src/web/js/modal-ext.js
Due: stylelint --fix, prettier --write, tslint --fix

Add changelog
  src/etc/changelog.xml
Due: none

fix: [MGS-5157, MGS-5159, MGS-5160] Adjust proeuct teaser image and styling
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/entries/cms.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Add changelog
  src/entries/cms.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

Update changelog.xml
  src/etc/changelog.xml
Due: none

Update view.xml
  src/etc/view.xml
Due: none

Automatic update of project files
  .gitlab-ci.yml
Due: none

Automatic update of project files
  .gitlab-ci.yml
  .gitlab/csbot.gitlabci.yml
  .pre-commit-config.yaml
Due: none

fix: Fix lazyload.js file chmod
  src/web/js/vendor/lazyload.js
Due: prettier --write, tslint --fix

Check templates against Magento 2.4.6
  src/Magento_Catalog/templates/product/compare/link.phtml
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Catalog/templates/product/list/items.phtml
  src/Magento_Catalog/templates/product/list/toolbar.phtml
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/sorter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/viewmode.phtml
  src/Magento_Catalog/templates/product/price/amount/default.phtml
  src/Magento_Catalog/templates/product/view/addto.phtml
  src/Magento_Catalog/templates/product/view/addto/compare.phtml
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/Magento_Catalog/templates/product/view/details.phtml
  src/Magento_Catalog/templates/product/view/form.phtml
  src/Magento_Catalog/templates/product/view/gallery.phtml
  src/Magento_Catalog/templates/product/view/type/default.phtml
  src/Magento_CatalogSearch/templates/result.phtml
  src/Magento_Theme/templates/html/breadcrumbs.phtml
  src/Magento_Theme/templates/html/header/logo.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/Magento_Theme/templates/html/skip.phtml
  src/Magento_Theme/templates/html/skiptarget.phtml
  src/Magento_Theme/templates/messages.phtml
  src/Magento_Theme/templates/root.phtml
  src/Magento_Ui/web/template/messages.html
  src/Magento_Weee/web/template/checkout/summary/item/price/row_excl_tax.html
  src/Magento_Wishlist/templates/cart/item/renderer/actions/move_to_wishlist.phtml
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
  src/Magento_Wishlist/templates/email/items.phtml
  src/Magento_Wishlist/templates/item/configure/addto/wishlist.phtml
  src/Magento_Wishlist/templates/item/list.phtml
  src/Magento_Wishlist/templates/link.phtml
Due: none

feat: [MGS-5771] Compatibility with Magento 2.4.6
  src/Magento_Bundle/templates/catalog/product/view/summary.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/radio.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/select.phtml
  src/Magento_Captcha/templates/default.phtml
  src/Magento_Catalog/templates/category/image.phtml
Due: none

Check phtml and html templates against Magento
  src/Magento_Review/templates/customer/list.phtml
  src/Magento_Review/templates/customer/recent.phtml
  src/Magento_Review/templates/customer/view.phtml
  src/Magento_Review/templates/form.phtml
  src/Magento_Review/templates/helper/summary.phtml
  src/Magento_Review/templates/helper/summary_short.phtml
  src/Magento_Review/templates/product/view/list.phtml
  src/Magento_Review/templates/review.phtml
  src/Magento_SalesRule/web/template/cart/totals/discount.html
  src/Magento_SalesRule/web/template/payment/discount.html
  src/Magento_Search/templates/form.mini.phtml
  src/Magento_Shipping/templates/order/shipment.phtml
  src/Magento_Store/templates/switch/languages.phtml
  src/Magento_Store/templates/switch/stores.phtml
Due: none

Update update cart template
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
Due: none

Change icon arrow up name
  src/web/images/icons/icon-arrow-up.svg
Due: none

Update gallery.phtml
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

fix: [MGS-5092] Fix for too tall carousel tiles on tablets for minicart offcanvas carousel
  src/components/minicart/minicart.scss
Due: stylelint --fix

fix: Update product teaser stock styling
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

Automatic update of project files
  .gitlab/csbot.gitlabci.yml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
