Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

LP-324 Add brand data to order summary in Step 2 of Checkout
  src/Magento_Checkout/web/js/view/summary/item/details-ext.js
  src/Magento_Checkout/web/template/summary/item/details.html
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Add server side rendered swatches
  composer.json
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Add missing magesuite styles for amazon login page
  src/Amazon_Login/layout/amazon_login_login_processauthhash.xml
Due: none

MSCST-7 Replace footer usps component with CMS block based icon component
  src/MageSuite_ContentConstructorFrontend/layout/checkout_index_index.xml
  src/MageSuite_ContentConstructorFrontend/layout/default.xml
  src/MageSuite_ContentConstructorFrontend/layout/print.xml
  src/MageSuite_ContentConstructorFrontend/templates/usps.phtml
  src/MageSuite_ContentConstructorFrontend/web/images/usp-1.svg
  src/MageSuite_ContentConstructorFrontend/web/images/usp-2.svg
  src/MageSuite_ContentConstructorFrontend/web/images/usp-3.svg
  src/MageSuite_ContentConstructorFrontend/web/images/usp-4.svg
  src/MageSuite_ContentConstructorFrontend/web/images/usp-5.svg
  src/MageSuite_ContentConstructorFrontend/web/images/usp-6.svg
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/layout/print.xml
  src/components/container/container.scss
  src/components/usps/index.ts
  src/components/usps/usps.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
Due: stylelint --fix, prettier --write, tslint --fix

LP-620 Include styling for invoice and shipment pages in Order view
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Improve offcanvas navigation performance when opening it
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

Optimize offcanvas navigation even more
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: stylelint --fix, prettier --write, tslint --fix

[P2G-1292] Adjust order comment template to match other blocks
  src/Bold_OrderComment/templates/order/view/comment.phtml
Due: none

[LP-632] Fixes formKey issue for offcanvas minicart carousel with dynamically loaded products
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

Fix footer usps block name as footer.usps.container no longer exists
  src/MageSuite_Frontend/layout/frontend_styleguide_index.xml
Due: none

[LP-632] Fixes formKey issue for offcanvas minicart carousel with dynamically loaded products - optimized
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

Improve performance
  src/components/dailydeal/index.ts
  src/web/js/vendor/inline-svg.js
Due: prettier --write, tslint --fix

Fix bug where inactive subcategories could be scrolled
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

[LP-631] Fixes cta btn animation leak in offcanvas minicart products carousel
  src/components/addtocart/addtocart.ts
Due: prettier --write, tslint --fix

LP-645 Add no filters available message in POP sidebar
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

Added dynamic blocks cc to view.xml
  src/etc/view.xml
Due: none

[LP-648] Fixes limitation and count items in minicart and count items in checkout summary
  src/Magento_Checkout/web/template/minicart/content.html
  src/Magento_Checkout/web/template/summary/cart-items.html
Due: none

Do not display subcategories lists in offcanvass
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

Revert "Do not display subcategories lists in offcanvass"
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

Improved nosto-products-renderer logic
  src/components/nosto-products-renderer/nosto-products-renderer.ts
Due: prettier --write, tslint --fix

Add possibility to define default button type depends on image teaser text style (light / dark)
  src/components/button/mixin.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Simplify option to define default button type depends on image teaser text style (light / dark) + fix button animation depends on button font size
  src/components/button/animation.scss
  src/components/button/mixin.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

[P2G-1284] fix translations and add enable/disable option in view.xml for IE 11 modal
  src/components/ie11-modal/ie11-modal.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

MGS-4007 Fix DOB field in Checkout Success Page
  src/components/field/field.scss
  src/components/field/hook.scss
  src/components/field/mixin.scss
  src/entries/checkout.ts
  src/pages/success/success.scss
Due: stylelint --fix, prettier --write, tslint --fix

Offcanvas navigation - Fix a bug in showCategoryLevel method
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

[LP-389] Adds option for dynamically created catgory link in offcanvas minicart products carousel overlay
  src/components/minicart/minicart-offcanvas.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

LP-672 Change field dob label display from inline to block
  src/pages/success/success.scss
Due: stylelint --fix

Add basic styles for pwa notifications form
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Remove comment from pwa-notification style file
  src/components/pwa-notification/pwa-notification.scss
Due: stylelint --fix

[LP-680] Fixes issue with console error when removing the last product from offcanvas minicart
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

Prevent root category in offcanvas from disappearing
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

HAAR-2140 Adjust swatches attributes naming
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
Due: prettier --write, tslint --fix

Fix issue with not showing first level of navigation
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

Add state & styles for disable button in qty increment
  src/components/qty-increment/qty-increment.scss
  src/components/qty-increment/qty-increment.ts
Due: stylelint --fix, prettier --write, tslint --fix

[offcanvas] Correct scrolling for first level of navigation to be always auto
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

Giftcard adjustment - do not show details in minicart, remove button on cart page
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/cart/cart-summary/cart-summary.scss
Due: stylelint --fix

MGS-4009 Move addtocart initialization to MGS Product Tile module
  src/Magento_Catalog/templates/product/list.phtml
Due: none

HAAR-2144 Add misssing translation directive to badge on tile
  src/MageSuite_ProductTile/layout/product_tile.xml
Due: none

HAKA-200 Change offcanvas carousel headline id
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
Due: none

[MGS-4001] Moved discount logic to separate module
  src/MageSuite_ProductTile/templates/fragments/badge.phtml
  src/Magento_Catalog/templates/product/view/badges/sale.phtml
Due: none
