Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix(Magento_Catalog/templates/addtocart/button.phtml): Change comments style to avoid Magento html minify error
  src/Magento_Catalog/templates/addtocart/button.phtml
Due: none

Removes duplicated php code comment
  src/Magento_Catalog/templates/addtocart/button.phtml
Due: none

feat: [KRG-1775] Add separate file that is needed to build css with local @font-face
  src/config/fonts.scss
Due: stylelint --fix

feat: [MGS-4237] Add list of bundle items in description for simplifoed bundles.
  src/Magento_Bundle/layout/catalog_product_view_type_simplified_bundle.xml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/included-items.phtml
Due: none

feat!: [LP-979] Add elastic offcanvas filters
  src/Smile_ElasticsuiteCatalog/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCatalog/templates/layer/offcanvas.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/etc/view.xml
  src/pages/category/category.scss
Due: stylelint --fix

fix: [MGS-4238] Remove not ready magento low stock indicator
  src/Magento_InventoryConfigurableProductFrontendUi/layout/catalog_product_view_type_configurable.xml
Due: none

chore: Remove 3step-checkout styles
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/header/header.scss
Due: stylelint --fix

fix: [MGP-37] Fix youtube label
  src/Magento_Theme/layout/default.xml
Due: none

fix: [KRG-1835] Add simplifoed layout for configuring simplifoed products
  src/Magento_Checkout/layout/checkout_cart_configure_type_simplified_bundle.xml
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
Due: none

Revert "Merge branch 'krg-1775-use-fonts-locally' into 'next'"
  src/config/fonts.scss
Due: stylelint --fix

feat: Use preload for loading fonts
  src/Magento_Theme/templates/head/fonts.phtml
Due: none

fix: [MGP-37] Styling improvements for footer section
  src/Magento_Theme/templates/footer/section.phtml
  src/components/footer/footer.scss
  src/components/newsletter/newsletter.scss
  src/components/page-bottom/page-bottom.scss
  src/components/social-media-list/social-media-list.scss
Due: stylelint --fix

feat: [HAAR-2527] Add class to body when offcanvas minicart open
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

fix(product-comparison): [MIC-397] Column in comparison are not equal
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/components/product-compare/product-compare.scss
Due: stylelint --fix

fix: [KRG-1840] Fix breadcrumbs for newsletter and orders in user area
  src/Magento_Newsletter/layout/newsletter_manage_index.xml
  src/Magento_Sales/layout/sales_order_history.xml
Due: none

fix: [MGP-44] Fix in order to import only teaser pagination mixins ins product gallery
  src/components/product-gallery/product-gallery.scss
  src/components/teaser/mixins/pagination.scss
Due: stylelint --fix

feat: Preload first gallery image to increase LCP
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/head/gallery-preload.phtml
Due: none

fix: Set mobile offcanvas breakpoint as tablet
  src/pages/category/category.scss
Due: stylelint --fix

fix: Add space above page title for contact page
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix: Add magesuite classes to configure wishlist link
  src/Magento_Wishlist/layout/wishlist_index_configure.xml
  src/Magento_Wishlist/templates/item/configure/addto/wishlist.phtml
Due: none

remove German HTML comment from root template
  src/Magento_Theme/templates/root.phtml
Due: none

Revert "Merge branch 'pr-84' into 'next'"
  yarn.lock
Due: none

Update yarn.lock
  yarn.lock
Due: none

feat: Preload category image if exists to increase LCP
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/Magento_Catalog/templates/category/head/image-preload.phtml
Due: none

[NKD-2054] Remove box-shadow from the offcanvas minicart spinner
  src/components/minicart/minicart.scss
Due: stylelint --fix

[P2G-1424] Sets new area for product-tile inside mini-wishlist
  src/Magento_Wishlist/templates/bottom.phtml
Due: none

[P2G-1566] Sets default pseudoicon type for close button icon in offcanvas minicart
  src/components/minicart/minicart.scss
Due: stylelint --fix

Remove Magento framework dependency
  composer.json
Due: none

fix(reorder-banner): Fix banner close btn styles
  src/components/reorder-banner/reorder-banner.scss
Due: stylelint --fix

MIC-387 [Guest Wishlist] [Mobile] The Wishlist link makes it possible to move the page right / left
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix(ua): [GNP-731] Remove lists related styling for qty element in order items table
  src/components/dashboard/dashboard.scss
  src/components/table/mixin.scss
  src/components/table/table.scss
Due: stylelint --fix

Fixes npm modules installation process (or rather workarounds)
  package.json
  yarn.lock
Due: none

frefactor: [MGP-36] TopBar component code improvements
  src/Magento_Theme/layout/print.xml
  src/components/buybox/buybox.scss
  src/components/topbar/topbar.scss
Due: stylelint --fix

Update gulp-sass to compatable to version compatable with python3
  package.json
Due: none

Add sass-node to build styles
  gulp/tasks/build/styles.js
  package.json
  yarn.lock
Due: none

fix(product-compare): MIC-399 [Offcanvas Cart][Comparison] Endless loading in offcanvas cart
  src/entries/product-compare.ts
Due: prettier --write, tslint --fix

fix(checkout): [P2G-1584] Update overwritten template of Bold_OrderComment module, remove it from payment list
  src/Bold_OrderComment/layout/checkout_index_index.xml
  src/Bold_OrderComment/web/template/checkout/order-comment-block.html
Due: none

fix: [MGP-68] Introduce possibility to change breakpoint which alters the appearance of filters
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/components/aftersearch-nav/aftersearch-nav.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix
