Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Chaneg const into var
  src/MageSuite_StoreLocator/web/js/form-mini.js
Due: prettier --write, tslint --fix

Remove double-strike of old-price
  src/components/buybox/buybox.scss
Due: stylelint --fix

Add padding bottom to swatches on product tile
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

UEFA-272 Add Alipay logo
  src/Customweb_ComputopCw/web/template/payment/computopcw_alipay.html
  src/sprites/svg/alipay.svg
Due: none

Don't trigger clicks on swatches outside of buybox
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Update composer.json
  src/composer.json
Due: none

[KRG-146] Adds text position config. in view.xml for cms-teaser component
  src/etc/view.xml
Due: none

Remove margin bottom from quantity input, add margin left to qty-increment button
  src/components/bundle-box/bundle-box.scss
Due: stylelint --fix

DC-110 Fix product finder tiles on ipad, iphone
  src/components/product-finder/product-finder.scss
Due: stylelint --fix

Add left margin to bundle customization
  src/pages/product/product.scss
Due: stylelint --fix

UEFA-316 Remove scroll from shipping methods in edge
  src/customizations/checkout/_checkout.scss
Due: stylelint --fix

DC-108 Fix qty input for bundles on IE11
  src/components/bundle-box/bundle-box.scss
  src/components/qty-increment/qty-increment.scss
Due: stylelint --fix

Magesuite demo bugs
  src/MageSuite_BrandManagement/web/css/brands-index.scss
  src/components/cart/cart-item/cart-item.scss
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Magesuite demo bugs
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

UEFA-313 Add visibility hidden
  src/components/collapse/_collapse.scss
Due: stylelint --fix

Add possibility to add different label and styling for account icon in header logged in user
  src/Magento_Customer/layout/default.xml
  src/Magento_Customer/templates/link.phtml
Due: none

Add possibility to differ fonts in header for logged in and logged out users
  src/Magento_Customer/layout/default.xml
  src/Magento_Customer/templates/link.phtml
Due: none

Add possibility to differ fonts in header for logged in and logged out users
  src/Magento_Customer/templates/link.phtml
Due: none

Make required swatch message more informative
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Fix Safari tablet bug with storefinder map
  src/MageSuite_StoreLocator/web/css/store-locator.scss
Due: stylelint --fix

Change wording for saving billing address in checkout
  src/Magento_Checkout/web/template/billing-address/actions.html
Due: none

Change syntax for swatcch translation
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Pass proper state block name to serachresults page
  src/Magento_LayeredNavigation/layout/catalogsearch_result_index.xml
Due: none

M2C-3385 Adjust buttons on mobiles to full width
  src/components/button/mixin.scss
  src/components/checkout/checkout.scss
Due: stylelint --fix

Revert "Merge branch 'hotfix-buttons-width-mobile-m2c-3385' into 'next'"
  src/components/button/mixin.scss
  src/components/checkout/checkout.scss
Due: stylelint --fix

Fixes breadcrumbs vars
  src/components/breadcrumbs/breadcrumbs.scss
Due: stylelint --fix

M2C-3070 [UA] I can't remove product from Miniwishlist
  src/Magento_Wishlist/templates/bottom.phtml
Due: none

Removed PHP version constraint
  composer.json
Due: none

M2C-3152 [1st&2nd step of checkout] Make correct paddings on mobiles
  src/components/checkout/checkout.scss
Due: stylelint --fix

Daily deal progrss bar
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/dailydeal/dailydeal.ts
Due: stylelint --fix, prettier --write, tslint --fix

M2C-3704 Adjust qty increments border color - cart
  src/components/qty-increment/qty-increment.scss
Due: stylelint --fix

Do not trigger any changes on mouseenter and mouseleave for touch devices
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

M2C-3704 Fix error msg for qty increment in cart
  src/components/cart/cart-item/cart-item.scss
Due: stylelint --fix

Change size and position of icon due to prevent it from cutting on ie11
  src/web/images/icons/edit_color.svg
Due: none

Add universal date validation
  src/web/mage/validation.js
Due: prettier --write, tslint --fix

Fixed wishlist caching
  src/Magento_Wishlist/templates/bottom.phtml
  src/Magento_Wishlist/templates/item/list.phtml
Due: none

M2C-3700 Refactor sticky-block and sticky component
  src/components/dashboard/index.ts
  src/components/sticky-block/index.ts
  src/components/sticky-block/sticky-block.ts
  src/components/sticky/sticky.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

M2C-3603 Refactor tile gallery loading indicator
  src/web/images/icons/tile-gallery/tile-gallery-spinner.svg
Due: none

Add requireAsync function due to load bootstrapSelect module lazily
  src/components/select/select.ts
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
