Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix(swatches): Hide error messages about missing swatch selection
  src/components/swatches/swatches.scss
Due: stylelint --fix

fix(swatch-renderer-ext): Only display/hide price tooltips of the clicked product tile cell, not of all cells
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

fix(swatch-renderer-ext): Make prices be updated also in list mode view
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

fix: [KRG-1413] [Image teaser] Parse carouselBreakpoint value from etc/view.xml file as number
  src/components/image-teaser/image-teaser.ts
Due: prettier --write, tslint --fix

feat: [Brand Page] Adds support for sorter within filters for brand pages - template adjustment for Magesuite_Sorting
  src/MageSuite_Sorting/layout/brands_index_index.xml
Due: none

LP-844 - Investigate possibility of adding placeholder for product navigation - update placeholder calculation
  src/components/product-gallery/product-gallery.scss
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

fix: [KRG-1406][Checkout] Fix visibility isuue when dhl packstation checked
  src/components/checkout/checkout.scss
Due: stylelint --fix

chore: Remove useless declaration
  src/Magento_Store/layout/default.xml
Due: none

fix: TT-456 Fixed product grid items dimensions on wishlist share email
  src/Magento_Wishlist/templates/email/items.phtml
  src/etc/view.xml
  src/web/css/source/_email-extend.less
Due: none

chore: [MGS-4128] Remove unusewd $isMediaQueryScopeSet variables
  src/Magento_Customer/templates/account/navigation.phtml
  src/Magento_Theme/templates/footer/section.phtml
Due: none

fix: [KRG-1407] Add missing cms_page rendererList parameters to offcanvas search flyout
  src/MageSuite_Navigation/layout/navigation_mobile_index.xml
Due: none

fix: [TT-549] Adds missing label XML argument for filters trigger on mobiles. Affects search results page only
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
Due: none

fix(navigation-overlay): [LED-2093] Fixed desktop navigation overlay
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

P2G-1449 - [Improvement] Highlight after bonus is reached
  src/components/cart/cart-bonus/cart-bonus.scss
Due: stylelint --fix

fix: [HAKA-1017] Remove parentheses in summary count when basket is empty
  src/Magento_Checkout/web/template/minicart/content.html
  src/components/minicart/minicart.scss
Due: stylelint --fix

fix: [KRG-1465] Fix biubox height when swatches validation modal is closed
  src/Magento_Catalog/web/js/swatches-validation-ext.js
  src/Magento_Swatches/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

fix: [NO-TICKET] Makes label of checkout agreement clickable
  src/Magento_CheckoutAgreements/web/js/view/checkout-agreements-ext.js
Due: prettier --write, tslint --fix

fix: [KRG-1470] Initialize HeaderSearch component for offcanvas navigation
  src/MageSuite_Navigation/templates/offcanvas/search.phtml
  src/components/header/search/index.ts
  src/components/header/search/search.ts
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

fix: [MGS-4025] Fix product-variant select visibility and include unused line-height variable
  src/components/buybox/buybox.scss
Due: stylelint --fix

Add proper description to headerr variable in etc/view.xml
  src/etc/view.xml
Due: none

fix: Fix search in offcanvas - make it more flexible by using variable
  src/components/autocomplete/autocomplete.scss
  src/components/header/user-nav/user-nav.scss
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-toggle/offcanvas-toggle.scss
  src/config/variables.scss
Due: stylelint --fix

feat: Add missing link decoration variables to link mixin in authorization-link and tobpar components
  src/components/authorization-link/authorization-link.scss
  src/components/topbar/topbar.scss
Due: stylelint --fix

fix: [LED-2022] Fix positive indicator iicon url and add reset-list-style for PDP badges
  src/MageSuite_ProductPositiveIndicators/templates/fastshipping/product.phtml
  src/pages/product/product.scss
Due: stylelint --fix

fix(toolbar): [LED-2186] Add new var for toolbar items positioning - fix toolbar items alignment for >=tablet widths
  src/components/toolbar/toolbar.scss
Due: stylelint --fix

fix: [LED-2022] Use link mixin in product nav
  src/components/product-details/nav/nav.scss
Due: stylelint --fix

feat: [SCAFA-236] Add variable for using native search inputs elements
  src/config/base.scss
  src/config/variables.scss
Due: stylelint --fix

Add missing default flags
  src/components/products-list/products-list.scss
Due: stylelint --fix

Add version 11.0.1 to packages.json
  package.json
Due: none

fix(Magento_Catalog/templates/addtocart/button.phtml): Change comments style to avoid Magento html minify error
  src/Magento_Catalog/templates/addtocart/button.phtml
Due: none

feat: [MIC-113] Add option to define custom note instead of display default badge for invisible google recaptcha functionality
  src/Magento_Newsletter/templates/subscribe.phtml
  src/components/google-recaptcha/google-recaptcha.scss
  src/components/google-recaptcha/index.ts
  src/components/newsletter/newsletter.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/pdp.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add extended recaptcha module
  composer.json
Due: none

fix: [LED-2022] Add translation in product question
  src/Aheadworks_Pquestion/templates/question/form.phtml
Due: none

fix: [LED-2022] Update cc classes, fix carousel when displayed as list, update checkout agreements to pass optional height
  src/Magento_Catalog/templates/product/list/items.phtml
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
  src/Magento_CheckoutAgreements/web/template/checkout/checkout-agreements.html
  src/components/products-carousel/products-carousel.scss
Due: stylelint --fix

fix: [LED-2225] Include discount lock arguments in order to load it properly in Paypal Express Review
  src/Magento_Paypal/layout/paypal_express_review.xml
Due: none

fix: [LED-2322] Update Aheadworks Faq module (remove unused templates and fix collapsible)
  src/Aheadworks_Faq/layout/faq_article_index.xml
  src/Aheadworks_Faq/layout/faq_category_index.xml
  src/Aheadworks_Faq/templates/category_list.phtml
  src/Aheadworks_Faq/templates/messages/voteNoSuccessMessage.phtml
  src/Aheadworks_Faq/templates/voting.phtml
  src/Aheadworks_Faq/web/css/faq-index.scss
Due: stylelint --fix

feat:(social-media-links) adds rel attr with 'nofollow, noopener' value and target _blank to all social media links
  src/Magento_Theme/templates/social-media-list.phtml
Due: none

fix(daily-deal): [LED-2173] Fix for product-tile price element variable assignment
  src/components/dailydeal/dailydeal.ts
Due: prettier --write, tslint --fix

feat(lazyloading): Used different tool for lazyloading for better performance
  src/Magento_Theme/layout/default_head_blocks.xml
  src/bundle.scss
  src/customizations/lazyload/_lazyload.scss
  src/vendors/lazyload.js
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

chore: Fix code linting
  src/components/address-autofill/address-autofill.ts
  src/components/cart/cart.ts
  src/components/searchresults-switcher/searchresults-switcher.ts
  src/customizations/category-page/_category-page.scss
  src/customizations/image-teaser/image-teaser.ts
  src/customizations/indicators/fast-shipping.ts
  src/customizations/offcanvas-navigation/content-setter.ts
  src/customizations/pagination/pagination.ts
  src/customizations/swatches/_swatches.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat(product-gallery): Adjust gallery placeholder to Magento changes
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
