Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Fix xml variables convention. Fix autosuggest on desktops
  src/components/autocomplete/autocomplete.scss
  src/components/header/header.scss
  src/config/variables.scss
  src/etc/view.xml
Due: stylelint --fix

[NKD-1887] ProductsCarousel: Ensure itemsPerView is an integer if pointing to a number
  src/components/products-carousel/products-carousel.ts
Due: prettier --write, tslint --fix

HAKA-395 3step-checkout adjustments
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/header/header.scss
  src/components/3step-checkout/shipping/shipping.scss
  src/components/3step-checkout/summary/summary.scss
  src/components/3step-checkout/variables.scss
Due: stylelint --fix

Set new header variables to false
  src/etc/view.xml
Due: none

Fix modal wordings, positioning and update Edge logo
  src/components/ie11-modal/ie11-modal.scss
  src/components/ie11-modal/ie11-modal.ts
  src/web/images/browser/edge.svg
Due: stylelint --fix, prettier --write, tslint --fix

Move search input into offcanvas
  src/MageSuite_Navigation/layout/navigation_mobile_index.xml
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/MageSuite_Navigation/templates/offcanvas/search.phtml
  src/Magento_Theme/templates/html/offcanvas-toggle.phtml
  src/Smile_ElasticsuiteCms/layout/default.xml
  src/components/autocomplete/autocomplete.scss
  src/components/header/search/search.scss
  src/components/header/user-nav/user-nav.scss
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-toggle/offcanvas-toggle.scss
  src/config/variables.scss
  src/etc/view.xml
  src/web/images/icons/offcanvas-toggle/icon-menu-search.svg
Due: stylelint --fix

Post DailyDeal initialization fix (1ad6b52e) cleanup
  src/etc/view.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

[LP-735] Adds link to review section for PDP buybox review summary (star-rating)
  src/Magento_Review/templates/helper/summary.phtml
  src/Magento_Review/templates/rating-stars.phtml
Due: none

[HAKA-114] Related products list (with checkboxes) in buybox
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/components/buybox/index.ts
  src/components/buybox/related-products.scss
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

[HAAR-2241] Breadcrumbs slashes are missing
  src/components/breadcrumbs/breadcrumbs.scss
Due: stylelint --fix

NKD-1953 Fixed offcanvas regression+ updated yarn.lock
  src/components/offcanvas/offcanvas.scss
  yarn.lock
Due: stylelint --fix

NKD-1952 Fixed regression in ofcanvass minicart
  src/components/offcanvas/offcanvas.scss
Due: stylelint --fix

Removes margin from navigation teaser (fixes regressions after CC changes)
  src/components/navigation/navigation.scss
Due: stylelint --fix

[LP-542] Adds reading modes to accordion component
  src/components/accordion/accordion.scss
Due: stylelint --fix

[SCAFA-166] Ensure the currency symbol is positioned within the filter input area on phone and tablet
  src/components/aftersearch-nav/range.scss
Due: stylelint --fix

NKD-1953 Fix offcanvas scroll regression
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

[P2G-1358] Change Comment to Order comment in order-comment-block to avoid translation conflicts
  src/Bold_OrderComment/web/template/checkout/order-comment-block.html
Due: none

[Navigation] Apply category identifier to all levels instead only 1st one. Add condition to not render attribute at all if not available
  src/MageSuite_Navigation/templates/main/list.phtml
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
Due: none

[Header UA] Adds additional modifier for icon-wrapper if Wishlist/Cart is not empty to indicate status with icons
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_Wishlist/templates/link.phtml
Due: none

[Hotfix - Grid] Prevent items overflowing css-grid
  src/components/grid-layout/grid-layout.scss
Due: stylelint --fix

Add possibility to implement overlay for search flyout when it's active by toggling additional status-class on body tag
  src/components/header/search/search.ts
Due: prettier --write, tslint --fix

[AddToCart button] will-change prop doesn't work as expected, it might break animation in some cases
  src/components/addtocart/addtocart.scss
Due: stylelint --fix

HAKA-466, HAKA-467, HAKA-520 3step-checkout adjustments and fixes
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/payment/payment.scss
  src/components/3step-checkout/summary/summary.scss
Due: stylelint --fix

HAKA-489 Implement subcategory icons in offcanvas nav
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

added logic to support svg icon
  src/MageSuite_Navigation/templates/main/list.phtml
Due: none

P2G-1394 Added missing component import for products list
  src/entries/products-grid.ts
Due: prettier --write, tslint --fix

P2G-1393 Fix the issue with dailydeal rendering
  src/entries/daily-deal-teaser.ts
Due: prettier --write, tslint --fix

3step-checkout: email-address suggestion
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/discount/discount.scss
Due: stylelint --fix

Move email suggestion background to variable
  src/components/3step-checkout/authentication/authentication.scss
Due: stylelint --fix

Add products list import to page entries
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/products-grid.ts
  src/entries/styleguide.ts
Due: prettier --write, tslint --fix

Revert "P2G-1393 Fix the issue with dailydeal rendering"
  src/entries/daily-deal-teaser.ts
Due: prettier --write, tslint --fix

[P2G-1387] Adds hotspot (after fieldset) to pdp review form
  src/Magento_Review/templates/form.phtml
Due: none

Adjusted success page content template in module to match scss component
  src/Magento_InventoryInStorePickupFrontend/layout/checkout_onepage_success.xml
  src/Magento_InventoryInStorePickupFrontend/templates/success.phtml
Due: none

P2G-1379 Additional fix for offcanvas on tablets
  src/components/offcanvas/offcanvas.scss
Due: stylelint --fix

Delete customer_address_form.xml
  src/Geissweb_Euvat/layout/customer_address_form.xml
Due: none

[P2G-1392] Removes image teaser from Mega Dropdown (all categories) navigation item
  src/MageSuite_Navigation/templates/main/flyout.phtml
Due: none

Add enhanced flyout hover option to navigation
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

Changed server-side-swatches constraint
  composer.json
Due: none

updated template condition for displaying svg icon
  src/MageSuite_Navigation/templates/main/list.phtml
Due: none

Allow to upload category icon as SVG + display them as inline in template - FE adjustments
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/MageSuite_Navigation/templates/main/list.phtml
  src/components/navigation/navigation.scss
Due: stylelint --fix
