Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

feat: [KRA-311] Refresh page if product added to cart in /checkout/cart
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat: Move page reload on items added in cart logic to addtocart component, and make it extensible.
  src/components/addtocart/addtocart.ts
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

fix: Move variables for styles include in components into theme-creativeshop
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

fix: Add missing variables for CSS include in component templates.
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

fix: Add missing closing tag to changelog tree.
  src/etc/changelog.xml
Due: none

feat: [NKD-3852] Improve the CLS for the category page (POP)
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/etc/changelog.xml
Due: none

auto fixes from pre-commit CI job
  src/etc/changelog.xml
Due: none

feat: [NKD-3853] Improve the CLS for Products grid CC component
  src/Magento_Catalog/templates/product/list.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-3856] Improve the CLS for User area (mobile)
  src/components/stack-nav/stack-nav.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat(CMS): [NPW-33] Add adjustments related to PWA Installation guide page
  src/MageSuite_Pwa/index.ts
  src/MageSuite_Pwa/web/css/pwa-guide/pwa-guide.scss
  src/components/offcanvas-navigation/index.ts
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
  src/web/images/icons/pwa/icon_settings_android.svg
  src/web/images/icons/pwa/icon_share_ios.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat(CMS): [NPW-33] Add adjustments related to PWA Installation guide page (19.x)
  src/MageSuite_Pwa/index.ts
  src/MageSuite_Pwa/web/css/pwa-guide/pwa-guide.scss
  src/components/offcanvas-navigation/index.ts
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
  src/web/images/icons/pwa/icon_settings_android.svg
  src/web/images/icons/pwa/icon_share_ios.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat: [RKL-349] hide add to cart when children are not saleable
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/etc/changelog.xml
Due: none

fix: [HAKA-1981] Fix images lazyloading within tooltip content on mobiles
  src/components/tooltip/tooltip.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: KRA-32 use proper method for item label
  src/MageSuite_Navigation/templates/main/list.phtml
Due: none

chore: changelog update
  src/etc/changelog.xml
Due: none

feat: [KRA-698] Search suggestions appearance
  src/components/search-results-cms/search-results-cms.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix(POP): [RKL-370] introduce fix for expanded filters to reduce CLS
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/etc/changelog.xml
Due: stylelint --fix

refactor: DailyDeal initialization and move dynamic_containers declarations to view.xml
  src/components/dailydeal/dailydeal.ts
  src/components/dailydeal/index.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

fix: [KRA-766] Added missing styles and script entry in checkout/index/failure page
  src/Magento_Checkout/layout/checkout_onepage_failure.xml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

fix: [IPET-2268] fix UA translation for de_CH
  src/etc/changelog.xml
  src/i18n/de_CH.csv
Due: none

chore: fix changelog
  src/etc/changelog.xml
Due: none

Fix/haar 3798/fix issue with no top scroll on safari
  src/Magento_Checkout/web/js/model/step-navigator-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [IPET-1595] replace animation method to ensure it's working properly
  src/Magento_Review/web/js/process-reviews-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Automatic update of project files
  .pre-commit-config.yaml
Due: none

fix: [IPET-2187] remove CLS when showing tabs on search results page
  src/components/search-results-switcher/search-results-switcher.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [IPET-2187] CR improvements
  src/components/search-results-switcher/search-results-switcher.ts
Due: prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/components/search-results-switcher/search-results-switcher.ts
Due: prettier --write, tslint --fix

fix [HAAR-3711] Show cookie notice bar when cookie is not set instead hide it if cookie exist
  src/Magento_Cookie/web/js/notices-ext.js
  src/components/cookie-message/cookie-message.scss
  src/etc/changelog.xml
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/Magento_Cookie/web/js/notices-ext.js
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
