Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Skip rendering of authentication popup for better performance
  src/Magento_Customer/layout/default.xml
Due: none

Unwrap knockout bindings for better performance
  src/Magento_Checkout/web/template/minicart/content.html
Due: none

Updated correct link to theme-creativeshop
  README.md
Due: none

Refactored CC component's initialization with x-magento-init
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Wishlist/templates/bottom.phtml
  src/Magento_Wishlist/templates/item/list.phtml
  src/components/brand-carousel/brand-carousel.ts
  src/components/brand-carousel/index.ts
  src/components/daily-deal-teaser/index.ts
  src/components/dailydeal/index.ts
  src/components/grid-layout/index.ts
  src/components/image-teaser-legacy/index.ts
  src/components/image-teaser/index.ts
  src/components/product-finder/index.ts
  src/components/products-carousel/index.ts
  src/entries/accordion.ts
  src/entries/brand-carousel.ts
  src/entries/category-links.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/daily-deal-teaser.ts
  src/entries/daily-deal.ts
  src/entries/grid-layout.ts
  src/entries/image-teaser-legacy.ts
  src/entries/image-teaser.ts
  src/entries/magesuite-store-locator.ts
  src/entries/paragraph.ts
  src/entries/pdp.ts
  src/entries/product-finder.ts
  src/entries/products-carousel.ts
  src/entries/separator.ts
  src/entries/styleguide.ts
  src/etc/view.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Fix syntax errors
  src/Magento_Wishlist/templates/bottom.phtml
Due: none

Extend category-links-dropdown pseudoicon mixin, to support arrow variant
  src/components/category-links/category-links-dropdown.scss
Due: stylelint --fix

Added customer bundle to print page to display print preview pages properly
  src/Magento_Theme/layout/print.xml
Due: none

HAKA-45 Fix setActiveState function in form-mini by adding label to search input and remove HTML5 X at the end of input type search
  src/Magento_Search/templates/form.mini.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
  src/components/header/search/search.scss
  src/config/base.scss
Due: stylelint --fix

[P2G-1292] Adjust UA order comment HTML tags to match section styling and structure
  src/Bold_OrderComment/templates/order/view/comment.phtml
Due: none

Fix syntax for wishlist grid
  src/Magento_Wishlist/templates/item/list.phtml
Due: none

Add better comments to storelocator script
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

[DOG-568] Fix minicart badge animation when user scrolls to the top very fast
  src/components/addtocart/addtocart.ts
Due: prettier --write, tslint --fix

Fix linting
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

Remove top column space from homepage
  src/Magento_Theme/web/css/source/_layout.scss
  src/config/variables.scss
Due: stylelint --fix

[MGS-4001] Moved discount logic to separate module
  src/MageSuite_ProductTile/templates/fragments/badge.phtml
  src/Magento_Catalog/templates/product/view/badges/sale.phtml
Due: none

Add modifier for image teaser in flyout navigation
  src/MageSuite_Navigation/templates/main/flyout.phtml
Due: none

Enable offcanvas minicart by default
  src/etc/view.xml
Due: none

Add left padding to mobile header logo to keep space for offcanvas close button
  src/components/header/header.scss
Due: stylelint --fix

Check also second and third street input in checkout when checking for street number
  src/Magento_Checkout/web/js/view/missing-house-number-warning.js
Due: prettier --write, tslint --fix

Fixes initialization of daily deal
  src/components/dailydeal/index.ts
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/daily-deal.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
Due: prettier --write, tslint --fix

[KRG-1146] Fixes type of products-carousel xml based settings
  src/components/products-carousel/products-carousel.ts
Due: prettier --write, tslint --fix

Turn ON Offcanvas Minicart - sets up ON mode as default
  src/etc/view.xml
Due: none

Add missing entry for products grid component
  src/entries/products-grid.ts
Due: prettier --write, tslint --fix

[KRG-1186] Refactor VideoPlayer component to work again with all Image Teaser based components
  src/components/image-teaser-legacy/image-teaser-legacy.scss
  src/components/image-teaser-legacy/image-teaser-legacy.ts
  src/components/image-teaser/image-teaser.scss
  src/components/image-teaser/image-teaser.ts
  src/components/video-player/index.ts
  src/components/video-player/video-player.ts
  src/entries/category.ts
  src/entries/pdp.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Show proper number of tiles for product grid
  src/components/grid-layout/grid-layout.ts
Due: prettier --write, tslint --fix

HAKA-37 3step-checkout
  src/UnifiedArts_Tsc/layout/tsc_checkout_renderer.xml
  src/UnifiedArts_Tsc/web/css/source/_module.less
  src/UnifiedArts_Tsc/web/css/source/partials/_tsc-extend.less
  src/UnifiedArts_Tsc/web/css/source/partials/_tsc-variables-extend.less
  src/UnifiedArts_Tsc/web/css/source/partials/_tsc-variables-generated.less
  src/UnifiedArts_Tsc/web/images/loader.svg
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/authentication/index.ts
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/discount/index.ts
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/forms/index.ts
  src/components/3step-checkout/header/header.scss
  src/components/3step-checkout/header/index.ts
  src/components/3step-checkout/index.ts
  src/components/3step-checkout/mixins/higher-button.scss
  src/components/3step-checkout/mixins/reset-button-radius.scss
  src/components/3step-checkout/mixins/reset-button.scss
  src/components/3step-checkout/mixins/reset-success.scss
  src/components/3step-checkout/payment/index.ts
  src/components/3step-checkout/payment/payment.scss
  src/components/3step-checkout/progress-bar/index.ts
  src/components/3step-checkout/progress-bar/progress-bar.scss
  src/components/3step-checkout/shipping/index.ts
  src/components/3step-checkout/shipping/shipping.scss
  src/components/3step-checkout/summary/index.ts
  src/components/3step-checkout/summary/summary.scss
  src/components/3step-checkout/variables.scss
  src/entries/3step-checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

[KRG-1146] Improves visibility control over offcanvas minicart headline and cta button components
  src/Magento_Checkout/templates/cart/minicart-button.phtml
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
Due: none

[LP-711] Change off-canvas minicart headline to <h3> to improve markup semantics
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
Due: none

Revert "Merge branch 'feature-3step-checkout' into 'next'"
  src/UnifiedArts_Tsc/layout/tsc_checkout_renderer.xml
  src/UnifiedArts_Tsc/web/css/source/_module.less
  src/UnifiedArts_Tsc/web/css/source/partials/_tsc-extend.less
  src/UnifiedArts_Tsc/web/css/source/partials/_tsc-variables-extend.less
  src/UnifiedArts_Tsc/web/css/source/partials/_tsc-variables-generated.less
  src/UnifiedArts_Tsc/web/images/loader.svg
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/authentication/index.ts
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/discount/index.ts
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/forms/index.ts
  src/components/3step-checkout/header/header.scss
  src/components/3step-checkout/header/index.ts
  src/components/3step-checkout/index.ts
  src/components/3step-checkout/mixins/higher-button.scss
  src/components/3step-checkout/mixins/reset-button-radius.scss
  src/components/3step-checkout/mixins/reset-button.scss
  src/components/3step-checkout/mixins/reset-success.scss
  src/components/3step-checkout/payment/index.ts
  src/components/3step-checkout/payment/payment.scss
  src/components/3step-checkout/progress-bar/index.ts
  src/components/3step-checkout/progress-bar/progress-bar.scss
  src/components/3step-checkout/shipping/index.ts
  src/components/3step-checkout/shipping/shipping.scss
  src/components/3step-checkout/summary/index.ts
  src/components/3step-checkout/summary/summary.scss
  src/components/3step-checkout/variables.scss
  src/entries/3step-checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

Updates yarn.lock file
  yarn.lock
Due: none

Improve swatches on PDP validation, unify modals and offcanvas backgrounds
  src/Magento_Catalog/web/js/swatches-validation-ext.js
  src/Magento_Swatches/web/js/swatches-validation-ext.js
  src/components/modal/modal.scss
  src/components/offcanvas/offcanvas.scss
  src/components/swatches/swatches.scss
  src/config/variables.scss
  src/requirejs-config.js
  src/web/js/validation-ext.js
Due: stylelint --fix, prettier --write, tslint --fix

Fix group block not sort by order
  src/Magento_Catalog/templates/product/view/details.phtml
Due: none

By default move heaader to the bottom, burger and menu to the right, add mobile logo and back button
  package.json
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/header/back-button.phtml
  src/Magento_Theme/templates/html/header/logo.phtml
  src/Magento_Theme/web/js/history-navigation.js
  src/components/header/header.scss
  src/components/header/user-nav/user-nav.scss
  src/components/logo/logo.scss
  src/components/offcanvas/offcanvas.scss
  src/config/variables.scss
  src/etc/view.xml
  src/pages/category/category.scss
  src/utils/breakpoint/breakpoint.scss
  src/web/images/logo-mobile.svg
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

Unify mobile header variables. Adjust mobile spacings when header is on bottom
  src/Magento_Theme/templates/html/header/back-button.phtml
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/autocomplete/autocomplete.scss
  src/components/cookie-message/cookie-message.scss
  src/components/header/header.scss
  src/config/variables.scss
  src/etc/view.xml
  src/web/images/logo-mobile.svg
Due: stylelint --fix

Select first payment methods
  src/Magento_Checkout/web/js/model/payment-service-ext.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

3step-checkout
  src/UnifiedArts_Tsc/layout/tsc_checkout_renderer.xml
  src/UnifiedArts_Tsc/web/images/loader.svg
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/authentication/index.ts
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/discount/index.ts
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/forms/index.ts
  src/components/3step-checkout/header/header.scss
  src/components/3step-checkout/header/index.ts
  src/components/3step-checkout/index.ts
  src/components/3step-checkout/mixins/higher-button.scss
  src/components/3step-checkout/mixins/reset-button-radius.scss
  src/components/3step-checkout/mixins/reset-button.scss
  src/components/3step-checkout/mixins/reset-success.scss
  src/components/3step-checkout/payment/index.ts
  src/components/3step-checkout/payment/payment.scss
  src/components/3step-checkout/progress-bar/index.ts
  src/components/3step-checkout/progress-bar/progress-bar.scss
  src/components/3step-checkout/shipping/index.ts
  src/components/3step-checkout/shipping/shipping.scss
  src/components/3step-checkout/summary/index.ts
  src/components/3step-checkout/summary/summary.scss
  src/components/3step-checkout/variables.scss
  src/entries/3step-checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

Restore flex wrap property on header
  src/components/header/header.scss
Due: stylelint --fix

Fix mobile checkout header
  src/components/logo/logo.scss
  src/etc/view.xml
Due: stylelint --fix
