Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

feat: [LOWA-725] A11Y - html validator issues
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Customer/templates/link.phtml
  src/Magento_Search/templates/form.mini.phtml
  src/Magento_Theme/templates/html/header/logo.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-725] A11Y - html validator issues
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Customer/templates/link.phtml
  src/Magento_Search/templates/form.mini.phtml
  src/Magento_Theme/templates/html/header/logo.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/filter/default.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
  src/etc/changelog.xml
Due: none

fix: [LOWA-687] a11y - fix focus on safari
  src/components/product-finder/product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4763] A11y, Offcanvas nav - focus adjustments
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

feat: [MOV-492] Cart item type selector
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/etc/changelog.xml
Due: none

feat: [KRA-2234] move map controls to right side to make it visible on mobile
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [MOV-586] Cookiebot - adjusted initialization method
  src/components/consent-management/vendor/cookiebot.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4744] Cart: Submit qty button
  src/Magento_Checkout/templates/cart/form.phtml
  src/components/cart/cart.ts
  src/components/qty-increment/qty-increment.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/pages/cart/cart.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix: [KRA-2234] revert of map controls change
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [IPET-3150] pdp gallery improvements
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [MGS-5570] Migrate toggle password functionality
  src/Magento_Customer/web/css/source/module.scss
  src/Magento_Customer/web/js/show-password-ext.js
  src/components/toggle-password/index.ts
  src/components/toggle-password/toggle-password.scss
  src/components/toggle-password/toggle-password.ts
  src/entries/checkout.ts
  src/entries/customer.ts
  src/entries/toggle-password.ts
  src/etc/changelog.xml
  src/requirejs-config.js
  src/web/images/icons/toggle-password/icon-password-hidden.svg
  src/web/images/icons/toggle-password/icon-password-visible.svg
Due: stylelint --fix, prettier --write, tslint --fix

Fix: [RK-2054] Missing array key
  src/MageSuite_Navigation/templates/main/flyout.phtml
  src/etc/changelog.xml
Due: none

fix: [KRA-2234] refactor map controls styles
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [KRA-2234] refactor map controls styles
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [RK-2055] add missing translation
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: [IPET-3339] fixed offcanvas navigation inconsistent behavior for ios devices
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

Revert "Merge branch 'fix/IPET-3339/iphone_offcanvas_navigation_bug' into '20.x'"
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

Revert "Merge branch 'fix/IPET-3339/iphone_offcanvas_navigation_bug_21x' into '21.x'"
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [IPET-3339] iPhone offcanvass nav issue fix
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [IPET-3339] fix for navigation on ipad
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [IPET-3339] fixed regression caused by will-change
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

fix: [IPET-3339] fixed delay
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

feat: [LOWA-756] add default to toggle password scss vars
  src/components/toggle-password/toggle-password.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MGS-5561] improve keyboard navigation in search
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-759] add aria hidden to prevent losing focus on ios
  src/components/product-finder/product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix
