Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix: [MGS-4567] Adjust PWA guide styles for desktop
  src/etc/changelog.xml
Due: none

fix: [IPET-1720] Review Details page is not displayed in UA
  src/Magento_Review/templates/customer/view.phtml
Due: none

fix: [RK-361] Add missing translation
  src/i18n/de_DE.csv
Due: none

fix(modal): [MGS-4757] fix modal
  src/components/modal/modal.scss
Due: stylelint --fix

fix(modal): [MGS-4757] fix checkout modal
  src/components/modal/modal.scss
Due: stylelint --fix

chore: Update breaking changes and add optional import in checkout entry
  src/doc/breaking_changes_v18.md
  src/entries/checkout.ts
Due: prettier --write, tslint --fix

chore: remove relict component
  src/components/reorder-banner/index.ts
  src/components/reorder-banner/reorder-banner.scss
  src/entries/contact.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-4820]Do not show error after click on disabled swatch with back-in-stock alert
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

chore: Close br tags in html template
  src/Magento_Checkout/web/template/shipping-address/address-renderer/default.html
Due: none

fix!: [RK-361] Refactor checkout next-button logic in order to make it more elastic
  src/Magento_Checkout/web/js/next-button.js
  src/Magento_InventoryInStorePickupFrontend/web/js/next-button-ext.js
  src/doc/breaking_changes_v18.md
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [LEDs-2301] Change logic for showing/hideing popular badge
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Fix comment
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Add changelog
  src/etc/changelog.xml
Due: none

fix: [RK-399] Change user area breadcrumbs translation
  src/etc/changelog.xml
  src/i18n/de_DE.csv
Due: none

Edit changelog
  src/Magento_Checkout/web/template/minicart/content.html
Due: none

Update content.html
  src/Magento_Checkout/web/template/minicart/content.html
Due: none

fix: Restore submit button enabler mixin, it has to be there to make PDP add to cart buttono work as expected
  src/Magento_Catalog/web/js/catalog-add-to-cart-ext.js
  src/Magento_PageCache/web/js/submit-button-enabler.js
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [HAAR-3327] Missing qty block for aheadworks giftcard
  src/Aheadworks_Giftcard/layout/checkout_cart_index.xml
Due: none

fix: update HTML close tags
  src/Amasty_ShippingTableRates/web/template/shipping.html
  src/Amazon_Pay/web/template/payment/amazon-payment-method.html
  src/Bold_OrderComment/web/template/checkout/order-comment-block.html
Due: none

fix: [RK-362] Add checkout next button mixin for DHL packstation module
  src/MageSuite_PackstationDhl/requirejs-config.js
  src/MageSuite_PackstationDhl/web/js/next-button-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

chore: components and comments cleanup
  src/components/latest-purchased-products/index.ts
  src/components/latest-purchased-products/latest-purchased-products.scss
  src/entries/checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: [RK-485] Add possibility to define headline tag for accordion headline
  src/components/accordion/accordion.scss
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix

refactor!: Components structure cleanup and remove redundant components
  composer.json
  src/MageSuite_ProductVariants/index.ts
  src/MageSuite_ProductVariants/web/css/product-variants.scss
  src/MageSuite_ShippingAddons/index.ts
  src/MageSuite_ShippingAddons/web/css/free-shipping-indicator.scss
  src/MageSuite_WidgetSalebar/index.ts
  src/MageSuite_WidgetSalebar/web/css/salebar-widget.scss
  src/MageSuite_WidgetSalebar/web/js/salebar-widget.ts
  src/components/free-shipping-indicator/index.ts
  src/components/full-search/full-search.ts
  src/components/product-variants/index.ts
  src/components/proportional-scaler/index.ts
  src/components/proportional-scaler/proportional-scaler.ts
  src/components/salebar-widget/index.ts
  src/components/title-block/_title-block.scss
  src/composer.json
  src/doc/breaking_changes_v18.md
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/entries/salebar-widget.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [RK-245] introduce scripts and styles for Instant product Finder
  src/MageSuite_InstantProductFinder/index.ts
  src/MageSuite_InstantProductFinder/instant-product-finder.ts
  src/MageSuite_InstantProductFinder/product-template.ts
  src/MageSuite_InstantProductFinder/web/css/instant-product-finder.scss
  src/entries/cms.ts
  src/entries/instant-product-finder.ts
  src/etc/changelog.xml
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

Update instant-product-finder.ts
  src/MageSuite_InstantProductFinder/instant-product-finder.ts
Due: prettier --write, tslint --fix

Update instant-product-finder.scss
  src/MageSuite_InstantProductFinder/web/css/instant-product-finder.scss
Due: stylelint --fix

Adjust code after code review
  src/MageSuite_InstantProductFinder/instant-product-finder.ts
  src/MageSuite_InstantProductFinder/product-template.ts
  src/MageSuite_InstantProductFinder/web/css/instant-product-finder.scss
  src/entries/cms.ts
Due: stylelint --fix, prettier --write, tslint --fix

Lint code
  src/MageSuite_InstantProductFinder/instant-product-finder.ts
Due: prettier --write, tslint --fix

chore: commented out MageSuite_LoginOrGuestCheckoutStep component, as it's optional
  src/doc/breaking_changes_v18.md
  src/entries/checkout.ts
Due: prettier --write, tslint --fix

chore: comments cleanup
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/components/_slider/slider.ts
Due: prettier --write, tslint --fix

Move scripts to proper folder
  src/MageSuite_InstantProductFinder/index.ts
  src/MageSuite_InstantProductFinder/web/js/instant-product-finder.ts
  src/MageSuite_InstantProductFinder/web/js/product-template.ts
Due: prettier --write, tslint --fix

Add mgs namespace
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [KRG-2323] Remove navigation from touch devices (tablet-laptop)
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

chore: Move documentation to confluence
  README.md
  src/doc/breaking_changes_v18.md
Due: none

fix: [P2G-1770] add declarations for aliases
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix(cart): [HAAR-3335] restore cart summary for tablets
  src/etc/changelog.xml
  src/pages/cart/cart.scss
Due: stylelint --fix

Add brand area to grid-template-areas of product tile. Align brand to left.
  src/components/product-tile/product-tile.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat [RK-484] Remove title attributes from remove/edit links in cart
  src/Magento_Checkout/templates/cart/item/renderer/actions/edit.phtml
  src/Magento_Checkout/templates/cart/item/renderer/actions/remove.phtml
  src/etc/changelog.xml
Due: none

fix: [HAAR-3350] fix 2 cols left layout
  src/Magento_Theme/web/css/source/_layout.scss
  src/etc/changelog.xml
Due: stylelint --fix
