Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Fix category page sorting display
  src/customizations/category-page/_category-page.scss
Due: stylelint --fix

M2C-3725 Fix reviews in creativeshop
  src/Magento_Review/templates/form.phtml
  src/customizations/reviews/_reviews.scss
  src/customizations/reviews/reviews.ts
Due: stylelint --fix, prettier --write, tslint --fix

Hotfix for addons padding on tile when hover
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Adjust product tile grid items display for phone and tablet
  src/customizations/items-grid/_items-grid.scss
Due: stylelint --fix

Remove checkout shipping methods section scrollbar
  src/customizations/checkout/_checkout.scss
Due: stylelint --fix

M2C-3748 Render billing address elements like in Magento
  src/Magento_Checkout/web/template/billing-address.html
  src/Magento_Checkout/web/template/billing-address/actions.html
Due: none

M2C-3729 [PDP] - full screen view - thumbnails carousel is not horizontally centered
  src/Magento_Catalog/web/css/source/module/_module.scss
Due: stylelint --fix

Adjust minicart items list overflow
  src/customizations/minicart/_minicart.scss
Due: stylelint --fix

M2C-3740 Adjust styles for PDP Sale block on tablet view
  src/Magento_Theme/web/css/source/_layout.scss
Due: stylelint --fix

Add adjustments for storelocator: open state for icon for opening hours, adjust zoom for different breakpoints
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

Adjust Czech flag
  src/web/images/icons/flag_cz.svg
Due: none

Fix Czech flag again
  src/web/images/icons/flag_cz.svg
Due: none

M2C-3719 Move additional address block to grid.phtml
  src/Magento_Customer/layout/customer_address_index.xml
Due: none

M2C-3724 Reduce space between label and required mark
  src/customizations/form/_form.scss
  src/customizations/input/_input.scss
Due: stylelint --fix

Nkd 1398 add remove icon for wishlist tile
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Remove underline from last table row
  src/customizations/checkout/_checkout.scss
Due: stylelint --fix

M2C-3755 [Positive Indicators] 'Only X available': No animation for Alarm Icon on PDP
  src/components/indicators/_indicators.scss
Due: stylelint --fix

M2C-3756 [PDP] [Product Question] IE11 - text is not aligned in Q&A section
  src/Aheadworks_Pquestion/web/css/_product-questions.scss
Due: stylelint --fix

M2C-3742 [Colour swatches] [PDP] [Categorypage] - incorrect appearance of color swatches on mouse over (popups)
  src/customizations/swatches/_swatches.scss
Due: stylelint --fix

Removed cacheable=false from all_brands_list block
  src/MageSuite_BrandManagement/layout/brands_index_all.xml
Due: none

Upgrade category page pagination
  src/Magento_Theme/templates/html/pager.phtml
  src/customizations/pagination/_pagination.scss
Due: stylelint --fix

M2C-3753 [Positive Indicators] Popular Icon: Improper style on PDP
  src/customizations/badge/_badge.scss
Due: stylelint --fix

Adjust product carousel positive indicators
  src/Creativestyle_FrontendExtension/templates/product/tile.phtml
Due: none

M2C-3740 Fix pdp block width
  src/Magento_Theme/web/css/source/_layout.scss
Due: stylelint --fix

M2C-3773 Add min height like in MageSuite
  src/customizations/image-teaser/_image-teaser.scss
Due: stylelint --fix

M2C-3774 Update itemsPerViewMobile for slider if itemsPerView ==6
  src/customizations/image-teaser/image-teaser.twig
Due: none

Adjust product info wrapper width
  src/Magento_Theme/web/css/source/_layout.scss
Due: stylelint --fix

Remove padding hack on tile - bugfixing
  src/components/dailydeal/dailydeal.scss
  src/components/grid-layout/grid-layout.scss
  src/components/product-tile/product-tile.scss
  src/components/tile-gallery/tile-gallery.scss
  src/config/variables.scss
Due: stylelint --fix

Prevent swatches hover state jumping because of tooltip
  src/components/swatches/swatches.scss
Due: stylelint --fix

Adjust Free Shipping badge in accordance to design
  src/Magento_Catalog/templates/product/list/items.phtml
Due: none

[KRG-392] Removes stickyfill polyfill
  src/components/container/container.scss
  src/components/sticky-block/index.ts
  src/components/sticky-block/sticky-block.ts
  src/pages/cart/cart.scss
  src/requirejs-config.js
  src/web/js/vendor/stickyfill.js
Due: stylelint --fix, prettier --write, tslint --fix

Refactor product details headline
  src/components/product-details/product-details.scss
Due: stylelint --fix

Change template in order to style pager properly
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
Due: none

Move remove icon breakpoint properties to proper element in UA wishlist styling
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

[Newsletter] Adds possibility to pre-fill email address
  src/Magento_Newsletter/templates/subscribe.phtml
Due: none

Fix: disable lighter version of DD on PDP
  src/components/dailydeal/dailydeal.scss
Due: stylelint --fix

Fixing tile addons height
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

LED-1956 Update Repertus Packstation to 1.0.6
  src/Magento_Checkout/web/js/model/checkout-data-resolver-ext.js
  src/Magento_Checkout/web/js/model/new-customer-address-ext.js
  src/Repertus_Packstation/layout/customer_address_form.xml
  src/Repertus_Packstation/templates/widget/packstation.phtml
  src/Repertus_Packstation/web/js/action/mixins/select-billing-address-mixin.js
  src/Repertus_Packstation/web/js/form/components/account_address_type_select-ext.js
  src/Repertus_Packstation/web/js/repertus-packstation.js
  src/Repertus_Packstation/web/js/view/mixins/billing-address-mixin.js
  src/Repertus_Packstation/web/js/view/payment/default-mixin.js
  src/Repertus_Packstation/web/template/form/repertus_address_type_fieldset.html
  src/Repertus_Packstation/web/template/group/group.html
  src/Repertus_Packstation/web/template/modal/packstation-search-modal.html
  src/components/repertus-packstation/_repertus-packstation.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

LED-1956 Adjust error message
  src/Repertus_Packstation/web/js/view/payment/default-mixin.js
Due: prettier --write, tslint --fix

Update builder and tool configurations
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .prettierrc
  .prettierrc.js
  .stylelintrc
  .stylelintrc.js
  package.json
  tslint.js
  tslint.json
  yarn.lock
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
