Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

feat: [KRG-3183] [Checkout] A11y - Adjust login form template of various modules
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Checkout/web/template/form/element/email.html
  src/Magento_PaymentServicesPaypal/web/template/form/element/email.html
  src/etc/changelog.xml
Due: none

fix: [MGS-5624] Review details.
  src/Magento_Review/layout/review_customer_view.xml
  src/Magento_Review/templates/customer/view.phtml
Due: none

feat: [NKD-5541] Implement consent management for Instagram CC component
  src/components/image-teaser/image-teaser.scss
  src/components/instagram/instagram.ts
  src/entries/instagram.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/i18n/de_DE.csv
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

fix: [NKD-5438] Investigate and implement custom styling for storelocator map
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

fix: [MGS-5622] adjust lowest price indicator on list view mode tile
  src/components/product-tile-list/product-tile-list.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: Fix init custom events for consent scripts
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4748] remove unnecessary focus from limiter select if buttons
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4750] fix focus order for modals and offcanvases
  src/components/minicart/minicart-offcanvas.ts
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

feat: [NKD-5627] Implement consent-mode for Emarsys Scarab Script
  src/components/consent-management/index.ts
  src/entries/consent-management.ts
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

feat: [NKD-4631] fix html validation issues - remove unnecessary quotes
  src/Magento_Persistent/templates/remember_me.phtml
  src/etc/changelog.xml
Due: none

feat: [MGS-5630] adjust FE validation to BE patterns in address forms
  src/Magento_Customer/templates/address/edit.phtml
  src/Magento_Customer/templates/widget/name.phtml
  src/Magento_Customer/templates/widget/telephone.phtml
  src/Magento_Ui/web/js/lib/validation/validator-ext.js
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
  src/requirejs-config.js
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

feat: [LOWA-821] Adjust RegExp for YouTube videos to allow shorts path in URLs
  src/components/_video/players/type/youtube.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [RK-2167] fix naming conflict with theme-cs v20
  src/Magento_Customer/templates/address/edit.phtml
  src/Magento_Ui/web/js/lib/validation/validator-ext.js
  src/etc/changelog.xml
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

feat: [TOYS-1657] Fix a11y issues for bundle products with radio
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/radio.phtml
Due: none

feat: [RK-2179] improve address
  src/Magento_Ui/web/js/lib/validation/validator-ext.js
  src/etc/changelog.xml
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

fix: [KRG-3317] Add check for empty string in missing house number validation
  src/Magento_Checkout/web/js/view/missing-house-number-warning.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [KRG-3317] Extends check added for empty string in missing house number...
  src/Magento_Checkout/web/js/view/missing-house-number-warning.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [KRA-2266] always trigger magento validation on submit
  src/etc/changelog.xml
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

feat: [FZ-711] Escape variables
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
  src/etc/changelog.xml
Due: none

feat: [MU-14] add default flags to scss vars
  src/etc/changelog.xml
  src/utils/focus-indicator.scss
Due: stylelint --fix

fix: [IPET-3502] street-name validation update to fix automatic tests with IdealPayment
  src/Magento_Ui/web/js/lib/validation/validator-ext.js
  src/etc/changelog.xml
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

Fix/fr 680/add missing email vars
  src/Magento_Sales/email/order_new.html
  src/Magento_Sales/email/order_new_guest.html
  src/etc/changelog.xml
Due: none

fix [FR-680] Add missing email vars
  src/Magento_Sales/email/order_new.html
  src/Magento_Sales/email/order_new_guest.html
  src/etc/changelog.xml
Due: none

feat: [MU-28] adjust 4 items in row IT scenario
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [NKD-5872] Gallery Pagination misses arrows on PDP
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
Due: prettier --write, tslint --fix

feat [HAAR-4797] Add legend field to purchase order form
  src/Magento_OfflinePayments/web/template/payment/purchaseorder-form.html
  src/etc/changelog.xml
Due: none

fix: [KRG-3182] Show postcode label in search packstation modal in checkout
  src/MageSuite_PackstationDhl/web/css/source/module.scss
Due: stylelint --fix

fix: [KRG-3182] Add missing mixin import
  src/MageSuite_PackstationDhl/web/css/source/module.scss
Due: stylelint --fix

feat: [PROS-49] MFA introduced
  src/MageSuite_CustomerMfa/index.ts
  src/MageSuite_CustomerMfa/web/css/module.scss
  src/components/dashboard/dashboard.scss
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-5663] Less compilation error fixed
  src/Magento_Checkout/web/css/source/module/_checkout.less
  src/etc/changelog.xml
Due: none

feat: [PROS-159] Video teaser - play/pause button introduced
  src/components/_video/interfaces.ts
  src/components/_video/players/player.ts
  src/components/_video/players/type/facebook.ts
  src/components/_video/players/type/file.ts
  src/components/_video/players/type/vimeo.ts
  src/components/_video/players/type/youtube.ts
  src/components/video-teaser/video-teaser.scss
  src/components/video-teaser/video-teaser.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
  src/web/images/icons/video/pause.svg
  src/web/images/icons/video/play.svg
Due: stylelint --fix, prettier --write, tslint --fix

fix: [SCAFA-1502] [Checkout] Street field randomly missing
  src/Magento_Checkout/web/js/view/missing-house-number-warning.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-5634] Unify templates and styling for consents management layers
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/components/consent-management/consent-management.scss
  src/components/consent-management/index.ts
  src/components/consent-management/templates/template.ts
  src/components/image-teaser/image-teaser.scss
  src/components/instagram/instagram.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/i18n/de_DE.csv
Due: stylelint --fix, prettier --write, tslint --fix

feat [HAAR-4778] Adjust translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

fix: [NKD-5634] Unify templates and styling for consents management layers - remove vendor
  src/etc/view.xml
Due: none

feat: [RKL-1080] Store locator - consent mode introduced
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/components/consent-management/consent-management.scss
  src/components/consent-management/index.ts
  src/components/consent-management/templates/template.ts
  src/components/consent-management/vendor/cookiebot.ts
  src/etc/changelog.xml
  src/i18n/de_DE.csv
Due: stylelint --fix, prettier --write, tslint --fix

feat: [PROS-167] Introduced CookieFirst consent support
  src/components/consent-management/index.ts
  src/components/consent-management/vendor/cookiefirst.ts
  src/components/video-teaser/video-teaser.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat: [PROS-159] Video teaser - disable autoplay after user interaction
  src/components/_video/interfaces.ts
  src/components/_video/players/player.ts
  src/components/_video/players/type/facebook.ts
  src/components/_video/players/type/file.ts
  src/components/_video/players/type/vimeo.ts
  src/components/_video/players/type/youtube.ts
  src/components/video-teaser/video-teaser.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat [HAAR-4797] [Checkout] Adjust cart heading's level
  src/Magento_Checkout/web/template/summary/cart-items.html
  src/etc/changelog.xml
Due: none
