Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix: [ZJ-274] Checkout - fixed minicart's overlay z-index after shipping address/method change
  src/Magento_Checkout/web/js/view/shipping-information-ext.js
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [TOYS-1533] Add database collection type to carousels
  src/Magento_Catalog/templates/product/list/items.phtml
  src/etc/changelog.xml
Due: none

fix: [LP-2640] Checkout - fixed minicart's overlay z-index after shipping address/method change
  src/Magento_Checkout/web/js/view/shipping-information-ext.js
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

feat: [HAAR-4472] PDP performance - reduce icon render count on rating-stars
  src/Magento_Review/templates/rating-stars.phtml
  src/etc/changelog.xml
Due: none

fix: [ZJ-279] Offcanvas nav - do not apply ko bindings if any mage-init tags exist in offcanvas element
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [FZ-507] fix fraction pagination in hero component
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

fix: [KRA-1956] add root margin to fix intersection observer in whole width screen carousels
  src/components/_slider/interface.ts
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [KRA-1956] revert
  src/components/_slider/interface.ts
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [TOYS-1564] add styles for newly added CMS blocks
  src/MageSuite_InstantProductFinder/web/css/instant-product-finder.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [IPET-2868] Improvement of the mobile store navigation - icon for the categories
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/etc/changelog.xml
Due: none

feat: [MGS-5391] Get rid of a keyboard trap in minicart
  src/components/minicart/minicart.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [TOYS-1559] add basic styles for logos in IPF
  src/MageSuite_InstantProductFinder/web/css/instant-product-finder.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [KRA-1800] cleanup duplicated vars
  src/components/modal/modal.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [FZ-476] Added missing translations
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/fr_FR.csv
Due: none

Fix: [FZ-476] Typo
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
Due: none

fix: [KRA-1956] add root margin to fix intersection observer in whole width screen carousels
  src/components/_slider/interface.ts
  src/components/_slider/slider.ts
  src/components/aftersearch-nav/state.scss
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/product-tile/product-tile.scss
  src/etc/changelog.xml
  src/etc/view.xml
  src/pages/product/product.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat: [NKD-4552][Mobile App] Magento 2.4.7 Update - FE
  src/Magento_Theme/templates/html/pager.phtml
Due: none

fix: [TOYS-1583] make brand logo in IPF clickable
  src/MageSuite_InstantProductFinder/web/js/instant-product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat(salebar-widget): [MGS-5240] Server side rendered salebar, adjusted counter logic
  src/MageSuite_WidgetSalebar/web/css/salebar-widget.scss
  src/MageSuite_WidgetSalebar/web/js/salebar-widget.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat(salebar-widget): [MGS-5240] Server side rendered salebar, adjusted counter logic
  src/MageSuite_WidgetSalebar/web/css/salebar-widget.scss
Due: stylelint --fix

feat(salebar-widget): [MGS-5240] Server side rendered salebar, adjusted counter logic
  src/etc/changelog.xml
Due: none

fix(minicart-product): [FC-134] Rendering issue in product image on Safari
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

fix: add french Cart translation
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
Due: none

fix [HAAR-4524] Add missing captcha block on review form
  src/Magento_Review/templates/form.phtml
  src/etc/changelog.xml
Due: none

fix: [KRA-2015] add rootmargin to last slide observable
  src/components/_slider/navigation/interface.ts
  src/components/_slider/navigation/navigation.ts
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [IPET-2914] add variable to language switcher
  src/Magento_Store/templates/switch/languages.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [KRA-1956] add root margin to fix intersection observer in whole width screen carousels
  src/components/_slider/interface.ts
  src/components/_slider/navigation/interface.ts
  src/components/_slider/navigation/navigation.ts
  src/components/_slider/slider.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat(video-teaser): [FR-496] add cookie consent indicator for video player
  src/components/video-teaser/video-teaser.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [IPET-2952] Offcanvas - removed keyboard trap
  src/components/minicart/minicart.scss
  src/components/offcanvas-filters/index.ts
  src/components/offcanvas-filters/offcanvas-filters.ts
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [IPET-2952] Minicart - restored missing styles
  src/components/minicart/minicart.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [TOYS-1574] Reduce CLS on search results page
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/etc/changelog.xml
Due: none

feat: [FZ-581] Allow managing Offcanvas' inert attribute
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [FR-505] implement focus search improvement
  src/components/header/search/search.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [KRA-2070] adjust slider logic to bulletproof use whole screen calculations
  src/components/_slider/interface.ts
  src/components/_slider/navigation/interface.ts
  src/components/_slider/navigation/navigation.ts
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: Accessibility enhancements
  src/Magento_Catalog/layout/default.xml
  src/Magento_CatalogSearch/templates/link.phtml
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_Newsletter/templates/subscribe.phtml
  src/etc/changelog.xml
  src/web/js/vendor/inline-svg.js
Due: prettier --write, tslint --fix

fix(storelocator): [FC-142] Fix for info-window for mobiles
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix
