Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

NKD-646 Adjust frontend styling
  src/components/container/container.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Fix removing cs-visually-hidden class in init
  src/components/page-scroll/page-scroll.ts
Due: prettier --write, tslint --fix

Fix cookie box position
  src/Magento_Bundle/layout/catalog_product_view_type_bundle.xml
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Hide YT modal when needed
  src/Magento_Theme/templates/html/video-player.phtml
  src/components/video-player/index.ts
Due: prettier --write, tslint --fix

Revert "Merge branch 'cookie-box-bug' into 'next'"
  src/Magento_Bundle/layout/catalog_product_view_type_bundle.xml
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Bugfixes for list view & DD
  src/components/dailydeal/dailydeal.ts
  src/components/product-tile/product-tile.scss
Due: stylelint --fix, prettier --write, tslint --fix

M2C-3556 [Categorypage] Pagination over the grid doesn't fit to right margin of the page. Tablets
  src/components/toolbar/toolbar.scss
  src/pages/category/category.scss
Due: stylelint --fix

M2C-3549 [Categorypage] Sorting options are missing on the bottom of the page
  src/pages/category/category.scss
Due: stylelint --fix

M2C-3558 [Product tiles] Free shipping label isn't vertically centered on a badge on the Categorypage. Safari/Mac
  src/components/badge/mixin.scss
Due: stylelint --fix

Fix placeholder image positioning
  src/components/product-gallery/product-gallery.scss
Due: stylelint --fix

NKD-646 Adjust height for webp
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

NKD-666 Adjust height for mobile grid teasers
  src/components/container/container.scss
  src/components/grid-layout/grid-layout.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

P2G-825 Adjust buttons in Wishlist for iPad
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Adjust Flex display of labels for product question and answer
  src/Aheadworks_Pquestion/web/css/product-questions.scss
Due: stylelint --fix

Update spacing for product questions block
  src/Aheadworks_Pquestion/web/css/product-questions.scss
Due: stylelint --fix

Adjust badge item width in product tile
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Replace icons in messages component to SVG
  src/components/messages/messages.scss
  src/web/images/icons/messages/icon-error.svg
  src/web/images/icons/messages/icon-info.svg
  src/web/images/icons/messages/icon-success.svg
  src/web/images/icons/messages/icon-warning.svg
Due: stylelint --fix

M2C-3553 [Product tile] Swatches displays in only 1 row even if there are many of them. IE11
  src/components/product-tile/product-tile.scss
  src/components/swatches/swatches.scss
Due: stylelint --fix

Bug product tile wrong display of add to wishlist link and in stock labels on tiles ie11 m2c 3552
  src/components/product-tile/product-tile.scss
  src/components/toolbar/viewmode-switcher.scss
Due: stylelint --fix

M2C-3550 [Categorypage] Pagination doesn't fit to right margin of the page. IE11
  src/pages/category/category.scss
Due: stylelint --fix

Page Scroll component JS code optimization and minor improvement
  src/components/page-scroll/page-scroll.ts
  yarn.lock
Due: prettier --write, tslint --fix

Update view mode switcher padding
  src/components/toolbar/viewmode-switcher.scss
Due: stylelint --fix

Cheanged endpoint to magesuite products renderer extension
  src/Nosto_Tagging/templates/element.phtml
Due: none

M2C-3533: improved color palette
  src/MageSuite_Frontend/layout/frontend_styleguide_index.xml
  src/Magento_Styleguide/templates/colors.phtml
  src/Magento_Styleguide/templates/title.phtml
  src/bundle.scss
  src/components/styleguide/_styleguide.scss
  src/components/styleguide/index.ts
  src/customizations/styleguide/_styleguide.scss
  src/entries/styleguide.ts
Due: stylelint --fix, prettier --write, tslint --fix

Focus on config options on PDP
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

Prepare store locator frontend
  src/MageSuite_StoreLocator/layout/storelocator_index_index.xml
  src/MageSuite_StoreLocator/requirejs-config.js
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/form-mini.js
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
  src/MageSuite_StoreLocator/web/js/store-locator/map-style.js
  src/MageSuite_StoreLocator/web/js/store-locator/markerclusterer.js
  src/MageSuite_StoreLocator/web/store-locator/icon-arrow-down.svg
  src/MageSuite_StoreLocator/web/store-locator/icon-arrow-left.svg
  src/MageSuite_StoreLocator/web/store-locator/icon-close.svg
  src/MageSuite_StoreLocator/web/store-locator/icon-cluster.png
  src/MageSuite_StoreLocator/web/store-locator/icon-location.svg
  src/MageSuite_StoreLocator/web/store-locator/icon-pin-active.png
  src/MageSuite_StoreLocator/web/store-locator/icon-pin-alt.png
  src/MageSuite_StoreLocator/web/store-locator/icon-pin.png
  src/MageSuite_StoreLocator/web/store-locator/icon-route.svg
  src/MageSuite_StoreLocator/web/store-locator/icon-search.svg
  src/MageSuite_StoreLocator/web/store-locator/icon-spinner.svg
  src/MageSuite_StoreLocator/web/store-locator/icon-user-marker.png
  src/Magento_Theme/templates/html/breadcrumbs.phtml
  src/components/container/container.scss
  src/entries/magesuite-store-locator.ts
  src/requirejs-config.js
  src/web/images/icons/location.svg
  src/web/images/icons/route.svg
  src/web/images/icons/store-locator/icon-arrow-down.svg
  src/web/images/icons/store-locator/icon-arrow-left.svg
  src/web/images/icons/store-locator/icon-close.svg
  src/web/images/icons/store-locator/icon-location.svg
  src/web/images/icons/store-locator/icon-route.svg
  src/web/images/icons/store-locator/icon-search.svg
  src/web/images/icons/store-locator/icon-spinner.svg
Due: stylelint --fix, prettier --write, tslint --fix

Fix translation bug
  src/Magento_Customer/templates/link.phtml
Due: none

Fix translation bug on login page
  src/Magento_Customer/templates/newcustomer.phtml
Due: none

Update width of badge-item
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Hide pagination for teaser if there is only one slide
  src/components/image-teaser/image-teaser.ts
Due: prettier --write, tslint --fix

NKD-666 Fix padding for large teasers mobile
  src/components/grid-layout/grid-layout.scss
Due: stylelint --fix

Remove unnecessary variable holding color
  src/components/checkout/checkout.scss
  src/config/variables.scss
Due: stylelint --fix

NKD-708 Adjust grid layout and view xml
  src/components/grid-layout/grid-layout.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

Update source element of gallery placeholder image
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Fix product gallery thumbnails sizing
  src/components/tile-gallery/tile-gallery.scss
Due: stylelint --fix

M2C-3534: improve typography section
  src/Magento_Styleguide/templates/info.phtml
  src/Magento_Styleguide/templates/typography.phtml
  src/components/styleguide/_styleguide.scss
Due: stylelint --fix

P2G-793 Adjust buttons in Wishlist for laptop breakpoint
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Adjust margin og global message in no-result page
  src/components/search-results-switcher/search-results-switcher.ts
  src/pages/category/category.scss
Due: stylelint --fix, prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
