Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Add _success class to Magento Abstract field element. refactor checkout customizations file
  src/Magento_Checkout/web/js/checkout-customizations.js
  src/Magento_Ui/web/js/form/element/abstract-ext.js
  src/components/field/field.scss
  src/components/field/hook.scss
  src/components/field/mixin.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

Hide image teasers ie11
  src/components/grid-layout/grid-layout.scss
Due: stylelint --fix

[KRG-307] Standardizes language switcher flag icons with minor style adjustment
  src/components/dropdown-switcher/dropdown-switcher.scss
  src/web/images/icons/flag_at.svg
  src/web/images/icons/flag_ch.svg
  src/web/images/icons/flag_cz.svg
  src/web/images/icons/flag_de.svg
  src/web/images/icons/flag_default.svg
  src/web/images/icons/flag_en.svg
  src/web/images/icons/flag_es.svg
  src/web/images/icons/flag_hr.svg
  src/web/images/icons/flag_it.svg
  src/web/images/icons/flag_pl.svg
  src/web/images/icons/flag_si.svg
  src/web/images/icons/flag_us.svg
Due: stylelint --fix

Add missing imports to storelocator entry, refactor storelocator scripts - add missing functionalities on mobile, add some specific store locator variables to styles
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/Magento_LayeredNavigationStaging/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/templates/test.phtml
  src/entries/magesuite-store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

Restrict success tick only to shipping form in checkout. Add scss variables to show or hide success tick and missing street number message
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Checkout/web/js/checkout-customizations.js
  src/Magento_Checkout/web/js/view/missing-house-number-warning.js
  src/Magento_Checkout/web/js/view/missing-street-number-warning.js
  src/Magento_Checkout/web/js/view/missing-street-number-warning.js.rej
  src/Magento_Ui/web/js/form/element/abstract-ext.js
  src/components/checkout/checkout.scss
  src/components/field/field.scss
Due: stylelint --fix, prettier --write, tslint --fix

Hotfix swatches margin on list view
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Nkd 1365 missing swatch behaviour
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

Do not trigger bound_schanged handler on mobile
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add first steps
  README.md
Due: none

adjust mobile behaviour on store search
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add new component creation part
  README.md
Due: none

Add scss customization
  README.md
Due: none

Add table of contents
  README.md
Due: none

Add split entries part
  README.md
Due: none

Fix split entries article link
  README.md
Due: none

Corrected the reviews phtml to fix issue with not rendering reviews
  src/Magento_Review/templates/product/view/list.phtml
Due: none

Fix sass snippets
  README.md
Due: none

HAAR-1763 Fixes in shipping template
  src/Amasty_ShippingTableRates/web/template/shipping.html
  src/Amazon_Payment/web/template/shipping.html
  src/Magento_Checkout/web/template/shipping.html
Due: none

Refactor first steps
  README.md
Due: none

Change links to github
  README.md
Due: none

Validate swatch after OnClick action is triggered to remove validation message if swatch is checked
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

[Mosaic][CC] Adds support for breakpoint-dedicated images as an option - KRG only
  src/etc/view.xml
Due: none

Add admin setup as global theme
  README.md
Due: none

Remove twig templates from theme-creativeshop
  src/components/cookie-message/cookie-message.twig
  src/components/offcanvas-navigation/offcanvas-navigation.twig
  src/components/offcanvas/offcanvas.twig
  src/components/overlay/overlay.twig
  src/components/product-tile/product-tile.twig
  src/components/separator/separator.twig
  src/components/static-cms-block/static-cms-block.twig
Due: none

Product thumbnails on tile more flexible: better support images with background + remove padding hack on tile + unify place where product gallery is shown
  src/components/container/container.scss
  src/components/grid-layout/grid-layout.scss
  src/components/image-teaser/image-teaser.scss
  src/components/navigation/navigation.scss
  src/components/product-tile/product-tile.scss
  src/components/products-carousel/products-carousel.scss
  src/components/tile-gallery/tile-gallery.scss
  src/config/variables.scss
  src/etc/view.xml
  src/utils/aspect-ratio.scss
  src/utils/string-to-number.scss
Due: stylelint --fix

Add support for clickable swatches on tile
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/components/product-tile/product-tile.ts
  src/components/swatches/swatches.scss
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

restore magento styles that prevent keyboard to be shown when swatch input has focus
  src/components/swatches/swatches.scss
  src/web/js/validation-ext.js
Due: stylelint --fix, prettier --write, tslint --fix

Improve SEO and accessability via HTML structure
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/Magento_Search/templates/form.mini.phtml
  src/Magento_Theme/templates/html/offcanvas-toggle.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

Fix error connected with no initialized validation when SelectSwatchesBasedOnReferrer method selects swatch
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Rewrite First steps and Adding new component docs
  README.md
Due: none

Fix some Markdown tag inconsistencies
  README.md
Due: none

Fix links
  README.md
Due: none

Fix typo in README.md
  README.md
Due: none

Add FAQ section
  README.md
Due: none

Always disable swatches configuration on tile on mobile
  src/components/swatches/swatches.scss
Due: stylelint --fix

Fix table of contents links, few typos and add Styles customizations description in README.me
  README.md
Due: none

[KRG-258] Equalize font-size between larger and smaller slides in mosaic component
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Fix typo and wrong element in swatch erro validation
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

M2C-3745 Hide 'Street Address Line X' labels like in Luma
  src/Magento_Ui/web/templates/group/group.html
  src/customizations/input/_input.scss
Due: stylelint --fix

Fix user area review detail product photo display
  src/customizations/reviews/_reviews.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
