Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Improve critical performance
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/layout/default_head_blocks.xml
  src/Magento_Theme/templates/html/defer.phtml
  src/requirejs-config.js
  src/web/js/vendor/inline-svg.js
  src/web/js/vendor/lazySizes.js
  src/web/js/vendor/lazyload.js
Due: prettier --write, tslint --fix

Update builder
  yarn.lock
Due: none

Fix extensions for imported etc/view file in sass
  src/components/breadcrumbs/breadcrumbs.scss
  src/config/breakpoints.scss
  yarn.lock
Due: stylelint --fix

Adjust loading of scripts, remove jQuery UI as direct dependency
  src/MageSuite_StoreLocator/web/js/form-mini.js
  src/Magento_Checkout/web/js/region-updater-ext.js
  src/Magento_Theme/templates/html/defer.phtml
Due: prettier --write, tslint --fix

Extend options in header search component & make it more flexible
  src/components/header/search/search.ts
Due: prettier --write, tslint --fix

Make aftersearch navigation spinner lazyloaded
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

Fix error in inlining of SVGs
  src/web/js/vendor/inline-svg.js
Due: prettier --write, tslint --fix

Make linter happy
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Prevent browser from loading breadcrumbs background on mobile
  src/components/breadcrumbs/breadcrumbs.scss
Due: stylelint --fix

LP-211 Set img height to auto on all breakpoints
  src/components/paragraph/paragraph.scss
Due: stylelint --fix

Fix promisePolyfill loading
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Improve async CSS loading
  src/Magento_Theme/templates/head/fonts.phtml
Due: none

Adjust lazyloading animation and options
  src/components/lazyload/lazyload.scss
  src/web/js/vendor/lazyload.js
Due: stylelint --fix, prettier --write, tslint --fix

Update package.json - Raise creative-patterns version to 2.31.2
  package.json
Due: none

Restore CSS changes to fix order conflicts
  src/Magento_Theme/layout/default_head_blocks.xml
Due: none

Fix SVG and Promise polyfill errors on older browsers
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/requirejs-config.js
  src/web/js/vendor/inline-svg.js
Due: prettier --write, tslint --fix

Make linter happy
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Disable mixin from store pickup extension
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Fix incorrect switcher selector in offcanvas navigation
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Fix offcanvas switcher adjustments method
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Adds checkout.css to PayPal Express review page for Payone module
  src/Payone_Core/layout/payone_onepage_review.xml
Due: none

[KRG-733] Fixes content of Discount block in Payone's PayPal Checkout order review page
  src/Payone_Core/layout/payone_onepage_review.xml
Due: none

Remove overwritten Magento file as it has been fixed in core
  src/Magento_Ui/web/js/form/element/post-code.js
Due: prettier --write, tslint --fix

LP-232 Fix missing slogan, description button and container on mobile in teaser and text
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Update yarn.lock
  yarn.lock
Due: none

LP-213 Show cta on teasers as list mobile
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

LP-115 Checkout Step 1 - fix for error messages styling and width of show cart button
  src/components/checkout/checkout.scss
  src/components/field/field.scss
Due: stylelint --fix

Performance improvements, fix contact forms CSS loading
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/PluginCompany_ContactForms/web/js/form-ext.js
  src/components/grid-layout/index.ts
  src/components/image-teaser/index.ts
Due: prettier --write, tslint --fix

Make linter happy
  src/PluginCompany_ContactForms/web/js/form-ext.js
Due: prettier --write, tslint --fix

Raised creative-patterns version to 2.32.0
  package.json
  yarn.lock
Due: none

Update package.json and yarn.lock files
  package.json
  yarn.lock
Due: none

LP-253 Fix arrow animation on html select and discount code in Checkout
  src/components/checkout/checkout.scss
  src/components/select/select.scss
Due: stylelint --fix

Add support for Magento's critical CSS feature
  src/Magento_Theme/templates/head/fonts.phtml
  src/components/critical/critical.scss
  src/components/critical/index.ts
  src/components/image-teaser/image-teaser.ts
  src/components/non-critical/index.ts
  src/components/non-critical/non-critical.scss
  src/components/proportional-scaler/proportional-scaler.ts
  src/components/teaser/teaser.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/critical.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

Fixed nosto products renderer to fix tracking issues
  src/components/nosto-products-renderer/nosto-products-renderer.ts
Due: prettier --write, tslint --fix

Add missing styles and scripts for contact form
  src/PluginCompany_ContactForms/layout/contactforms_form_view.xml
Due: none

LP-277 Modals in Checkout on desktop should have similar design like in NKD
  src/components/modal/modal.scss
Due: stylelint --fix

LP-262 Add Payone Ideal logo to payments in Checkout
  src/components/checkout/checkout.scss
  src/web/images/icons/payment-logos/payone_obt_ideal.svg
Due: stylelint --fix

Fix namespacing in components
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/components/aftersearch-nav/range.scss
  src/components/aftersearch-nav/state.scss
  src/components/breadcrumbs/breadcrumbs.scss
  src/components/button/button.scss
  src/components/cookie-message/cookie-message.scss
  src/components/dropdown-switcher/dropdown-switcher.scss
  src/components/form/form.scss
  src/components/offcanvas-toggle/offcanvas-toggle.scss
  src/components/overlay/overlay.scss
  src/components/product-details/main/main.scss
  src/components/product-details/nav/nav.scss
  src/components/product-finder/product-finder.scss
  src/components/products-list/products-list.scss
  src/components/progress-bar/progress-bar.scss
  src/components/reviews/reviews.scss
  src/components/search-results-cms/search-results-cms.scss
  src/components/search-results-switcher/search-results-switcher.scss
  src/components/separator/separator.scss
  src/components/usps/usps.scss
Due: stylelint --fix

LP-121 Rotate stack nav trigger icon to the right like in other places in MGS
  src/components/stack-nav/stack-nav.scss
Due: stylelint --fix

LP-279 Fix save in address book label width
  src/components/checkout/checkout.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
