Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix: Fix template in terms of pre-commit
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/etc/changelog.xml
Due: stylelint --fix

feat(accessibility): Minicart improvements
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
Due: none

fix: KRA-2091 changed icons url resolving using requirejs instead of url attribute (doesnt work with deploy compact strategy)
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

feat(accessibility): [NKD-4574] Adjust multiple areas regarding accessibility audit
  src/Magento_Checkout/layout/checkout_cart_item_renderers.xml
  src/Magento_Checkout/templates/cart/coupon.phtml
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_ConfigurableProduct/layout/checkout_cart_item_renderers.xml
  src/Magento_Theme/layout/default.xml
  src/Magento_Wishlist/layout/checkout_cart_item_renderers.xml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
  src/web/js/dropdown-ext.js
Due: prettier --write, tslint --fix

fix: KRA-2108 updated changelog
  src/etc/changelog.xml
Due: none

fix: KRA-2091 updated changelog
  src/etc/changelog.xml
Due: none

Revert "fix: KRA-2091 changed icons url resolving using requirejs instead of url..."
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

chore: revert
  src/etc/changelog.xml
Due: none

fix: [KRA-2070] adjust slider logic to bulletproof use whole screen calculations
  src/components/_slider/interface.ts
  src/components/_slider/navigation/interface.ts
  src/components/_slider/navigation/navigation.ts
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix(accessibility): User area navigation fixes
  src/Magento_Customer/templates/account/link/logout.phtml
  src/Magento_Customer/templates/account/navigation-delimiter.phtml
  src/Magento_Customer/templates/account/navigation.phtml
  src/etc/changelog.xml
Due: none

fix: remve wrong method usage
  src/Magento_Customer/templates/account/navigation.phtml
Due: none

fix(accessibility): [NKD-4597] Shopping-cart view adjustments - revert table adjustment
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/etc/changelog.xml
Due: none

feat: [IPET-2998] Add option to replace all review star svgs with css masked-based solution
  src/Magento_Review/templates/form.phtml
  src/Magento_Review/templates/rating-stars.phtml
  src/components/star-rating/star-rating.scss
  src/etc/changelog.xml
  src/etc/view.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
  src/web/images/icons/reviews/star.svg
Due: stylelint --fix

feat(accessibility): [NKD-4574] Fix problem with mobile table head
  src/components/table/mixin.scss
  src/components/table/table.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix(accessibility): [NKD-4597] Fix login/register views in terms of accessibility
  src/Magento_Checkout/web/template/authentication-tab.html
  src/Magento_Customer/templates/form/login.phtml
  src/Magento_Customer/templates/form/register.phtml
  src/Magento_Customer/templates/newcustomer.phtml
  src/Magento_Customer/templates/widget/name.phtml
  src/Magento_Customer/web/template/show-password.html
  src/Magento_CustomerCustomAttributes/templates/customer/form/register.phtml
  src/Magento_Newsletter/templates/subscribe.phtml
  src/Magento_Persistent/templates/remember_me.phtml
  src/etc/changelog.xml
Due: none

fix(password-reset): [NKD-4598] Adjust password reset template in terms of accessibility
  src/Magento_Customer/templates/form/forgotpassword.phtml
  src/etc/changelog.xml
Due: none

Revert "Merge branch 'fix/KRA-2091-store-locator-url-resolving_v19' into '19.x'"
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-2907][PDP] Suppress ajax call fetching reviews on initial page load
  src/Magento_Review/layout/catalog_product_view.xml
  src/Magento_Review/templates/review.phtml
  src/Magento_Review/web/js/process-reviews-ext.js
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat: [NKD-4587] fix pagination element
  src/Magento_Theme/templates/html/pager.phtml
  src/etc/changelog.xml
Due: none

fix: [NKD-4700] return to avoid running slider logic when there are no slides (dynamic carousels)
  src/components/_slider/navigation/navigation.ts
  src/components/_slider/slider.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4582] add unique ID to dropdown to avoid aria-id conflict
  src/etc/changelog.xml
  src/web/js/dropdown-ext.js
Due: prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/Magento_Checkout/layout/checkout_cart_item_renderers.xml
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_ConfigurableProduct/layout/checkout_cart_item_renderers.xml
  src/Magento_Customer/templates/account/navigation-delimiter.phtml
  src/Magento_Customer/templates/form/forgotpassword.phtml
  src/Magento_Customer/templates/form/login.phtml
  src/Magento_Customer/templates/form/register.phtml
  src/Magento_Customer/templates/widget/name.phtml
  src/Magento_Customer/web/template/show-password.html
  src/Magento_CustomerCustomAttributes/templates/customer/form/register.phtml
  src/Magento_Newsletter/templates/subscribe.phtml
  src/Magento_Persistent/templates/remember_me.phtml
  src/Magento_Theme/layout/default.xml
  src/Magento_Wishlist/layout/checkout_cart_item_renderers.xml
Due: none

feat: [IPET-3070] Product slide gallery - set mobile breakpoint name as option
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [LP-2815] CSS stars - add interpolation to fix prettier errors
  src/components/star-rating/star-rating.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: Remove noscript tags
  src/Magento_Theme/templates/head/fonts.phtml
Due: none

Feat/consent management usercentrics v3
  src/components/consent-management/index.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

fix: [IPET-3029] Horizontal aftersearch nav - adjust height of the box on input event
  src/components/aftersearch-nav/aftersearch-nav.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [KRG-3004] Improve condition for checking if DD badge exist
  src/components/dailydeal/dailydeal.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4769] A11Y, Cart - hide inactive cart action buttons
  src/Magento_Checkout/layout/checkout_cart_index.xml
  src/Magento_Checkout/templates/cart/form.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4767] a11y - visually hide span in only icon buttons
  src/components/button/mixin.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [NKD-4768] a11y - hide invisible elements from screen readers properly
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [NKD-4758] a11y - adjust search close icon label
  src/MageSuite_Navigation/layout/navigation_mobile_index.xml
  src/Magento_Search/layout/default.xml
  src/Smile_ElasticsuiteCore/layout/default.xml
  src/Smile_ElasticsuiteInstantSearch/layout/default.xml
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: [KRA-1552] Remove reference to non-existing block
  src/MageSuite_ProductTile/layout/product_tile.xml
  src/etc/changelog.xml
Due: none

fix: [NKD-4769] A11Y, Cart - disable inactive action buttons for screen readers
  src/Magento_Checkout/templates/cart/form.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4768] revert breaking change
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix

auto fixes from pre-commit CI job
  src/Magento_LoginAsCustomerFrontendUi/templates/html/notices/logout-link.phtml
Due: none

feat: [NKD-4766] A11y, Add to cart - hide additional labels for screen readers
  src/Magento_Catalog/templates/addtocart/button.phtml
  src/etc/changelog.xml
Due: none
