Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Substitute calc() with Sass calculation
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Fix special price on PDP + add better support for images with background on tile
  src/components/autocomplete/autocomplete.scss
  src/components/price-box/price-box.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

[PO-155] Removes unused attribute in order to restore cookie img
  src/Magento_Cookie/templates/html/notices.phtml
Due: none

Version bump: v8.2.1
  package.json
Due: none

Fix wishlist tile in UA and flyout navigation
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Customer/layout/customer_account.xml
  src/Magento_Wishlist/layout/wishlist_index_index.xml
  src/Magento_Wishlist/templates/bottom.phtml
  src/Magento_Wishlist/templates/item/list.phtml
  src/components/navigation/navigation.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

NKD-579 Migrate new image teasers to category product grid
  src/components/container/container.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Fix typo in UA wishlist
  src/Magento_Wishlist/templates/bottom.phtml
Due: none

Adjust validation
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

M2C-3382 Navigation image teaser is not displayed
  src/MageSuite_Navigation/layout/default.xml
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/MageSuite_Navigation/templates/main/flyout.phtml
  src/components/navigation/navigation.scss
  src/components/navigation/navigation.ts
Due: stylelint --fix, prettier --write, tslint --fix

Bump version
  package.json
Due: none

Fix missing brackets
  src/MageSuite_Navigation/templates/main/flyout.phtml
Due: none

NKD-579 Hotfix image teaser slide height
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Refactor login page
  src/Magento_Customer/layout/customer_account_login.xml
  src/Magento_Customer/templates/form/login.phtml
  src/Magento_Customer/templates/newcustomer.phtml
Due: none

Fix tooltip for swatches in sidebar filters
  src/components/swatches/swatches.scss
Due: stylelint --fix

Hotfix z-index for swatches tooltip
  src/components/swatches/swatches.scss
Due: stylelint --fix

Add margin under static block
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Extend styling & variables for swatches tooltip
  src/components/swatches/swatches.scss
Due: stylelint --fix

NKD-579 Fix category teaser frontend
  src/components/grid-layout/grid-layout.ts
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix, prettier --write, tslint --fix

P2G-793 Add flexbox to buttons in wishlist on mobile
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

P2G-767 Hide image-teaser and category teaser on ie11
  src/components/grid-layout/grid-layout.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Replace empty htmlClass with dummy class name
  src/MageSuite_ContentConstructor/layout/contentconstructor_components_index.xml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Cms/layout/cms_page_view.xml
Due: none

Add toolbar component to checkout bundle m2c-3228
  src/entries/checkout.ts
Due: prettier --write, tslint --fix

Convert self-closing containers to normal ones
  src/Magento_Catalog/layout/catalog_product_view.xml
Due: none

Added nosto-product component and adjusted Nosto_Tagging element template
  src/Nosto_Tagging/templates/element.phtml
  src/components/nosto-products/index.ts
  src/components/nosto-products/nosto-products.ts
  src/components/products-carousel/products-carousel.ts
Due: prettier --write, tslint --fix

Update swatches tooltip when it has image
  src/components/swatches/swatches.scss
  src/etc/view.xml
Due: stylelint --fix

P2G-767 Fix styling for grid teaser and image-teaser ie11
  src/components/grid-layout/grid-layout.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

NKD-481 [Hero carousel] Pagination is missing on desktops and tablets
  src/components/teaser/mixins/pagination.scss
Due: stylelint --fix

Restore view_mode to grid in related & upsell carousels
  src/Magento_Catalog/layout/catalog_product_view.xml
Due: none

Fixed issue with not rendering swatches
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Changed component's name
  src/components/nosto-products-renderer/index.ts
  src/components/nosto-products-renderer/nosto-products-renderer.ts
  src/components/nosto-products/index.ts
Due: prettier --write, tslint --fix

m2c-3524: remove calendar component from styleguide
  src/Magento_Styleguide/templates/forms.phtml
  src/components/calendar/calendar.scss
  src/components/calendar/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

MGS-3490: removed remaining usage of svg sprites
  src/Aheadworks_Giftcard/web/template/checkout/summary/giftcard.html
  src/Magento_Checkout/web/template/next-button.html
  src/Magento_Checkout/web/template/place-order.html
  src/components/dailydeal/dailydeal.ts
Due: prettier --write, tslint --fix

M2C-3514 Hide Compare link from PDP
  src/Magento_Catalog/layout/catalog_product_view.xml
Due: none

M2C-3293 Apply new design to product questions frontend
  src/Aheadworks_Pquestion/templates/catalog/product/view/list.phtml
  src/Aheadworks_Pquestion/web/css/product-questions.scss
  src/components/product-details/product-details.scss
Due: stylelint --fix

M2C-3548 [Category page] Missing paddings in toolbar
  src/components/toolbar/limiter.scss
Due: stylelint --fix

M2C-3491 Style bundle products in minicart
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

Refactor video player m2c-2865
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/video-player.phtml
  src/bundle.scss
  src/components/video-player/index.ts
  src/components/video-player/video-player.scss
  src/components/video-player/video-player.ts
  src/components/video-player/video-player.twig
  src/customizations/video-player/_video-player.scss
  src/customizations/video-player/video-player.twig
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/pdp.ts
Due: stylelint --fix, prettier --write, tslint --fix

Remove scrollbar from list on product-carousel
  src/components/products-carousel/products-carousel.scss
Due: stylelint --fix

Calendar component revert
  src/components/calendar/calendar.scss
  src/components/calendar/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

Enable jumpmark on category page mgs
  src/Magento_Theme/layout/default.xml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
