Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [ROT-1179] Header user nav label style adjustments & account link markup fix
  src/Magento_Customer/templates/link.phtml
  src/components/header/user-nav/user-nav.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [TOYS-228] Add visibleSlideIntersection config for teaser pagintion
  src/components/_slider/pagination/interface.ts
  src/components/_slider/pagination/pagination.ts
  src/components/_slider/slider.ts
  src/components/image-teaser/image-teaser.scss
  src/components/image-teaser/image-teaser.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Clean code
  src/components/_slider/slider.ts
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-4609] Fix doubled label and buttons are on different heighton tablets
  src/MageSuite_PwaNotifications/web/css/notification-panel.scss
Due: stylelint --fix

feat: [IPET-1864] Add 'discount' classname to totals in cart
  src/Magento_SalesRule/web/template/cart/totals/discount.html
  src/etc/changelog.xml
Due: none

feat: [TOYS-574] Add possibility of passing translations via xml to component props
  src/Smile_ElasticsuiteInstantSearch/templates/search/form.mini.phtml
  src/etc/changelog.xml
Due: none

Adjust norification panel margin for tablets
  src/MageSuite_PwaNotifications/web/css/notification-panel.scss
Due: stylelint --fix

fix: [ROT-1183] Moved table import to base components section in PDP entry
  src/entries/pdp.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat(PDP): [LP-1904] introduce magesuite product slide gallery module
  src/MageSuite_ProductSlideGallery/index.ts
  src/MageSuite_ProductSlideGallery/web/css/product-slide-gallery.scss
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/MageSuite_ProductSlideGallery/web/js/templates.ts
  src/components/_video/interfaces.ts
  src/components/video-teaser/video-teaser.ts
  src/entries/pdp.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/web/images/icons/icon_arrow-left.svg
  src/web/images/icons/icon_arrow-right.svg
  src/web/images/icons/product-slide-gallery/close.png
  src/web/images/icons/product-slide-gallery/video.png
  src/web/images/icons/product-slide-gallery/zoom_in.png
  src/web/images/icons/product-slide-gallery/zoom_out.png
Due: stylelint --fix, prettier --write, tslint --fix

feat: [IPET-1692] Add additional classname for offcanvas button and sorter...
  src/MageSuite_Sorting/templates/product/list/toolbar.phtml
  src/etc/changelog.xml
Due: none

fix: [P2G-2135] Header user nav: search icon markup
  src/Magento_CatalogSearch/templates/link.phtml
  src/etc/changelog.xml
Due: none

fix: [MGS-4646] Show PWA guide description on tablets
  src/MageSuite_Pwa/web/css/pwa-a2hs-guide.scss
Due: stylelint --fix

feat: [IPET-1692] Add additional 'hotspot' container before toolbar to list template
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/Magento_Catalog/templates/product/list.phtml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/etc/changelog.xml
Due: none

feat(PDP): [LP-1904] add support for thumb nav, remove cls
  src/MageSuite_ProductSlideGallery/web/css/product-slide-gallery.scss
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/MageSuite_ProductSlideGallery/web/js/templates.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [TOYS-625] Widget Notification Modal styles
  src/MageSuite_WidgetNotificationModal/index.ts
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
  src/entries/notification-modal-widget.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-4799] Fix daily deal initialization on tiles in offcanvas minicart carousel
  src/components/dailydeal/dailydeal.ts
  src/components/dailydeal/index.ts
Due: prettier --write, tslint --fix

feat: [MGS-5022] [User Area] Move related styles from magento _module.less to scss file, to import it only in customer.ts
  src/Magento_Customer/web/css/source/_module.less
  src/Magento_Customer/web/css/source/module.scss
  src/components/dailydeal/dailydeal.ts
  src/entries/customer.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

Add comment
  src/Magento_Customer/web/css/source/_module.less
  src/Magento_Customer/web/css/source/module.scss
  src/components/dailydeal/index.ts
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add changelog entry
  src/Magento_Customer/web/css/source/_module.less
  src/entries/customer.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [MGS-5022] [User Area] Move related styles from magento _module.less to scss file, to import it only in customer.ts entry
  src/Magento_Customer/web/css/source/_module.less
  src/Magento_Customer/web/css/source/module.scss
  src/entries/customer.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

prepare separate index.ts
  src/Magento_Customer/index.ts
  src/entries/checkout.ts
  src/entries/contact.ts
  src/entries/customer.ts
Due: prettier --write, tslint --fix

fix: [MGS-5092] [Minicart Offcanvas carousel] Hide carousel on vertical tablet and show 2 tiles on horizonatal tablet in order to avoid too small tiles
  src/components/minicart/minicart.scss
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix

fix: [MGS-5012] Fix not working modal overlay on mobiles
  src/components/modal/modal.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MGS-5019] Restore script based lazyload via vanilla-lazyload with custom init.
  src/Magento_Theme/layout/default_head_blocks.xml
  src/etc/changelog.xml
  src/etc/view.xml
  src/web/js/vendor/lazyload.js
Due: prettier --write, tslint --fix

fix: [RK-762] Do not scroll page to top when modal is opened
  src/etc/changelog.xml
  src/requirejs-config.js
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

Add changelog
  src/etc/changelog.xml
Due: none

Update minicart.scss
  src/components/minicart/minicart.scss
Due: stylelint --fix

fix: [ROT-1191] Minicart: disable qty-increment button, after ajax call.
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [RK-654] Module ElasticsuiteAjaxifier style
  src/MageSuite_ElasticsuiteAjaxifier/index.ts
  src/MageSuite_ElasticsuiteAjaxifier/web/css/module.scss
  src/entries/category.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

Revert "Merge branch 'fix/rk-762/modal-scroll-to-top' into '18.x'"
  src/etc/changelog.xml
  src/requirejs-config.js
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

fix: [MGS-4736] Hide scrollbar on sliders on tablet and desktop devices
  src/components/_slider/mixin.scss
  src/etc/changelog.xml
  src/utils/hide-scrollbar.scss
Due: stylelint --fix

feat: [RK-703] Adjust coupon code coping classes and icons
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
  src/etc/changelog.xml
  src/web/images/icons/notification-modal/check-light.svg
  src/web/images/icons/notification-modal/check.svg
  src/web/images/icons/notification-modal/copy-light.svg
  src/web/images/icons/notification-modal/copy.svg
Due: stylelint --fix

fix: [RK-762] Adjust modal overlay on Firefox and when modal is opened from minicart
  src/components/modal/modal.scss
  src/web/js/modal-ext.js
Due: stylelint --fix, prettier --write, tslint --fix

fix: [RK-762] Adjust modal overlay on Firefox and when modal is opened from minicart
  src/etc/changelog.xml
Due: none

Update modal.scss
  src/components/modal/modal.scss
Due: stylelint --fix

Update changelog.xml
  src/etc/changelog.xml
Due: none

Remove not necessary fles
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

Adjust changelog
  src/etc/changelog.xml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
