Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

feat: [RK-1849] a11y - adjust logo template - add link text
  src/Magento_Theme/templates/html/header/logo.phtml
  src/components/logo/logo.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [RK-1865] A11Y_adjust_searchbar_attributes
  src/Smile_ElasticsuiteInstantSearch/templates/search/form.mini.phtml
  src/etc/changelog.xml
Due: none

fix: [MGS-5420] replace product_price with row_total_product_price if exists
  src/Magento_Checkout/web/template/minicart/item/default.html
Due: none

feat: [RK-1870] A11Y - reset password page form
  src/Magento_Customer/templates/form/resetforgottenpassword.phtml
  src/etc/changelog.xml
Due: none

feat: [RK-1870] remove typo
  src/Magento_Customer/templates/form/resetforgottenpassword.phtml
  src/etc/changelog.xml
Due: none

feat: [RK-1870] remove typo
  src/Magento_Customer/templates/form/resetforgottenpassword.phtml
Due: none

fix: [MGS-5420] replace product_price with row_total_product_price if exists
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
Due: none

fix: [NKD-4753] A11y, Store pickup tabs - keyboard support
  src/Magento_InventoryInStorePickupFrontend/web/template/delivery-method-selector.html
  src/components/tabs/tabs.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [RK-1867] A11Y - adjust cart issues
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/Magento_Multishipping/layout/checkout_cart_index.xml
  src/etc/changelog.xml
Due: none

feat: [RK-1866] A11Y - fix issues in minicart
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/modal/modal.scss
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix [HAAR-4842] Fix issue with freeze offcanvas filters
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [RK-1866] A11Y - align minicart button icons
  src/Magento_Checkout/web/template/minicart/content.html
  src/etc/changelog.xml
Due: none

A11Y - adjust value of aria-labelledby on review rating input
  src/Magento_Review/templates/form.phtml
  src/etc/changelog.xml
Due: none

fix: [MGS-5396] Add vimeo and facebook players to csp whitelist
  src/etc/changelog.xml
  src/etc/csp_whitelist.xml
Due: none

fix: [NKD-4585] A11y, Aftersearch nav - don't use label without input
  src/Smile_ElasticsuiteCatalog/templates/layer/filter/default.phtml
  src/etc/changelog.xml
Due: none

fix: [NKD-4585] A11y, Aftersearch nav adjustments
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
  src/MageSuite_Sorting/templates/product/list/toolbar/sorter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/sorter.phtml
  src/Magento_LayeredNavigation/templates/layer/state.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/filter/slider.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

feat: [RK-1877] A11Y - adjust login or guest checkout step
  src/Magento_Checkout/web/template/form/element/email.html
  src/etc/changelog.xml
Due: none

feat: [RK-1877] add missing legend to fieldset
  src/Magento_Checkout/web/template/form/element/email.html
Due: none

feat: [KRG-3069] A11y - adjust group of inputs in star rating of review form
  src/Magento_Review/templates/form.phtml
  src/etc/changelog.xml
Due: none

feat: [KRG-3064] A11y - adjust offcanvas search input field
  src/MageSuite_Navigation/templates/offcanvas/search.phtml
  src/etc/changelog.xml
Due: none

fix: [MGS-5396] Revert: Add vimeo and facebook players to csp whitelist
  src/etc/changelog.xml
  src/etc/csp_whitelist.xml
Due: none

feat: [RK-1877] add missing legend to fieldset
  src/Magento_Checkout/web/template/form/element/email.html
  src/etc/changelog.xml
Due: none

feat: [RK-1879] A11Y - adjust payment step elements
  src/Aheadworks_Giftcard/web/template/payment/giftcard.html
  src/Magento_Checkout/web/template/summary/cart-items.html
  src/Magento_SalesRule/web/template/payment/discount.html
  src/components/modal/modal.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [RK-1886] Skip links component
  src/components/skip-links/index.ts
  src/components/skip-links/skip-links.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: stylelint --fix, prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/i18n/de_CH.csv
  src/i18n/fr_FR.csv
Due: none
