Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Remove flyout extras scaling
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

Fix navigation touch link markup
  src/MageSuite_Navigation/templates/main/list.phtml
Due: none

Add PayPal logo for payment tile
  src/components/checkout/checkout.scss
Due: stylelint --fix

[M2C-3616] Fixes badge text alignment in cart (IE11)
  src/components/cart/cart-item/cart-item.scss
Due: stylelint --fix

[KRG] Mosaic component (IT styles adjustments)
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

[M2C-1800] Paragraph: disabled columns for optimal reading width scenario
  src/components/paragraph/paragraph.scss
Due: stylelint --fix

Bugfixes for list view & daily deal on list
  src/components/badge/mixin.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Add configurable option for displaying shops limit
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add missing styling for paypal express review page
  src/Magento_Paypal/layout/paypal_express_review.xml
  src/components/checkout/checkout.scss
Due: stylelint --fix

M2C-3675 Fix multiple reviews translation
  src/Magento_Review/templates/rating-stars.phtml
Due: none

Temporarily enable full tile clickable (for testing purposes)
  src/MageSuite_ProductTile/layout/product_tile.xml
Due: none

M2C-3669 [Hero Carousel] The Hero is blank when paginate throught the last/1st hero
  src/components/proportional-scaler/proportional-scaler.ts
Due: prettier --write, tslint --fix

M2C-3592 Fix PDP product reviews on IE11
  src/components/reviews/reviews.scss
Due: stylelint --fix

M2C-3680 Scroll up on Tile click
  src/components/product-tile/product-tile.ts
Due: prettier --write, tslint --fix

P2G-958 Show swiper arrows
  src/components/teaser/mixins.scss
Due: stylelint --fix

BRH-1386 Update dob template and its validation
  src/Magento_Customer/templates/widget/dob.phtml
  src/web/mage/validation.js
Due: prettier --write, tslint --fix

Disable marking categories with no children
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

Update calc() in pseudoelement when css minification is enabled
  src/components/pseudoicon/mixin.scss
Due: stylelint --fix

Extract custom buttons functionality from checkout customizations
  src/Magento_Checkout/web/js/checkout-customizations.js
  src/Magento_Checkout/web/js/next-button.js
  src/Magento_Checkout/web/js/place-order.js
  src/Magento_Checkout/web/template/next-button.html
  src/Magento_Checkout/web/template/place-order.html
Due: prettier --write, tslint --fix

Hotfix 'Add to cart' on clickable tile + stop redirect when element has a tag
  src/components/product-tile/product-tile.ts
Due: prettier --write, tslint --fix

M2C-3683 Add scrollbar to swiper only if it is available in order to fix resize swiper error
  src/components/teaser/teaser.ts
Due: prettier --write, tslint --fix

M2C-3682 Fix XML validation
  src/Magento_Bundle/layout/catalog_product_view_type_simplified_bundle.xml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Customer/layout/customer_account.xml
  src/Magento_Theme/layout/default.xml
Due: none

Update catalog_product_view.xml
  src/Magento_Catalog/layout/catalog_product_view.xml
Due: none

P2G-331 Enable arrows on the sides preview in fullscreen gallery
  src/etc/view.xml
Due: none

Added mobile navigation endpoint url to main navigation html element
  src/MageSuite_Navigation/templates/main/bar.phtml
Due: none

Prevent checking swatches on tile in navigation flyout
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

NKD-1081 Remove native lazy loading from lazySizes
  src/web/js/vendor/lazySizes.js
Due: prettier --write, tslint --fix

P2G-968 Fix quantity increment by fixing priduct related widget
  src/Magento_Catalog/web/js/related-products-ext.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Use endpoint URL provided by the backend to support multiple websites
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Nkd 1085 scroll to top checkout
  src/Magento_Checkout/web/js/model/step-navigator-ext.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Fix navigation loading issue
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Fix error in step navigator extension
  src/Magento_Checkout/web/js/model/step-navigator-ext.js
Due: prettier --write, tslint --fix

Update composer.json
  composer.json
Due: none

Scroll to top of checkout step idf scrollToElementId parameter does not exist
  src/Magento_Checkout/web/js/model/step-navigator-ext.js
Due: prettier --write, tslint --fix

Hardcode no-phone message
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: prettier --write, tslint --fix

Add styles for no phone message
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: prettier --write, tslint --fix

Prevent minicart badge to capture tapping on mobile
  src/components/addtocart/addtocart.scss
Due: stylelint --fix

Hardcode contact line for NKD - store finder
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
