Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Update changelog.xml
  src/etc/changelog.xml
Due: none

fix: [RK-762] Style notification modal modal-no-scroll body class
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [NKD-3627] Preload self hosted fonts to prevent CLS, FOIT and FOUT effects
  src/Magento_Theme/templates/head/fonts.phtml
  src/etc/changelog.xml
Due: none

feat [MGS-4521] Add options to custom gallery (thumbnails position)
  src/MageSuite_ProductSlideGallery/index.ts
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [TOYS-674] Initialize dailydeal on tiles in carousels rendered dynamically
  src/components/dailydeal/index.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: Product teaser based on tile
  src/components/product-tile-teaser/index.ts
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/entries/product-teaser.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: Style product teaser and product tile with teaser type
  src/components/product-teaser/product-teaser.scss
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/components/product-tile/product-tile.scss
  src/entries/cms.ts
  src/entries/product-teaser.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Adjust styles
  src/components/dailydeal/dailydeal.ts
  src/components/dailydeal/index.ts
  src/components/product-teaser/product-teaser.scss
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/components/tile-gallery/tile-gallery.scss
  src/entries/cms.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add changelog
  src/etc/changelog.xml
Due: none

Adjust changelog
  src/etc/changelog.xml
Due: none

Adjust styles
  src/components/product-teaser/product-teaser.scss
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

Add additional css variables
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

fix: [RK796] Fix teaser height when images are not yet lazy-loaded
  src/components/lazyload/lazyload.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [TOYS-674] Fix dd initialization on tile in crosssell carousel in cart
  src/components/dailydeal/index.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Adjust code
  src/components/dailydeal/index.ts
  src/components/product-teaser/product-teaser.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix: [TOYS-674] Add dd import to checkout entries
  src/entries/checkout.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [RK-47] Modify product teaser css architecture
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [TOYS-679] Fix hiding dd price and badge when dd expires
  src/components/dailydeal/dailydeal.ts
  src/components/price-box/price-box.scss
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [TOYS-679] Adjust comments and changelog
  src/components/dailydeal/dailydeal.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Add pipeline config
  .gitlab-ci.yml
  composer.json
  package-lock.json
Due: none

feat: [RK-47] Do not remove stock and addto from product teaser. Hide them in CSS instead.
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/etc/changelog.xml
Due: stylelint --fix

Revert "feat: [RK-47] Do not remove stock and addto from product teaser. Hide them in CSS instead."
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [NKD-3657] First category with Image Teaser in categories nav is blocking...
  src/MageSuite_Navigation/templates/main/flyout.phtml
  src/etc/changelog.xml
Due: none

chore: add variable and change facebook svg default color
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/web/images/icons/facebook.svg
Due: stylelint --fix

chore: add variable and change facebook svg default color
  src/etc/changelog.xml
Due: none

fix: Update product teaser stock styling
  src/components/product-tile-teaser/product-tile-teaser.scss
  src/etc/view.xml
Due: stylelint --fix

feat: [MGS-5771] Compatibility with Magento 2.4.6
  src/Magento_Bundle/templates/catalog/product/view/summary.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/radio.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/select.phtml
  src/Magento_Captcha/templates/default.phtml
  src/Magento_Catalog/templates/category/image.phtml
Due: none

Check templates against Magento 2.4.6
  src/Magento_Catalog/templates/product/compare/link.phtml
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Catalog/templates/product/list/items.phtml
  src/Magento_Catalog/templates/product/list/toolbar.phtml
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/sorter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/viewmode.phtml
  src/Magento_Catalog/templates/product/price/amount/default.phtml
  src/Magento_Catalog/templates/product/view/addto.phtml
  src/Magento_Catalog/templates/product/view/addto/compare.phtml
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/Magento_Catalog/templates/product/view/details.phtml
  src/Magento_Catalog/templates/product/view/form.phtml
  src/Magento_Catalog/templates/product/view/gallery.phtml
  src/Magento_Catalog/templates/product/view/type/default.phtml
  src/Magento_CatalogSearch/templates/result.phtml
  src/Magento_Theme/templates/html/breadcrumbs.phtml
  src/Magento_Theme/templates/html/header/logo.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/Magento_Theme/templates/html/skip.phtml
  src/Magento_Theme/templates/html/skiptarget.phtml
  src/Magento_Theme/templates/messages.phtml
  src/Magento_Theme/templates/root.phtml
  src/Magento_Ui/web/template/messages.html
  src/Magento_Weee/web/template/checkout/summary/item/price/row_excl_tax.html
  src/Magento_Wishlist/templates/cart/item/renderer/actions/move_to_wishlist.phtml
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
  src/Magento_Wishlist/templates/email/items.phtml
  src/Magento_Wishlist/templates/item/configure/addto/wishlist.phtml
  src/Magento_Wishlist/templates/item/list.phtml
  src/Magento_Wishlist/templates/link.phtml
Due: none

Check phtml and html templates against Magento
  src/Magento_Review/templates/customer/list.phtml
  src/Magento_Review/templates/customer/recent.phtml
  src/Magento_Review/templates/customer/view.phtml
  src/Magento_Review/templates/form.phtml
  src/Magento_Review/templates/helper/summary.phtml
  src/Magento_Review/templates/helper/summary_short.phtml
  src/Magento_Review/templates/product/view/list.phtml
  src/Magento_Review/templates/review.phtml
  src/Magento_SalesRule/web/template/cart/totals/discount.html
  src/Magento_SalesRule/web/template/payment/discount.html
  src/Magento_Search/templates/form.mini.phtml
  src/Magento_Shipping/templates/order/shipment.phtml
  src/Magento_Store/templates/switch/languages.phtml
  src/Magento_Store/templates/switch/stores.phtml
Due: none

Change icon arrow up name
  src/web/images/icons/icon-arrow-up.svg
Due: none

Update update cart template
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
Due: none

Update gallery.phtml
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Update view.xml
  src/etc/view.xml
Due: none

fix: [MGS-5092] Fix for too tall carousel tiles on tablets for minicart offcanvas carousel
  src/components/minicart/minicart.scss
Due: stylelint --fix
