Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

feat: [MGS-5556] fixed newsletter form accessibility
  src/Magento_Customer/templates/form/newsletter.phtml
  src/etc/changelog.xml
Due: none

chore: fixed commit
  src/Magento_Customer/templates/form/newsletter.phtml
Due: none

feat: [MOV-83] Search results switcher - refactored to make extensible
  src/MageSuite_BrandManagement/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCms/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCms/templates/switcher.phtml
  src/components/search-results-switcher/search-results-switcher.scss
  src/components/search-results-switcher/search-results-switcher.ts
  src/etc/changelog.xml
  src/web/images/icons/cms/brand.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat [TOYS-1649] Remove alt tag from rating star icon
  src/Magento_Review/templates/rating-stars.phtml
Due: none

feat: [LOWA-668] A11Y - adjust minicart
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix [P2G-2675] Add missing mixin return
  src/Magento_Catalog/web/js/product/list/toolbar-ext.js
Due: prettier --write, tslint --fix

feat: [MGS-5561] fixed header keyboard navigation
  src/components/header/search/search.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat [TOYS-1649] Remove alt tag from rating star icon
  src/Magento_Review/templates/rating-stars.phtml
  src/components/header/search/search.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix [P2G-2675] Add missing mixin return
  src/Magento_Catalog/web/js/product/list/toolbar-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [LOWA-720] A11Y - adjust toolbar in user area
  src/Magento_Wishlist/templates/view.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-713] A11Y - adjust UA menu
  src/Magento_Customer/templates/account/navigation.phtml
  src/components/stack-nav/stack-nav.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat [TOYS-1653] Adjust toolbar pager
  src/Magento_Catalog/web/js/product/list/toolbar-ext.js
  src/Magento_Theme/templates/html/pager.phtml
Due: prettier --write, tslint --fix

feat: [MGS-5562] improved category image
  src/Magento_Catalog/templates/category/image.phtml
  src/etc/changelog.xml
Due: none

feat: [MGS-5557] fixed edit address form in user area
  src/Magento_Customer/templates/address/edit.phtml
  src/etc/changelog.xml
Due: none

feat: [MGS-5563] fixed search result switcher styles
  src/components/search-results-switcher/search-results-switcher.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat [TOYS-1653] Adjust toolbar pager
  src/Magento_Catalog/web/js/product/list/toolbar-ext.js
  src/Magento_Theme/templates/html/pager.phtml
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [MGS-5569] fixed accessibility issues on registration page
  src/Magento_Customer/templates/widget/taxvat.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-684] A11Y - adjust tab order in checkout summary
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [LOWA-716] A11Y - adjust edit account form
  src/Magento_Customer/templates/form/edit.phtml
  src/Magento_Customer/templates/widget/taxvat.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-682] A11Y - add missing translation
  src/etc/changelog.xml
  src/i18n/de_DE.csv
Due: none

feat [TOYS-1702] Fix issue with modal focus trap
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat [TOYS-1702] Fix issue with modal focus trap
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

feat [TOYS-1653] Adjust filter button accessibility
  src/Magento_Catalog/templates/product/list/toolbar/filters-button.phtml
  src/etc/changelog.xml
Due: none

feat [TOYS-1653] Adjust toolbar accssibility
  src/Magento_Catalog/templates/product/list/toolbar/filters-button.phtml
Due: none

feat: [LOWA-714] A11Y - adjust wishlist tile in UA
  src/Magento_Wishlist/layout/wishlist_index_index.xml
  src/etc/changelog.xml
Due: none

feat [TOYS-1703] Hide label position on pagination
  src/components/toolbar/pagination.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat [TOYS-1703] Hide label position on pagination
  src/components/toolbar/pagination.scss
Due: stylelint --fix

fix: [LP-2959] Fix products visibility for search results with filters
  src/components/search-results-switcher/search-results-switcher.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix
