Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

NKD-757 Show teaser in grid
  src/components/grid-layout/grid-layout.scss
Due: stylelint --fix

Add product tile gallery thumbnails centering
  src/components/tile-gallery/tile-gallery.scss
Due: stylelint --fix

Update src/components/tile-gallery/tile-gallery.scss
  src/components/tile-gallery/tile-gallery.scss
Due: stylelint --fix

LED-1927 Upgrade Creative Patterns
  package.json
  yarn.lock
Due: none

M2C-3038 Disable floating teasers support
  src/components/grid-layout/grid-layout.ts
Due: prettier --write, tslint --fix

Update margin of product questions container
  src/components/product-details/product-details.scss
Due: stylelint --fix

P2G-857 [PDP] Carousels: Price, product name etc. is missing on macOS/Safari
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

P2G-891 Fix Safari not rendering product tile content on hover
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Capitalise string New Customers
  src/Magento_Customer/layout/customer_account_login.xml
Due: none

Capitalise view and edit cart string
  src/Magento_Checkout/web/template/minicart/content.html
  src/Magento_Theme/templates/html/page-scroll.phtml
Due: none

Remove unnecessary file
  src/Magento_Theme/templates/html/page-scroll.phtml
Due: none

Provide basic url to include differents websites urls
  src/MageSuite_StoreLocator/web/js/form-mini.js
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: prettier --write, tslint --fix

Style Plugincompany form using mixins and variables
  src/PluginCompany_ContactForms/web/css/form.scss
  src/PluginCompany_ContactForms/web/css/themes/default.css
  src/PluginCompany_ContactForms/web/img/button-arrow-dark.png
  src/PluginCompany_ContactForms/web/img/button-arrow-light.png
  src/PluginCompany_ContactForms/web/img/check@2x.png
  src/PluginCompany_ContactForms/web/img/dropdown-arrows-bg-open.png
  src/PluginCompany_ContactForms/web/img/dropdown-arrows-bg.png
  src/PluginCompany_ContactForms/web/img/message-error.png
  src/PluginCompany_ContactForms/web/img/message-info.png
  src/PluginCompany_ContactForms/web/img/message-success.png
  src/PluginCompany_ContactForms/web/img/message-warning.png
  src/PluginCompany_ContactForms/web/js/form-ext.js
  src/entries/plugincompany-form.ts
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

Optimize svg flags to display properly on IE11
  src/web/images/icons/flag_at.svg
  src/web/images/icons/flag_cz.svg
  src/web/images/icons/flag_hr.svg
  src/web/images/icons/flag_si.svg
Due: none

M2C-2259 Add placeholder and M2C-3648 add min height
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

M2C-3649 Wait with ready class for font scaling to be completed
  src/components/proportional-scaler/proportional-scaler.ts
Due: prettier --write, tslint --fix

Fix visual, checkout connected bugs
  src/Magento_Checkout/web/template/billing-address/details.html
  src/components/calendar/calendar.scss
  src/components/checkout/checkout.scss
  src/components/modal/modal.scss
Due: stylelint --fix

remove es6 from form-mini for storelocator
  src/MageSuite_StoreLocator/web/js/form-mini.js
Due: prettier --write, tslint --fix

M2C-3649 Text shows before image
  src/components/image-teaser/image-teaser.scss
  src/components/proportional-scaler/proportional-scaler.ts
Due: stylelint --fix, prettier --write, tslint --fix

M2C-3620 Migrate hero image component teaser to new image teaser
  src/components/container/container.scss
  src/components/hero/hero.scss
  src/components/hero/hero.ts
  src/components/hero/index.ts
  src/components/image-teaser/image-teaser.scss
  src/components/image-teaser/image-teaser.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

checkout padding bugfixing
  src/MageSuite_LoginOrGuestCheckoutStep/web/css/login-or-guest.scss
Due: stylelint --fix

Eliminate options with disable products
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Refactor variables
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

M2C-3649 Proper scaling of image teaser elements
  src/components/image-teaser/image-teaser.scss
  src/components/image-teaser/image-teaser.ts
  src/components/proportional-scaler/proportional-scaler.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add dynamic opening hours data to storelocator
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

Init map before sending request for stores
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: prettier --write, tslint --fix

Add loading mask before markers are rendered
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/index.ts
Due: stylelint --fix, prettier --write, tslint --fix

Correct color variable
  src/MageSuite_StoreLocator/web/css/store-locator.scss
Due: stylelint --fix

P2G-822 Adjust toggleClass in order to support ie11
  src/components/reviews/reviews.ts
Due: prettier --write, tslint --fix

Adjust spinner
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/web/images/spinner.svg
Due: stylelint --fix

Changed input ecent handlers, to work on blur and enter keyup instead of "input" event
  src/Smile_ElasticsuiteCatalog/web/js/range-slider-widget-ext.js
Due: prettier --write, tslint --fix

M2C-3603 Add loading indicator for product tile gallery thumbnails
  src/components/tile-gallery/tile-gallery.scss
  src/web/images/icons/tile-gallery/tile-gallery-spinner.svg
Due: stylelint --fix

P2G-919 [Cart] Cross-Sell Carousel: wrong carousel content size
  src/components/container/container.scss
Due: stylelint --fix

M2C-3665 [Hero carousel] Remove "hidden" option from component configuration
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

[M2C-3635] Fixes pdp badge vertical alignment (IE11)
  src/pages/product/product.scss
Due: stylelint --fix

P2G-946 Adjust topbar after Magento update
  src/components/topbar/topbar.scss
Due: stylelint --fix

P2G-956 Adjust special price after Magento update
  src/components/buybox/buybox.scss
  src/components/price-box/mixin.scss
Due: stylelint --fix

P2G-959 Giant loading sign on Category page
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

Corrected star rating
  src/components/star-rating/star-rating.scss
Due: stylelint --fix

P2G-652 Add logic to mark categories with no children and style them
  src/components/navigation/navigation.scss
  src/components/navigation/navigation.ts
Due: stylelint --fix, prettier --write, tslint --fix
