Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

feat: [KRG-2985] Add configuration for products grid teaser size in CC admin
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

fix: [NKD-4763] A11y, Offcanvas nav - focus on list's first child
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/components/offcanvas/index.ts
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4575] A11y, Hide invisible product grid items
  src/components/products-grid/products-grid.ts
  src/entries/products-grid.ts
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [KRG-3093] [PDP] Add configurable headline tag to product details main template (right column)
  src/Magento_Catalog/templates/product/view/main.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4613] add missing autocompletes, fix a11 issues
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Checkout/web/template/shipping.html
  src/Magento_InventoryInStorePickupFrontend/layout/checkout_index_index.xml
  src/Magento_InventoryInStorePickupFrontend/web/template/form/element/email.html
  src/Magento_Ui/web/js/form/element/abstract-ext.js
  src/Magento_Ui/web/templates/form/element/helper/tooltip.html
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [MGS-5534] fix focus trap
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-3095] A11y - [PDP] Add aria-label for qty input in buybox
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

auto fixes from pre-commit CI job
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
Due: none

auto fixes from pre-commit CI job
  src/i18n/de_DE.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
Due: none

feat: [NKD-4613] add missing autocompletes, fix a11 issues
  src/Magento_Checkout/web/template/shipping.html
  src/Magento_Ui/web/js/form/element/abstract-ext.js
Due: prettier --write, tslint --fix

feat: [NKD-4613] adjust tooltip - allow to add id with xml
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_InventoryInStorePickupFrontend/layout/checkout_index_index.xml
  src/Magento_InventoryInStorePickupFrontend/web/template/form/element/email.html
  src/Magento_Ui/web/templates/form/element/helper/tooltip.html
  src/etc/changelog.xml
Due: none

feat: [NKD-4613] adjust tooltip - fix comment
  src/Magento_Ui/web/templates/form/element/helper/tooltip.html
Due: none

feat: [NKD-4562] a11y - fix toolbar issues
  src/MageSuite_Sorting/templates/product/list/toolbar/sorter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/Magento_Catalog/web/js/product/list/toolbar-ext.js
  src/components/toolbar/sorter.scss
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MOV-112] A11y, Cart - giftcard field label
  src/Aheadworks_Giftcard/templates/checkout/cart/giftcard.phtml
  src/etc/changelog.xml
Due: none

fix: [MGS-5114] fixed padding for notification modal
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-5527] fixed tab click issue
  src/components/tabs/tabs.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-5114] fixed mobile style
  src/MageSuite_WidgetNotificationModal/web/css/source/module.scss
Due: stylelint --fix

fix [RKL-954] Fix issue with mobile zoom
  src/MageSuite_ProductSlideGallery/web/css/product-slide-gallery.scss
Due: stylelint --fix

fix [RKL-954] Fix issue with mobile zoom
  src/MageSuite_ProductSlideGallery/web/css/product-slide-gallery.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MGS-5357] update google maps
  package.json
  src/MageSuite_StoreLocator/web/js/store-locator/map-style.js
  src/MageSuite_StoreLocator/web/js/store-locator/markerclusterer.js
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
  yarn.lock
Due: prettier --write, tslint --fix

feat: [LOWA-733] A11Y - adjust aria issues
  src/MageSuite_BackInStock/layout/catalog_product_view.xml
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
  src/Magento_Catalog/templates/product/view/type/default.phtml
  src/Magento_LayeredNavigation/layout/catalog_category_view_type_layered.xml
  src/Magento_LayeredNavigation/layout/catalogsearch_result_index.xml
  src/Magento_LayeredNavigationStaging/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/Smile_ElasticsuiteCatalog/web/template/autocomplete/product.html
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/aftersearch-nav/aftersearch-nav.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4629] add possibility to add alt to navigation teasers
  src/MageSuite_Navigation/templates/main/flyout.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-653] A11Y - adjust logo issues
  src/Magento_Theme/templates/html/header/logo.phtml
  src/etc/changelog.xml
Due: none

fix: [MGS-5559] adjust instagram feed slider
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

fix: [MOV-82] Ensure proper rendering of autocomplete section titles
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [LOWA 721] fixed newsletter form accessibility
  src/Magento_Customer/templates/form/newsletter.phtml
  src/etc/changelog.xml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
