Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

[MGS-3959] Fix bundle product options wrapper width in cart flyout
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

[MGS-3951] Move checkout progress bar lower
  src/components/checkout/checkout.scss
Due: stylelint --fix

HAAR-1974 Fix price label display on PDP and tile
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

[LP-531] Fixes issue with blinking product tiles (EDGE / on hover) in offcanvas minicart product carousel
  src/components/minicart/minicart.scss
Due: stylelint --fix

P2G-1262 Style short description field on DD teaser
  src/components/daily-deal-teaser/daily-deal-teaser.scss
Due: stylelint --fix

Revert "[MGS-3951] Move checkout progress bar lower"
  src/components/checkout/checkout.scss
Due: stylelint --fix

Fix logo dimenssions after Magento update to 2.3.5
  src/Magento_Theme/layout/default.xml
Due: none

Fix icon position in addtocart button on 'icon-only' variant
  src/components/addtocart/addtocart.scss
Due: stylelint --fix

HAAR-1980 Prevent adjusting badges on multiple tiles + fix maximum discount logic on category page.
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
Due: prettier --write, tslint --fix

Add missing wishlist toolbar
  src/Magento_Wishlist/templates/view.phtml
Due: none

HAAR-1980 Remove ES6 from swatch renderer mixin to support IE11
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Provide better wordings for IE11 modal
  src/components/ie11-modal/ie11-modal.ts
Due: prettier --write, tslint --fix

[LP-533] Improves free shipping indicator visibility on mobile devices
  src/components/minicart/minicart.scss
Due: stylelint --fix

Improve map offsetting method for Store Locator
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

Improve shop performance
  src/MageSuite_ProductTile/templates/fragments/badge.phtml
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
  src/components/navigation/index.ts
  src/components/offcanvas-navigation/index.ts
  src/components/products-carousel/index.ts
  src/components/select/index.ts
  src/components/teaser/teaser.ts
  src/components/video-player/index.ts
Due: prettier --write, tslint --fix

Fix attribute options selector for PDP
  src/components/swatches/swatches.scss
Due: stylelint --fix

P2G-1214 Fix counter translations with data-attribute-workaround
  src/components/dailydeal/dailydeal.ts
Due: prettier --write, tslint --fix

Fix JS error when there is no navigation on the page
  src/components/navigation/index.ts
Due: prettier --write, tslint --fix

LP-539 Fix minicart carousel positiion on ie11
  src/components/minicart/minicart.scss
Due: stylelint --fix

Revert "Merge branch 'hotfix-minicart_carousel_ie11-LP-539' into 'next'"
  src/components/minicart/minicart.scss
Due: stylelint --fix

- LP-323 - output product brand on elasticsuite autocomplete flyout, minicart item and order summary details if passed from backend
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/Magento_Checkout/web/template/summary/item/details.html
  src/Smile_ElasticsuiteCatalog/web/template/autocomplete/product.html
Due: none

Add modifier to container when minicart is emtpy
  src/Magento_Checkout/web/template/minicart/content.html
Due: none

Fix hover effect in teaser nav mixin
  src/components/teaser/mixins.scss
Due: stylelint --fix

Haar-2093 Make attributes list selector depending on tile selector
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
Due: prettier --write, tslint --fix

[MGS-3945] Add basic styles for pwa notification
  src/components/pwa-notification/index.ts
  src/components/pwa-notification/pwa-notification.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
Due: stylelint --fix, prettier --write, tslint --fix

LP-592 Hide success icon for prefix and customer type selects in Checkout
  src/components/checkout/checkout.scss
Due: stylelint --fix

- LP-323 - output product brand block in cart renderer
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

- LP-323 - output product brand block in cart for all types of products, not only simples
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

- LP-323 - make checkout cart brand output call prettier
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

[LP-569] Hides coupon code duplicated label from cart summary section
  src/components/cart/cart-summary/cart-summary.scss
Due: stylelint --fix

MGS-3963 Add comment regarding rating code name translation
  src/Magento_Review/templates/form.phtml
Due: none

LP-323 Add styling for brands feature in MageSuite
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/autocomplete/autocomplete.scss
  src/components/buybox/buybox.scss
  src/components/cart/cart-item/cart-item.scss
  src/components/minicart-product/minicart-product.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

LP-323 Move autocomplete item height to variable
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix

Added simple product qty renderer for grouped products
  src/Magento_Checkout/layout/checkout_cart_index.xml
Due: none

Pwa notification panel
  src/Magento_Theme/templates/html/pwa-notification-panel.phtml
  src/Magento_Theme/web/badge-72x72.png
  src/components/pwa-notification-panel/index.ts
  src/components/pwa-notification-panel/pwa-notification-panel.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/web/images/icons/pwa-notification-panel/icon_close.svg
  src/web/images/icons/pwa-notification-panel/icon_notification-browser.svg
  src/web/images/icons/pwa-notification-panel/icon_notification-enabled.svg
  src/web/images/icons/pwa-notification-panel/icon_notification-request.svg
Due: stylelint --fix, prettier --write, tslint --fix

MGS-3989 Adjust brand position in list view
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

- LP-325 - make checkout cart brand block not to use cache to prevent outputting same brand for all cart items
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

Revert "Merge branch 'hotfix-grouped-product-cart' into 'next'"
  src/Magento_Checkout/layout/checkout_cart_index.xml
Due: none

[GNP-450] Adds breadcrumbs to Contact Page
  src/Magento_Contact/layout/contact_index_index.xml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
