Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

chore: [MGP-117] Fix de translation
  src/i18n/de_DE.csv
Due: none

chore: [MGP-117] Fix de translation
  src/i18n/de_CH.csv
Due: none

fix: add missing !default to variable for Daily Deal component
  src/components/daily-deal-teaser/daily-deal-teaser.scss
Due: stylelint --fix

chore: [MGP-117] Add translations
  src/Magento_Email/email/footer.html
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

feat: [IPET-88] Extend pre checkout with optional register section and guest email
  src/Amasty_ShippingTableRates/web/template/shipping.html
  src/Amazon_Payment/web/template/shipping.html
  src/MageSuite_LoginOrGuestCheckoutStep/web/css/login-or-guest.scss
  src/Magento_Checkout/web/js/view/shipping-ext.js
  src/Magento_Checkout/web/template/shipping.html
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-4380] Fix currency switcher dropdown
  src/Magento_Directory/templates/currency.phtml
Due: none

chore: [MGS-4386] Remove styleguide
  src/MageSuite_Frontend/layout/frontend_styleguide_index.xml
  src/Magento_Styleguide/templates/badge.phtml
  src/Magento_Styleguide/templates/buttons.phtml
  src/Magento_Styleguide/templates/carousel.phtml
  src/Magento_Styleguide/templates/colors.phtml
  src/Magento_Styleguide/templates/extras.phtml
  src/Magento_Styleguide/templates/forms.phtml
  src/Magento_Styleguide/templates/icons.phtml
  src/Magento_Styleguide/templates/info.phtml
  src/Magento_Styleguide/templates/messages.phtml
  src/Magento_Styleguide/templates/pagination.phtml
  src/Magento_Styleguide/templates/swatches.phtml
  src/Magento_Styleguide/templates/title.phtml
  src/Magento_Styleguide/templates/typography.phtml
  src/components/styleguide/_styleguide.scss
  src/components/styleguide/index.ts
  src/entries/styleguide.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: Change magesuite-pwa-notifications icon names according to their XML...
  src/web/images/icons/push-notification/icon_notification-pending.svg
  src/web/images/icons/push-notification/icon_notification-rejected.svg
Due: none

fix: [MGS-3922] Fix cookie button
  src/Magento_Cookie/templates/html/notices.phtml
Due: none

chore: [MGS-4132] Add missing translation
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
Due: none

fix: [MGS-3122] Fix back button for product finder
  src/components/product-finder/product-finder.scss
  src/components/product-finder/product-finder.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-2063] Scroll bundle customize box a bit more down in order to not...
  src/Magento_Bundle/web/js/slide-ext.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

feat: [MGS-3968] Show back link for dashboard review details
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix: [MGS-4085] Center related products carousel on medium screens
  src/components/minicart/minicart.scss
Due: stylelint --fix

fix: [MGS-4399] Remove not necessary font-swap property from body
  src/config/base.scss
Due: stylelint --fix

fix(icons): [ROT-1090] Rename shipping icon to fix checkout issue - icon name is used in html as ID, what caused not intended scrolling
  src/sprites/svg/shipping-icon.svg
Due: none

feat(payone): [ROT-1092] Payone v3.3.0 templates update
  src/Payone_Core/web/template/payment/advance_payment.html
  src/Payone_Core/web/template/payment/barzahlen.html
  src/Payone_Core/web/template/payment/billsafe.html
  src/Payone_Core/web/template/payment/boni-agreement.html
  src/Payone_Core/web/template/payment/cash_on_delivery.html
  src/Payone_Core/web/template/payment/creditcard.html
  src/Payone_Core/web/template/payment/debit.html
  src/Payone_Core/web/template/payment/invoice.html
  src/Payone_Core/web/template/payment/klarna.html
  src/Payone_Core/web/template/payment/obt_eps.html
  src/Payone_Core/web/template/payment/obt_giropay.html
  src/Payone_Core/web/template/payment/obt_ideal.html
  src/Payone_Core/web/template/payment/obt_postfinance_card.html
  src/Payone_Core/web/template/payment/obt_postfinance_efinance.html
  src/Payone_Core/web/template/payment/obt_przelewy.html
  src/Payone_Core/web/template/payment/obt_sofortueberweisung.html
  src/Payone_Core/web/template/payment/paydirekt.html
  src/Payone_Core/web/template/payment/payolution_debit.html
  src/Payone_Core/web/template/payment/payolution_installment.html
  src/Payone_Core/web/template/payment/payolution_invoice.html
  src/Payone_Core/web/template/payment/paypal.html
  src/Payone_Core/web/template/payment/safe_invoice.html
  src/customizations/input/_input.scss
Due: stylelint --fix

feat(payone): [ROT-1092] Payone v3.3.0 templates update - update classes for boni-agreements
  src/Payone_Core/web/template/payment/barzahlen.html
  src/Payone_Core/web/template/payment/cash_on_delivery.html
  src/Payone_Core/web/template/payment/creditcard.html
  src/Payone_Core/web/template/payment/debit.html
  src/Payone_Core/web/template/payment/invoice.html
  src/Payone_Core/web/template/payment/obt_eps.html
  src/Payone_Core/web/template/payment/obt_giropay.html
  src/Payone_Core/web/template/payment/obt_ideal.html
  src/Payone_Core/web/template/payment/obt_postfinance_card.html
  src/Payone_Core/web/template/payment/obt_postfinance_efinance.html
  src/Payone_Core/web/template/payment/obt_przelewy.html
  src/Payone_Core/web/template/payment/obt_sofortueberweisung.html
  src/Payone_Core/web/template/payment/paydirekt.html
  src/Payone_Core/web/template/payment/payolution_debit.html
  src/Payone_Core/web/template/payment/payolution_installment.html
  src/Payone_Core/web/template/payment/payolution_invoice.html
  src/Payone_Core/web/template/payment/paypal.html
  src/Payone_Core/web/template/payment/safe_invoice.html
Due: none

fix: [MGS-4097] Make placeholder bigger on product tile
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

fix: [MGS-4337] Hide add to cart button when editing downloadable product
  src/components/addtocart/addtocart.scss
Due: stylelint --fix

fix: [MGS-4200] Hide share wishlist button
  src/Magento_Wishlist/layout/wishlist_index_index.xml
Due: none

feat(product-variants): [P2G-1698] correct styling
  src/components/product-variants/product-variants.scss
  src/config/breakpoints.scss
Due: stylelint --fix

chore: Correct wrong DE translation
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
Due: none

refactor: [MGS-4413] Improve breakpoint utility reliability
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/head/breakpoint-script.phtml
  src/components/addtocart/addtocart.scss
  src/utils/breakpoint/breakpoint.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: [IPET-496] Add possibility to preselect review star
  src/components/reviews/reviews.ts
Due: prettier --write, tslint --fix

fix: code regression in reviews
  src/components/reviews/reviews.ts
Due: prettier --write, tslint --fix

chore: Fix linter
  src/components/reviews/reviews.ts
Due: prettier --write, tslint --fix

Breakpoint utility refactor
  src/Magento_Theme/templates/head/breakpoint-script.phtml
Due: none

refactor: [MGS-4413] Improve breakpoint utility reliability
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/head/breakpoint-script.phtml
  src/utils/breakpoint/breakpoint.ts
Due: prettier --write, tslint --fix

remove non-existing variables
  src/Magento_Ui/web/templates/form/element/input.html
Due: none

fix: Issue for first breakpoint not beeing written properly in current
  src/Magento_Theme/templates/head/breakpoint-script.phtml
Due: none

fix(breakpoint): Parse numbers for breakpoints taken from view.xml
  src/Magento_Theme/templates/head/breakpoint-script.phtml
Due: none

feat: [IPET-375] Add "creativestyle/magesuite-quote-additional-data"
  composer.json
Due: none

feat: [IPET-375] Add old price to minicart and cart
  src/Magento_Checkout/templates/cart/form.phtml
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/cart/cart-item/cart-item.scss
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

feat: [IPET-375] Add old price to minicart and cart
  src/Magento_Checkout/templates/cart/form.phtml
Due: none

eat: [IPET-213] Add back-in-stock notifications for grouped products
  src/Magento_GroupedProduct/templates/product/view/type/grouped.phtml
  src/components/buybox/buybox.scss
  src/web/images/icons/stock/back-in-stock.svg
Due: stylelint --fix
