Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

[MGS-4140] Fetch query form url to fill search input. Fpcis on search input when offcanvas is opened
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

fix: [LED-2279] Fix issuue that Add answer is always visible no matter the configuration
  src/Aheadworks_Pquestion/templates/catalog/product/view/list.phtml
Due: none

fix: [LED-2297] Remove Magento cookie status notice
  src/Magento_Theme/layout/default_head_blocks.xml
Due: none

fix: [MGS-4140] Fetch query form url to fill search input. Focus on search input when offcanvas is opened
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

fix: [LED-2315] Fix animation of addons in Product Tile on Safari
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

feat: HAAR-2456 Adjust sale badge logic for configurables
  src/Magento_Catalog/templates/product/view/badges/sale.phtml
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/components/price-box/price-box.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat: Add option to display ratings on tile, even if there are 0 reviews
  src/Magento_Review/templates/rating-stars.phtml
Due: none

fix: [HAAR-2456] Remove duplicated logic related to from price label
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

feat(latest-purchased-prod): [LP-891] Create scss component and add styles
  src/components/latest-purchased-products/index.ts
  src/components/latest-purchased-products/latest-purchased-products.scss
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

refactor: [HAAR-2502] Bring back previous 'from' price label settings
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/components/price-box/price-box.scss
Due: stylelint --fix, prettier --write, tslint --fix

Revert "feat: Add option to display ratings on tile, even if there are 0 reviews"
  src/Magento_Review/templates/rating-stars.phtml
  src/components/star-rating/star-rating.scss
Due: stylelint --fix

fix: [LED-2340] Fix condition when to display plural string for customers and days for recently bought indicator
  src/MageSuite_ProductPositiveIndicators/templates/recentlybought/product.phtml
Due: none

fix(video-player): [LED-2098] Change video-trigger selector to match short youtube links
  src/components/video-player/video-player.ts
Due: prettier --write, tslint --fix

feat(offcanvas facet navigation): [HAAR-2304] Add optional offcanvas facet navigation
  src/MageSuite_Sorting/templates/product/list/toolbar.phtml
  src/Magento_Catalog/templates/product/list/toolbar.phtml
  src/Magento_Catalog/templates/product/list/toolbar/filters-button.phtml
  src/Magento_LayeredNavigation/templates/layer/state.phtml
  src/Smile_ElasticsuiteCatalog/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/templates/layer/offcanvas.phtml
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/components/offcanvas-filters/index.ts
  src/components/offcanvas-filters/offcanvas-filters.scss
  src/components/offcanvas/offcanvas.ts
  src/components/side-nav/side-nav.scss
  src/components/toolbar/toolbar.scss
  src/entries/category.ts
  src/etc/view.xml
  src/web/images/icons/toolbar/filters.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat: [HAAR-2304] Adjust icon position in offcanvas filters
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

hotfix: adds missing 'isMobile' import into deivce-detection component
  src/components/device-detection/mobile.ts
Due: prettier --write, tslint --fix

fix: [HAKA-1089] Fix minicart offcanvas close button on some devices
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

fix: [KAKA-1089] Fix non-responding close button on minicart offcanvas
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

Refactor of closing event
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

feat(offcanvas-facet-navigation): [HAAR-2304] Add option to not display filters in collapse on mobile
  src/Smile_ElasticsuiteCatalog/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

improvement: Best Practices - add aria-label for unlabeled pagination input
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
  src/Magento_Styleguide/templates/pagination.phtml
  src/Magento_Theme/templates/html/pager.phtml
Due: none

hotfix: (product-navigation) add CSS support for 'li' tags
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

improvement: (add-to links) Force descriptive label for 'title' of add-to-compare and add-to-wishlist links
  src/Magento_Catalog/templates/product/view/addto/compare.phtml
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
Due: none

[DOG-821] Add missing alt(aria) attribute for inlien svgs
  src/Aheadworks_Faq/layout/faq_category_index.xml
  src/Aheadworks_Giftcard/layout/checkout_cart_index.xml
  src/Aheadworks_Pquestion/layout/catalog_product_view.xml
  src/Aheadworks_Pquestion/layout/productquestion_customer_index.xml
  src/MageSuite_BackInStock/layout/catalog_product_view.xml
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
  src/MageSuite_Navigation/layout/navigation_mobile_index.xml
  src/Magento_CatalogSearch/layout/default.xml
  src/Magento_Checkout/layout/checkout_cart_index.xml
  src/Magento_Cookie/layout/default.xml
  src/Magento_LayeredNavigation/layout/catalog_category_view_type_layered.xml
  src/Magento_LayeredNavigation/layout/catalogsearch_result_index.xml
  src/Magento_LayeredNavigationStaging/layout/catalog_category_view_type_layered.xml
  src/Magento_Review/layout/catalog_product_view.xml
  src/Magento_Review/templates/form.phtml
  src/Magento_Review/templates/rating-stars.phtml
  src/Magento_Search/layout/default.xml
  src/Magento_Styleguide/templates/buttons.phtml
  src/Magento_Theme/layout/default.xml
  src/Smile_ElasticsuiteCore/layout/default.xml
Due: none

fix: Restore css code that prevents layout shift of filters in collapse
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

fix: [P2G-1510] Hide offcanvas if other is to be opened
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

hotfix(product-navigation): move visibility class higher in DOM to prevent position issues
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

hotfix(checkout): fixes order of shipping-form fields (country was displayed between zip and city)
  src/Magento_Checkout/layout/checkout_index_index.xml
Due: none

Fix offcanvas navigation svg icon height
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

fix: Correct comment in phtml that breaks HTML minification in some circumstances.
  src/Magento_Catalog/templates/addtocart/button.phtml
Due: none

chore(packstation): Remove Repertus Packstation styles
  src/Repertus_Packstation/index.ts
  src/Repertus_Packstation/layout/checkout_index_index.xml
  src/Repertus_Packstation/layout/customer_address_form.xml
  src/Repertus_Packstation/web/css/repertus-packstation.scss
  src/entries/checkout.ts
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

refactor: Breakpoint utility redesigned
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/components/aftersearch-nav/aftersearch-nav.ts
  src/components/grid-layout/grid-layout.ts
  src/components/image-teaser-legacy/image-teaser-legacy.ts
  src/components/image-teaser/image-teaser.ts
  src/components/item-cloner/item-cloner.ts
  src/components/products-carousel/products-carousel.ts
  src/components/proportional-scaler/proportional-scaler.ts
  src/components/salebar-widget/salebar-widget.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/utils/breakpoint/breakpoint.ts
Due: prettier --write, tslint --fix

fix: fix visual bugs (z-index, icon size) for offcanvas filters
  src/components/offcanvas-filters/offcanvas-filters.scss
  src/components/toolbar/toolbar.scss
Due: stylelint --fix

chore: Remove Nosto Renderer from magesuite core
  src/Nosto_Tagging/templates/element.phtml
  src/components/nosto-products-renderer/index.ts
  src/components/nosto-products-renderer/nosto-products-renderer.ts
Due: prettier --write, tslint --fix

Fix CSP Issues
  src/etc/csp_whitelist.xml
Due: none

fix: Add missing filter offcanvas block to search results page
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
Due: none

fix: [KRG-1682] Fix swatches mixin bug connected with unassigned $tileOrBuybox option
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

feature: [TT-148] Push notifications + back in stock refactor to allow chosing notification channel
  src/MageSuite_BackInStock/layout/catalog_product_view.xml
  src/MageSuite_BackInStock/web/css/product-stock-subscription.scss
  src/Magento_Theme/templates/html/pwa-notification-panel.phtml
  src/components/push-notification/index.ts
  src/components/push-notification/push-notification.scss
  src/components/pwa-notification-panel/index.ts
  src/components/pwa-notification-panel/pwa-notification-panel.scss
  src/components/swatches/swatches.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/web/images/icons/push-notification/icon_close.svg
  src/web/images/icons/push-notification/icon_notification-browser.svg
  src/web/images/icons/push-notification/icon_notification-disabled.svg
  src/web/images/icons/push-notification/icon_notification-enabled.svg
  src/web/images/icons/push-notification/icon_notification-outline.svg
  src/web/images/icons/push-notification/icon_notification-request.svg
  src/web/images/icons/pwa-notification-panel/icon_close.svg
  src/web/images/icons/pwa-notification-panel/icon_notification-browser.svg
  src/web/images/icons/pwa-notification-panel/icon_notification-enabled.svg
  src/web/images/icons/pwa-notification-panel/icon_notification-request.svg
Due: stylelint --fix, prettier --write, tslint --fix

fix: [KRG-1677] Move amazon pay checkout element to the bottom of the address form
  src/Magento_Checkout/layout/checkout_index_index.xml
Due: none

fix: [HAKA-1100] IReset list styles for related products in buybox
  src/components/buybox/related-products.scss
Due: stylelint --fix
