Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Styling different type of badges in styleguide
  src/Magento_Styleguide/templates/badge.phtml
  src/components/styleguide/_styleguide.scss
  src/entries/styleguide.ts
Due: stylelint --fix, prettier --write, tslint --fix

[M2C-3568] Footer margin fix
  src/components/footer/footer.scss
  src/components/newsletter/newsletter.scss
Due: stylelint --fix

Remove redundant backticks
  src/components/dailydeal/dailydeal.ts
Due: prettier --write, tslint --fix

M2C-2970 Remove Packstation css files and adjust our css to new version of Repertus
  src/Repertus_Packstation/layout/checkout_index_index.xml
  src/Repertus_Packstation/layout/customer_address_form.xml
  src/Repertus_Packstation/web/css/repertus-packstation.scss
Due: stylelint --fix

M2C-3807 Make breakpoints configurable from view.xml
  src/components/image-teaser-legacy/mixin.scss
  src/config/breakpoints.scss
  src/etc/view.xml
  src/utils/breakpoint/breakpoint.ts
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

Make max-width variable more flexible, to support values provided individually in admin panel
  src/PluginCompany_ContactForms/web/css/form.scss
Due: stylelint --fix

[KRG-462] Remove default opengraph block
  src/Magento_Catalog/layout/default.xml
Due: none

Fix product grid regression
  src/utils/breakpoint/breakpoint.ts
Due: prettier --write, tslint --fix

Fix Dailydeal translations
  src/components/dailydeal/dailydeal.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

Force install yarn to prevent false errors
  .gitlab-ci.yml
Due: none

Fix missing remove icon on a tile on tablets in horizontal position
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Fix border-radius in product finder, when image cover whole item
  src/components/product-finder/product-finder.scss
Due: stylelint --fix

Revert "Add form elements to styleguide"
  src/MageSuite_Frontend/layout/frontend_styleguide_index.xml
  src/Magento_Styleguide/templates/forms.phtml
  src/components/styleguide/_styleguide.scss
Due: stylelint --fix

[KRG-573] Changes DOM position of layered nav for 1-column-layout scenario to fix issues with not working sorter. Flexbox takes care of displaying it in previous position
  src/Magento_LayeredNavigation/page_layout/1column.xml
  src/pages/category/category.scss
Due: stylelint --fix

BRH-1447 BRH-1444 BRH-1445 BRH-1455 Update Repertus Packstation in m23 creativeshop and fix inputs in User Area, B2B Registration and Checkout
  src/Magento_Checkout/web/js/model/checkout-data-resolver-ext.js
  src/Magento_Checkout/web/js/model/new-customer-address-ext.js
  src/Repertus_Packstation/layout/customer_address_form.xml
  src/Repertus_Packstation/templates/widget/packstation.phtml
  src/Repertus_Packstation/web/js/action/mixins/select-billing-address-mixin.js
  src/Repertus_Packstation/web/js/form/components/account_address_type_select-mixin.js
  src/Repertus_Packstation/web/js/form/components/address_type_select-mixin.js
  src/Repertus_Packstation/web/js/repertus-packstation.js
  src/Repertus_Packstation/web/js/view/mixins/billing-address-mixin.js
  src/Repertus_Packstation/web/js/view/payment/default-mixin.js
  src/Repertus_Packstation/web/template/form/repertus_address_type_fieldset.html
  src/Repertus_Packstation/web/template/group/group.html
  src/Repertus_Packstation/web/template/modal/packstation-search-modal.html
  src/components/repertus-packstation/_repertus-packstation.scss
  src/customizations/input/_input.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

NKD-1608 [Contact form] Too small padding between radio button options on mobiles
  src/PluginCompany_ContactForms/web/css/form.scss
Due: stylelint --fix

DS-513 Fix Billing Address checkbox in Payment Step in Checkout
  src/Magento_Checkout/web/template/billing-address/form.html
Due: none

[KRG-204] Adds more data to Store location - email, www, fax
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

Remove redundant dependency from button enabler
  src/Magento_PageCache/web/js/submit-button-enabler.js
Due: prettier --write, tslint --fix

MageSuite PWA - Remove Manifest.json from theme
  src/Magento_Theme/web/manifest.json
Due: none

Update MageSuite icons
  src/Magento_Theme/web/android-chrome-192x192.png
  src/Magento_Theme/web/android-chrome-256x256.png
  src/Magento_Theme/web/apple-touch-icon.png
  src/Magento_Theme/web/favicon-16x16.png
  src/Magento_Theme/web/favicon-32x32.png
  src/Magento_Theme/web/favicon.ico
  src/Magento_Theme/web/icon-128x128.png
  src/Magento_Theme/web/icon-144x144.png
  src/Magento_Theme/web/icon-152x152.png
  src/Magento_Theme/web/icon-512x512.png
  src/Magento_Theme/web/mstile-150x150.png
  src/Magento_Theme/web/safari-pinned-tab.svg
Due: none

Fix navigation columns calculation issue in case we have extra elements...
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

BRH-1464 Formatting
  src/Magento_Catalog/templates/product/view/attributes.phtml
Due: none

Prevent Product Tile images from stretching vertically
  src/customizations/grid-product/_grid-product.scss
Due: stylelint --fix

Footer links: fixes collapsible feature for projects that use footer links titles set via XML
  src/Magento_Theme/templates/footer/section.phtml
Due: none

Nosto products overflow issue fix
  src/components/nosto-products-renderer/index.ts
  src/components/nosto-products-renderer/nosto-products.scss
Due: stylelint --fix, prettier --write, tslint --fix

[KRG-696] Search Results Page: Fixes look of the CMS Page entry when long page title is set
  src/components/search-results-cms/search-results-cms.scss
Due: stylelint --fix

Implemented content constructor in cms block
  src/etc/view.xml
Due: none

Add color & fill variables for success & fail addtocart button states
  src/components/addtocart/addtocart.scss
Due: stylelint --fix

LP-113 Show or hide numerical score from XML in rating-stars, move brackets to css
  src/Magento_Review/layout/catalog_product_view.xml
  src/Magento_Review/templates/helper/summary.phtml
  src/Magento_Review/templates/rating-stars.phtml
  src/components/star-rating/star-rating.scss
Due: stylelint --fix

Revert "Merge branch 'HAAR-1891-nosto-products-overflow-hotfix' into 'next'"
  src/components/nosto-products-renderer/index.ts
  src/components/nosto-products-renderer/nosto-products.scss
Due: stylelint --fix, prettier --write, tslint --fix

LP-156 Add toggle for moving table head on mobile
  src/components/table/mixin.scss
  src/components/table/table.scss
Due: stylelint --fix

Add performance improvements
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/radio.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/select.phtml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/list/toolbar/viewmode.phtml
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
  src/Magento_Checkout/templates/cart/item/qty/qty.phtml
  src/Magento_GroupedProduct/templates/product/view/type/grouped.phtml
  src/Magento_Styleguide/templates/pagination.phtml
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/pager.phtml
  src/Magento_Wishlist/layout/catalog_product_view.xml
  src/components/image-teaser/image-teaser.scss
  src/components/lazyload/lazyload.scss
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/components/offcanvas/offcanvas.scss
  src/config/base.scss
  src/utils/idle-deffered.ts
  src/web/js/vendor/inline-svg.js
Due: stylelint --fix, prettier --write, tslint --fix

LP-157 Fix reviews-summary scss and variable
  src/components/reviews-summary/reviews-summary.scss
Due: stylelint --fix

LP-157 Adjust star-rating selector
  src/components/star-rating/star-rating.scss
Due: stylelint --fix

Move cart sidebar after main column
  src/Magento_Checkout/layout/checkout_cart_index.xml
Due: none

Update builder, remove syntax errors from styles
  src/components/checkout/checkout.scss
  yarn.lock
Due: stylelint --fix

Remove creation of common package which did more harm then good
  src/Magento_Theme/layout/default_head_blocks.xml
  src/requirejs-config.js
  yarn.lock
Due: prettier --write, tslint --fix

LP-211 Add height auto to img in paragraph columns as it is no longer in styles-m.css
  src/components/paragraph/paragraph.scss
Due: stylelint --fix

Further performance adjustments
  .gitignore
  src/Magento_Theme/layout/default_head_blocks.xml
  src/components/grid-layout/grid-layout.ts
  src/components/product-tile/product-tile.ts
  src/utils/breakpoint/breakpoint.ts
Due: prettier --write, tslint --fix
