Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [MU-345] remove focus visible from elements after forcing focus programatically
  src/requirejs-config.js
  src/web/js/smart-keyboard-handler-ext.js
Due: prettier --write, tslint --fix

feat: [NKD-6139] Store locator map performance problems
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/MageSuite_StoreLocator/web/js/store-locator/template.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [NKD-6139] Replace SuperClusterAlgorithm with SuperClusterViewportAlgorithm to prevent browser freeze on zoom.
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: [NKD-6139] Cache store item template dependencies to avoid re-importing them per store
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/MageSuite_StoreLocator/web/js/store-locator/template.ts
Due: prettier --write, tslint --fix

fix: [NKD-6139] Set the correct icon for the location when providing a city in the search field
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

fix: [MU-345] remove focus visible from elements after forcing focus programatically
  src/etc/changelog.xml
  src/requirejs-config.js
  src/web/js/smart-keyboard-handler-ext.js
Due: prettier --write, tslint --fix

fix: [MGS-5768] fix all orders view in UA
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

[KRG-3534] Added null-guard for wishlist
  src/Magento_Wishlist/templates/bottom.phtml
Due: none

fix: [MGS-5773] center completed step icon in progress bar
  src/components/progress-bar/progress-bar.scss
Due: stylelint --fix

fix: [MGS-5776] update mollie templates to v3
  src/Mollie_Payment/web/css/mollie-payment.scss
  src/Mollie_Payment/web/template/payment/creditcard-with-components.html
  src/Mollie_Payment/web/template/payment/vault.html
Due: stylelint --fix

fix: [MGS-5781] order print view improvements
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

feat: [NKD-6277][Storelocator] Pin for search place visible on map is wrong
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

fix: [MGS-5787] remember me tooltip fixes
  src/components/checkout/checkout.scss
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix: [MGS-5792] remove scroll when horizontal
  src/components/offcanvas-filters/offcanvas-filters.scss
Due: stylelint --fix

feat: AI-4 add styles for smart cart component
  src/MageSuite_SmartCart/index.ts
  src/MageSuite_SmartCart/web/css/smart-cart.scss
  src/entries/smart-cart.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: AI-4 add styles for smart cart component
  src/MageSuite_SmartCart/web/css/smart-cart.scss
Due: stylelint --fix

fix: [MGS-5504] swatches in dd teaser
  src/components/daily-deal-teaser/daily-deal-teaser.scss
Due: stylelint --fix

feat: AI-4 add styles for default
  src/MageSuite_SmartCart/layout/default.xml
Due: none

feat: [CAP-167] Extended HugeRTE to set custom font size
  src/components/typography/typography.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [CAP-167] Extended HugeRTE to set custom font size
  src/components/typography/typography.scss
Due: stylelint --fix

fix: [P2G-2870] restore dynamic product quantity message in range slider
  src/Smile_ElasticsuiteCatalog/web/js/range-slider-widget-ext.js
Due: prettier --write, tslint --fix

fix: [P2G-2870] restore dynamic product quantity message in range slider
  src/Smile_ElasticsuiteCatalog/web/js/range-slider-widget-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix [ZJ-785] Remove mixin from rangeSlider
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [ZJ-790] migrate less styles from module to theme
  src/MageSuite_LoginOrGuestCheckoutStep/web/css/login-or-guest.scss
Due: stylelint --fix

fix: [ZJ-789] add preventscroll to focus restore when closing modal
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

feat: AI-4 add styles for smart cart
  src/MageSuite_SmartCart/index.ts
  src/MageSuite_SmartCart/layout/default.xml
  src/MageSuite_SmartCart/web/css/smart-cart.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat: AI-4 add styles for smart cart
  src/entries/smart-cart.ts
Due: prettier --write, tslint --fix

feat: AI-4 clean up code
  src/MageSuite_SmartCart/web/css/smart-cart.scss
Due: stylelint --fix

feat: [NKD-6321] Implementation of 'Warranty' label
  src/Magento_Checkout/web/template/place-order.html
Due: none

feat: [KRG-3515] Add product pins to Content Constructor teasers
  src/MageSuite_BrandManagement/layout/catalogsearch_result_index.xml
  src/components/pins/index.ts
  src/components/pins/pins.scss
  src/components/pins/pins.ts
  src/entries/pins.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/requirejs-config.js
  src/web/images/icons/pins/pin.svg
  src/web/images/icons/toggle-password/icon-password-hidden.svg
  src/web/images/icons/toggle-password/icon-password-visible.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat: [KRG-3515] Add product pins to Content Constructor teasers
  src/components/pins/index.ts
  src/components/pins/pins.scss
  src/components/pins/pins.ts
  src/entries/pins.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/requirejs-config.js
  src/web/images/icons/pins/pin.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat: [MGS-5647] Improve consentManagement.checkConsent method, add types for Usercentrics
  package.json
  src/components/consent-management/index.ts
  src/components/consent-management/vendor/usercentricsv3.ts
  src/etc/changelog.xml
  yarn.lock
Due: prettier --write, tslint --fix

chore: cleanup package json
  package.json
Due: none

chore: cleanup package json
  src/etc/changelog.xml
Due: none

chore: cleanup changelog
  src/etc/changelog.xml
Due: none

feat(pop): [NKD-4940] Add support for magesuite-elasticsuite-manual-filters
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/components/aftersearch-nav/aftersearch-nav.ts
Due: stylelint --fix, prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
