Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix: [MGS-4221] Fix file url and render video teaser as image overlay
  src/components/_video/players/type/file.ts
  src/components/video-teaser/video-teaser.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat: Add missing translations
  src/Magento_Review/web/js/process-reviews-ext.js
  src/i18n/de_DE.csv
  src/i18n/fr_FR.csv
Due: prettier --write, tslint --fix

fix(slider-component): Fix hooks import paths in component
  src/components/_slider/mixin.scss
  src/components/_slider/navigation/mixin.scss
  src/components/_slider/navigation/navigation.scss
  src/components/_slider/pagination/mixin.scss
  src/components/_slider/pagination/pagination.scss
Due: stylelint --fix

feat: Add translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
Due: none

feat: Add translations
  src/i18n/de_CH.csv
Due: none

feat: Refactor fonts to use local fonts instead of Google Font Api
  gulp/config/copy/fonts.js
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/fonts.phtml
  src/web/css/fonts.css
  src/web/fonts/libre-franklin-v11-latin-300.woff
  src/web/fonts/libre-franklin-v11-latin-300.woff2
  src/web/fonts/libre-franklin-v11-latin-700.woff
  src/web/fonts/libre-franklin-v11-latin-700.woff2
  src/web/fonts/libre-franklin-v11-latin-900.woff
  src/web/fonts/libre-franklin-v11-latin-900.woff2
  src/web/fonts/libre-franklin-v11-latin-regular.woff
  src/web/fonts/libre-franklin-v11-latin-regular.woff2
Due: stylelint --fix

feat: switch to magesuite.me in local development
  gulp/config/maintain/serve.js
Due: none

feat: Update Magento UI templates for 2.4.3
  src/Magento_Ui/web/templates/form/element/helper/tooltip.html
  src/Magento_Ui/web/templates/form/element/input.html
  src/Magento_Ui/web/templates/form/element/select.html
  src/Magento_Ui/web/templates/form/field.html
  src/Magento_Ui/web/templates/group/group.html
Due: none

feat: commit corrected package version
  package.json
Due: none

chore: remove test string
  src/Magento_Theme/templates/html/fonts.phtml
  src/web/css/fonts.css
Due: stylelint --fix

feat: Update checkout summary item template
  src/Magento_Checkout/web/template/summary/item/details/thumbnail.html
Due: none

feat: [MGS-4460] Serve google fonts locally
  src/Magento_Theme/layout/default.xml
  src/web/css/fonts.css
  src/web/fonts/libre-franklin-v11-latin-ext_latin-300.woff
  src/web/fonts/libre-franklin-v11-latin-ext_latin-300.woff2
  src/web/fonts/libre-franklin-v11-latin-ext_latin-700.woff
  src/web/fonts/libre-franklin-v11-latin-ext_latin-700.woff2
  src/web/fonts/libre-franklin-v11-latin-ext_latin-900.woff
  src/web/fonts/libre-franklin-v11-latin-ext_latin-900.woff2
  src/web/fonts/libre-franklin-v11-latin-ext_latin-regular.woff
  src/web/fonts/libre-franklin-v11-latin-ext_latin-regular.woff2
Due: stylelint --fix

fix: [mgs-4284] Prevent hiding of autocomplete when native keyboard is closed
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

fix: Adjust template that produces php error
  src/Magento_Review/templates/customer/recent.phtml
  src/Magento_Theme/layout/default_head_blocks.xml
Due: none

chore: move @use declaration in scss to top
  src/config/breakpoints.scss
Due: stylelint --fix

feat: Add Show Password translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
Due: none

chore: move @use scss declaration to top as required by builder
  src/config/breakpoints.scss
Due: stylelint --fix

fix: [MGS-4510] Play YouTube videos for iOS and Android devices
  src/components/_video/players/type/youtube.ts
Due: prettier --write, tslint --fix

fix: [MGS-4513 Fix video position as a layer between slide wrapper and text content
  src/components/video-teaser/video-teaser.scss
Due: stylelint --fix

feat: [HAKA-1466] [PDP] Translation missing
  src/i18n/de_DE.csv
Due: none

fix: Scroll mobile navigation to top even if there is more than 3 levels
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

fix: Fix syntax for related products on PDP
  src/Magento_Catalog/templates/product/list/items.phtml
Due: none

chore: [MGS-4221] Cleanup video player in image-teaser-legacy
  src/components/image-teaser-legacy/image-teaser-legacy.ts
Due: prettier --write, tslint --fix

fix: [MGS-4221] Move default consent value to XML
  src/components/consent-management/index.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

fix: [SCAFA-542] [Checkout Step-1/2] Unnecessary top-Separator within 'Summary Box'
  src/components/checkout/checkout.scss
Due: stylelint --fix

Update default.xml
  src/Magento_Theme/layout/default.xml
Due: none

fix: [MGS-4524, MGS-4525] Fix autoplay for FB player and z-index for mirror images
  src/components/_video/players/type/facebook.ts
  src/components/video-teaser/video-teaser.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-4326] Do not scroll page under autocomplete dropdown on mobile
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix, prettier --write, tslint --fix

Fix linter
  src/web/css/fonts.css
Due: stylelint --fix

Fix linter
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix

fix: [LED-2583] Fix way to provide svg src in MageSuite components
  src/components/dailydeal/dailydeal.ts
  src/components/ie11-modal/ie11-modal.ts
Due: prettier --write, tslint --fix

Fix linter
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

fix: [MGS-4524] Show content over video even when there is no container wrapper
  src/components/video-teaser/video-teaser.scss
Due: stylelint --fix

fix: [IPET-821, HAAR-2804] Fix no-scroll styles on body
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/header/header.scss
  src/components/offcanvas/offcanvas.ts
Due: stylelint --fix, prettier --write, tslint --fix

chore: [LED-2583] Run prettier for dailydeal and ie11-modal typescript files
  src/components/dailydeal/dailydeal.ts
  src/components/ie11-modal/ie11-modal.ts
Due: prettier --write, tslint --fix

fix: [LED-2583] Fix way to provide svg src in MageSuite components
  src/components/dailydeal/dailydeal.ts
  src/components/ie11-modal/ie11-modal.ts
  yarn.lock
Due: prettier --write, tslint --fix
