Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [LED-2583] Fix way to provide svg src in MageSuite components
  src/components/dailydeal/dailydeal.ts
  src/components/ie11-modal/ie11-modal.ts
Due: prettier --write, tslint --fix

fix(image-teaser): Add support for ligh/dark CTAs on image-teasers
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

fix(image-teaser): Change approach for declaring color scheme related variabes
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

fix: Adjust daily deal counter onproduct tile on list view
  src/components/dailydeal/dailydeal.scss
  src/components/product-tile-list/product-tile-list.scss
Due: stylelint --fix

fix(navigation-teaser): Removed unused template and corresponding scss component
  src/MageSuite_Navigation/templates/main/image-teaser.phtml
  src/components/navigation/index.ts
  src/components/navigation/teaser/index.ts
  src/components/navigation/teaser/teaser.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat: Add theme translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

feat: Improve behaviour of search field and offcanvas navigation on mobile
  src/components/header/search/search.ts
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

Fix linter
  src/components/product-tile-list/product-tile-list.scss
Due: stylelint --fix

fix: [IT] Increase z-index due to dailydeal overlapping arrows
  src/components/_slider/navigation/mixin.scss
Due: stylelint --fix

fix: [MGS-4465] Fix hover query for mobiles that do not fully support it
  src/components/_slider/autorotation/autorotation.ts
  src/components/_slider/mixin.scss
  src/components/_slider/navigation/navigation.scss
  src/components/image-teaser/image-teaser.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat: [HAKA-1515] missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix(image-teaser): Fix styles for image-teaser
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

fix: [MGS-4516] Unnecessary empty space at the bottom of the Minicart (iPhone)
  src/config/base.scss
Due: stylelint --fix

fix: Fix adding special-price class to product tile price when swtaches are clicked
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

feat!: Move brand-carousel columns config under js config for consistency, add comments
  src/components/brand-carousel/brand-carousel.scss
  src/etc/view.xml
Due: stylelint --fix

feat: Next gen feature code improvements
  src/components/_slider/mixin.scss
  src/components/_slider/slider.ts
  src/components/image-teaser/image-teaser.scss
  src/components/minicart/minicart-offcanvas.ts
  src/components/products-carousel/products-carousel.scss
  src/config/variables.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat: [P2G-1432]. remove whole filter entry if options is <=1
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

fix(slider): [HAAR-3064] Fix scroll snap for iOS
  src/components/_slider/mixin.scss
  src/components/_slider/slider.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: Add possibility to add autorotation on mobile
  src/components/_slider/autorotation/autorotation.ts
  src/components/_slider/autorotation/interface.ts
  src/components/_slider/interface.ts
  src/components/_slider/slider.ts
  src/components/image-teaser/image-teaser.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat: Add possibility to add autorotation on mobile
  src/etc/view.xml
Due: none

chore: fix typo in comment
  src/components/_slider/mixin.scss
Due: stylelint --fix

fix(slider): [HAAR-3064] Removed debugger
  src/components/_slider/slider.ts
Due: prettier --write, tslint --fix

Move duplicated code to method
  src/components/_slider/slider.ts
  src/components/image-teaser/image-teaser.ts
Due: prettier --write, tslint --fix

Move duplicated code to method
  src/etc/view.xml
Due: none

Move duplicated code to method
  src/components/_slider/interface.ts
Due: prettier --write, tslint --fix

feat: [MGP-679 Adjust styles for video-teaser in order to make it work for...
  src/components/video-teaser/video-teaser.scss
Due: stylelint --fix

fix(slider): [HAAR-3064] Fixed condition related to polyfill load in slider
  src/components/_slider/slider.ts
Due: prettier --write, tslint --fix

fix: switch to itemsCount instead of length
  src/components/_slider/slider.ts
Due: prettier --write, tslint --fix

fix: [MGS-4326] Do not scroll page under autocomplete dropdown on mobile
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix, prettier --write, tslint --fix

Fix linter
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix

Fix linter
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

fix: Remove empty slider check (moved to php)
  src/components/_slider/slider.ts
Due: prettier --write, tslint --fix

feat: Add reset list style for slider elemnts
  src/components/_slider/mixin.scss
Due: stylelint --fix

feat: [MGP-805] Add support for Amasty Cookie Consent and refactor main file
  src/components/consent-management/index.ts
  src/components/consent-management/vendor/amasty.ts
  src/components/consent-management/vendor/usercentrics.ts
  src/utils/cookies.ts
Due: prettier --write, tslint --fix

Fix linter
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

fix: [MGP-805] Fix Amasty checkConsent before Amasty has initialized
  src/components/consent-management/vendor/amasty.ts
Due: prettier --write, tslint --fix

fix(email): [SCAFA-603] Fix alignment of table with payment method details in order confirmation email
  src/Magento_Payment/templates/info/default.phtml
  src/web/css/source/_email-extend.less
Due: none

fix: [MGP-805] Fix scenario when cookiePolicyRestriction is undefined
  src/components/consent-management/vendor/amasty.ts
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
