Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/Magento_Weee/web/template/checkout/summary/item/price/row_excl_tax.html
Due: none

Automatic update of project files
  .gitlab/csbot.gitlabci.yml
Due: none

Automatic update of project files
  .pre-commit-config.yaml
Due: none

feat: [RK-654] Infinite scroll: button icon support
  src/MageSuite_ElasticsuiteAjaxifier/web/css/module.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [IPET-2029] Add IOS custom installation prompt styles
  src/MageSuite_Pwa/web/css/pwa-a2hs-guide.scss
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/changelog.xml
  src/web/images/icons/pwa-a2hs-guide/install-blue.svg
  src/web/images/icons/pwa-a2hs-guide/prompt-background.svg
Due: stylelint --fix, prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/web/images/icons/pwa-a2hs-guide/prompt-background.svg
Due: none

chore: update changelog tag
  src/etc/changelog.xml
Due: none

Add tablet styles
  src/MageSuite_Pwa/web/css/pwa-a2hs-guide.scss
Due: stylelint --fix

Add proper product teaser image sizes
  src/MageSuite_ContentConstructorFrontend/etc/view.xml
Due: none

auto fixes from pre-commit CI job
  src/MageSuite_ContentConstructorFrontend/etc/view.xml
Due: none

Change import capitalization
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

Clean product tile teaser
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

Adjust product teaser styles
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

feat: [MGS-5153] Include common or smallest Content Constructor components in entries instead of inline loading.
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

Add products
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

fix: [SCAFA-167] Add alias for a mixin regarding rangeSlider
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [MGS-5165] Adjust facebook icon
  src/web/images/icons/facebook.svg
Due: none

Check templates against Magento 2.4.6
  src/Magento_Catalog/templates/product/compare/link.phtml
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Catalog/templates/product/list/items.phtml
  src/Magento_Catalog/templates/product/list/toolbar.phtml
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/sorter.phtml
  src/Magento_Catalog/templates/product/list/toolbar/viewmode.phtml
  src/Magento_Catalog/templates/product/price/amount/default.phtml
  src/Magento_Catalog/templates/product/view/addto.phtml
  src/Magento_Catalog/templates/product/view/addto/compare.phtml
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/Magento_Catalog/templates/product/view/details.phtml
  src/Magento_Catalog/templates/product/view/form.phtml
  src/Magento_Catalog/templates/product/view/gallery.phtml
  src/Magento_Catalog/templates/product/view/type/default.phtml
  src/Magento_CatalogSearch/templates/result.phtml
  src/Magento_Theme/templates/html/breadcrumbs.phtml
  src/Magento_Theme/templates/html/header/logo.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/Magento_Theme/templates/html/skip.phtml
  src/Magento_Theme/templates/html/skiptarget.phtml
  src/Magento_Theme/templates/messages.phtml
  src/Magento_Theme/templates/root.phtml
  src/Magento_Ui/web/template/messages.html
  src/Magento_Weee/web/template/checkout/summary/item/price/row_excl_tax.html
  src/Magento_Wishlist/templates/cart/item/renderer/actions/move_to_wishlist.phtml
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
  src/Magento_Wishlist/templates/email/items.phtml
  src/Magento_Wishlist/templates/item/configure/addto/wishlist.phtml
  src/Magento_Wishlist/templates/item/list.phtml
  src/Magento_Wishlist/templates/link.phtml
Due: none

feat: [MGS-5771] Compatibility with Magento 2.4.6
  src/Magento_Bundle/templates/catalog/product/view/summary.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/radio.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/select.phtml
  src/Magento_Captcha/templates/default.phtml
  src/Magento_Catalog/templates/category/image.phtml
Due: none

Check phtml and html templates against Magento
  src/Magento_Review/templates/customer/list.phtml
  src/Magento_Review/templates/customer/recent.phtml
  src/Magento_Review/templates/customer/view.phtml
  src/Magento_Review/templates/form.phtml
  src/Magento_Review/templates/helper/summary.phtml
  src/Magento_Review/templates/helper/summary_short.phtml
  src/Magento_Review/templates/product/view/list.phtml
  src/Magento_Review/templates/review.phtml
  src/Magento_SalesRule/web/template/cart/totals/discount.html
  src/Magento_SalesRule/web/template/payment/discount.html
  src/Magento_Search/templates/form.mini.phtml
  src/Magento_Shipping/templates/order/shipment.phtml
  src/Magento_Store/templates/switch/languages.phtml
  src/Magento_Store/templates/switch/stores.phtml
Due: none

Change icon arrow up name
  src/web/images/icons/icon-arrow-up.svg
Due: none

Update update cart template
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
Due: none

Update gallery.phtml
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Update view.xml
  src/etc/view.xml
Due: none

fix: [MGS-5092] Fix for too tall carousel tiles on tablets for minicart offcanvas carousel
  src/components/minicart/minicart.scss
Due: stylelint --fix

fix: Update product teaser stock styling
  src/components/product-tile-teaser/product-tile-teaser.scss
Due: stylelint --fix

fix: [MGS-5147] Does not use passive listeners in order to improve scrolling performance
  src/requirejs-config.js
  src/web/js/jquery-ext.js
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
