Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

feat: [LOWA-759] add aria hidden to prevent losing focus on ios
  src/components/product-finder/product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [MGS-5551] fixed app icon for android devices
  src/Magento_Theme/web/android-chrome-192x192.png
  src/Magento_Theme/web/android-chrome-256x256.png
  src/Magento_Theme/web/icon-512x512-maskable.png
  src/Magento_Theme/web/icon-512x512.png
  src/etc/changelog.xml
Due: none

feat: [MGS-5570] improvements for toggle password
  src/components/toggle-password/toggle-password.scss
  src/components/toggle-password/toggle-password.ts
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: stylelint --fix, prettier --write, tslint --fix

fix: [KRA-2271] replace obsolete attributes
  src/Magento_Swatches/web/js/swatch-renderer-referrer-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat [FR-610] Adjust products grid
  src/components/products-grid/products-grid.ts
  src/entries/products-grid.ts
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Edit changelog.xml
  src/etc/changelog.xml
Due: none

feat: [HAAR-4954] Offcanvas INP adjustment
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-3123] [PDP] A11y - Adjust reviews
  src/Magento_Review/templates/form.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-693] A11Y - confirmation email issue
  src/Magento_Email/email/header.html
  src/Magento_Sales/email/order_new.html
  src/Magento_Sales/email/order_new_guest.html
  src/etc/changelog.xml
Due: none

fix: [MGS-5608] move focus to missing swatch modal after opening
  src/Magento_Catalog/web/js/swatches-validation-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-3135] [POP] A11y - Adjust aftersearch navigation
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/etc/changelog.xml
Due: none

feat: [KRG-3152] [POP] A11y - Adjust pager
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

feat: [KRG-3152] [POP] A11y - Adjust pager
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

fix(checkout): [NKD-4855] Fix accessibility issue related to checkout tabs from pick-in-store
  src/Magento_Checkout/web/js/view/shipping-ext.js
  src/Magento_Checkout/web/template/shipping.html
  src/Magento_InventoryInStorePickupFrontend/requirejs-config.js
  src/Magento_InventoryInStorePickupFrontend/web/js/view/shipping-information-ext-addresses.js
  src/Magento_InventoryInStorePickupFrontend/web/js/view/store-pickup-ext.js
  src/Magento_InventoryInStorePickupFrontend/web/js/view/store-selector-ext-communication.js
  src/Magento_InventoryInStorePickupFrontend/web/template/delivery-method-selector.html
  src/Magento_InventoryInStorePickupFrontend/web/template/store-selector.html
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [LOWA-786] align lv flag to stick to current flag convention
  src/etc/changelog.xml
  src/web/images/icons/flag_lv.svg
Due: none

fix(qty-increment): [NKD-4752] Block special characters from being entered in qty input field
  src/Magento_Checkout/templates/cart/item/qty/qty.phtml
  src/components/qty-increment/qty-increment.ts
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: prettier --write, tslint --fix

fix(checkout): [NKD-4772] Fix HTML markup for customer-email input notes in terms of accessibility. Adjust checkout field tooltips
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_PaymentServicesPaypal/web/template/form/element/email.html
  src/Magento_Ui/web/templates/form/element/helper/tooltip.html
  src/components/field/field.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MGS-5543] fix brand letters wrapper when list is longer
  src/MageSuite_BrandManagement/web/css/brands-index.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix(cart): [NKD-4752] Adjust qty-increment component script and template in terms of a11y
  src/Magento_Checkout/templates/cart/item/qty/qty.phtml
  src/components/qty-increment/qty-increment.ts
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: prettier --write, tslint --fix

fix(checkout): [NKD-4855] Fix templates and script regarding shipping tab content visibility
  src/Magento_Checkout/web/js/view/shipping-ext.js
  src/Magento_Checkout/web/template/shipping.html
  src/Magento_InventoryInStorePickupFrontend/web/template/delivery-method-selector.html
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-3172] A11Y - adjust cart item icon labels
  src/Magento_Checkout/layout/checkout_cart_item_renderers.xml
  src/Magento_Checkout/templates/cart/item/renderer/actions/edit.phtml
  src/Magento_Checkout/templates/cart/item/renderer/actions/remove.phtml
  src/etc/changelog.xml
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
Due: none

feat: [KRG-3165] Adjust template in order to allow tab being excluded from search result switcher
  src/Smile_ElasticsuiteCms/templates/switcher.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-5542] Implement consent management for TrustedShops
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/components/consent-management/script-loader/index.ts
  src/components/consent-management/script-loader/interfaces.ts
  src/components/consent-management/script-loader/script-loader.ts
  src/components/consent-management/vendor/usercentrics.ts
Due: prettier --write, tslint --fix

feat: [PRO-96] Filters: allow to display sorter both in filters and toolbar
  src/Magento_Catalog/web/js/product/list/toolbar-ext.js
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

chore: Remove console.log from script-loader component
  src/components/consent-management/script-loader/script-loader.ts
Due: prettier --write, tslint --fix

feat: [MGS-5621] add dvh support for search autocomplete
  src/components/header/search/search.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [KRG-3183] [Checkout] A11y - Adjust login form template of Payment Services PayPal
  src/Magento_PaymentServicesPaypal/web/template/form/element/email.html
  src/etc/changelog.xml
Due: none

fix: [KRA-2266] always trigger magento validation on submit
  src/etc/changelog.xml
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

fix: [MGS-5621] adjust vars and fix typo
  src/components/header/search/search.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [KRG-3159] [AddToCart] A11y - Adjust CTA button
  src/Magento_Catalog/templates/addtocart/button.phtml
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

feat: [KRG-3165] Improve a11y for search results switcher feature
  src/Smile_ElasticsuiteCms/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCms/templates/switcher.phtml
  src/etc/changelog.xml
Due: none

fix(checkout): [NKD-4855] Adjust template markup to properly render a11y related attribute
  src/Magento_Checkout/web/template/shipping.html
  src/etc/changelog.xml
Due: none
