Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [MGP-174] Remove search focus in offcanvas navigation to improve UX
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

fix: [MGP-208] Use proper variable for page category padding-top
  src/pages/category/category.scss
Due: stylelint --fix

feat(offcanvas-navigation): [HAAR-2589] Improve initialization process
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Revert "Merge branch 'haar-2304-offcanvas-filters-adjustments' into 'next'"
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

[LP-820] Do not update cart after click on disabled button
  src/components/cart/cart.ts
Due: prettier --write, tslint --fix

Remove unnecessary styles for offcanvas filters title
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

[LP-1034] Hide Offcanvas filters headline if offcanvas filters are hidden
  src/pages/category/category.scss
Due: stylelint --fix

feat(range-slider): [P2G-1520] Component sizing adjustments
  src/components/aftersearch-nav/range.scss
Due: stylelint --fix

chore: Add missing optional import
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

fix: [MGP-236] Fix z-index for offcanvas filters so they dont overlap with product tile in grid
  src/pages/category/category.scss
Due: stylelint --fix

fix: [MGP-235] Prevent from attaching events to the same trigger if offcanvas search is enabled
  src/components/header/search/search.ts
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

feat(header): [MGS-4289] Switch from fixed to real sticky header positioning
  src/components/header/header.scss
Due: stylelint --fix

chore: Remove extended ReCaptcha from dependencies (included in core metapackage now)
  composer.json
Due: none

Remove superfluous quotes
  src/Magento_Checkout/templates/cart/minicart.phtml
Due: none

fix(search-result): [P2G-1485] Search result page: incorrect amount of products shown
  src/components/search-results-switcher/search-results-switcher.ts
Due: prettier --write, tslint --fix

feat: Remove creativeshop demo specific skew
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/components/addtocart/addtocart.scss
  src/components/authorization-link/authorization-link.scss
  src/components/badge/mixin.scss
  src/components/button/animation.scss
  src/components/button/mixin.scss
  src/components/checkout/checkout.scss
  src/components/dailydeal/dailydeal.scss
  src/components/dropdown-switcher/dropdown-switcher.scss
  src/components/header/search/search.scss
  src/components/progress-bar/progress-bar.scss
  src/components/qty-counter/mixin.scss
  src/components/social-media-list/social-media-list.scss
  src/components/stack-nav/stack-nav.scss
  src/components/teaser/mixins/pagination.scss
  src/components/topbar/topbar.scss
  src/config/variables.scss
Due: stylelint --fix

fix(header): Fix container padding on mobiles
  src/components/header/header.scss
Due: stylelint --fix

chore: Correct type
  src/components/search-results-switcher/search-results-switcher.ts
Due: prettier --write, tslint --fix

fix(checkout): Fix checkout on IE11 by altering unsupported method
  src/Magento_Ui/web/js/view/messages-ext.js
Due: prettier --write, tslint --fix

fix(header): [GNP-761] Fix login-as-customer notification style
  src/Magento_LoginAsCustomerFrontendUi/templates/html/notices.phtml
  src/Magento_LoginAsCustomerFrontendUi/templates/html/notices/logout-link.phtml
  src/Magento_LoginAsCustomerFrontendUi/web/css/source/_module.less
  src/Magento_LoginAsCustomerFrontendUi/web/css/source/login-as-customer.scss
  src/entries/login-as-customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: [NKD-1913] Add content constructor to cms block staging
  src/etc/view.xml
Due: none

feat: [HAAR-2772] Get rid of will-change properties due to issues on Safari
  src/components/addtocart/addtocart.scss
  src/components/button/mixin.scss
  src/components/header/header.scss
  src/components/qty-increment/qty-increment.scss
  src/components/salebar-widget/salebar-widget.scss
Due: stylelint --fix

fix: Apply positioning adjustments only for offcnvas navigation
  src/components/header/header.scss
Due: stylelint --fix

fix(product comparison): MIC-436 [micart carousel][comparison] minicart product carousel displays incorrectly after adding a product from the comparison
  src/entries/product-compare.ts
Due: prettier --write, tslint --fix

fix(reorder-banner): P2G-1608 Icon in re-order banner is cut
  src/components/reorder-banner/reorder-banner.scss
Due: stylelint --fix

fix: Remove constraint for extended-recaptcha (added in core)
  composer.json
Due: none

fix(breakpoint-util): Move util to separate entry and include on every page
  src/components/aftersearch-nav/aftersearch-nav.ts
  src/components/tooltip/tooltip.ts
  src/entries/breakpoint.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/product-compare.ts
  src/entries/styleguide.ts
  src/requirejs-config.js
  src/utils/breakpoint/breakpoint.ts
Due: prettier --write, tslint --fix

refactor(page-scroll): [P2G-1610] Refactor page-scroll component to use intersectionObserver instead of scroll event
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/Magento_Catalog/templates/category/page-scroll.phtml
  src/components/page-scroll/page-scroll.ts
Due: prettier --write, tslint --fix

fix: Issues after Magento 2.4 update
  composer.json
  package.json
  src/Magento_Checkout/web/template/minicart/content.html
  yarn.lock
Due: none

fix: Update yarn.lock
  package.json
  yarn.lock
Due: none

fix: Use proper variable for place order button
  src/components/checkout/checkout.scss
Due: stylelint --fix

refactor!: [KRG-1864] Remove address-autofill and google-address-detector components
  src/Magento_Checkout/templates/onepage.phtml
  src/Magento_Checkout/web/js/checkout-customizations.js
  src/components/address-autofill/address-autofill.ts
  src/components/address-autofill/index.ts
  src/components/google-address-detector/google-address-detector.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: Correct toolbar margin in user area
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix: Correct checkbox firld in user area
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

chore: yarn.lock update
  yarn.lock
Due: none

feat(qty-switcher): [HAAR-2745] Add support for removing items when Qty = 0
  src/Magento_Checkout/templates/cart/item/qty/qty.phtml
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/components/cart/cart.ts
  src/components/qty-increment/qty-increment.ts
Due: prettier --write, tslint --fix

fix: Reset list style form bundle subitems on order print page
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Update page.phtml
  src/errors/creativeshop/page.phtml
Due: none

v5.0.1-patched
  package.json
  yarn.lock
Due: none

feat: [ROT-1062] [CHECKOUT step 2] Section need some styling
  src/Magento_InventoryInStorePickupFrontend/web/template/shipping-information.html
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
