Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Fix lint
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

fix: teaser-and-text - text slide not visible on mobile
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

feat: [KRG-2098] Add animating wishlist badge
  src/components/header/user-nav/user-nav.scss
Due: stylelint --fix

fix(image-teaser): [HAAR-3076] Hide empty figcaption for image-teaser within icon-component
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Fix lint
  src/components/header/user-nav/user-nav.scss
Due: stylelint --fix

feat: [P2G-1432]. Added DisplayFiltersConfiguration ViewModel into "catalog.leftnav" block
  src/Smile_ElasticsuiteCatalog/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

feat: Add missing deafult scheme to navigation teaser config
  src/MageSuite_Navigation/layout/default.xml
Due: none

fix: Added missed $viewModel variable
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

fix: Added missed $viewModel in vendor/creativestyle/theme-creativeshop/src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

fix: Added missing view_model to catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
Due: none

fix: Added missing view_model to brands_index_index.xml
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
Due: none

fix: remove unnecessary focus on search input on touch devices
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

fix(slider-autorotate): [HAAR-3097] Clear interval before starting new one
  src/components/_slider/autorotation/autorotation.ts
Due: prettier --write, tslint --fix

Fix vulnerability
  src/Magento_LayeredNavigation/templates/layer/state.phtml
Due: none

fix: [MGP-849] Checkout agreements not visible
  src/Magento_Checkout/web/js/view/sidebar/before-place-order.js
  src/Magento_Checkout/web/template/sidebar/before-place-order.html
Due: prettier --write, tslint --fix

fix: [MGP-849] Checkout agreements not visible
  src/Magento_Checkout/web/template/sidebar/before-place-order.html
Due: none

Revert "fix: [IPET-821, HAAR-2804] Fix no-scroll styles on body"
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/header/header.scss
  src/components/offcanvas/offcanvas.ts
Due: stylelint --fix, prettier --write, tslint --fix

Merge branch 'fix-vulnerability' into '16.x'
  src/Magento_LayeredNavigation/templates/layer/state.phtml
Due: none

Merge branch 'fix-vulnerability' into '15.x'
  src/Magento_LayeredNavigation/templates/layer/state.phtml
Due: none

feat: Adjust and add translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
Due: none

feat: Add missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
Due: none

fix(pdp): [HAAR-3111] Fix JS error for reviews component
  src/components/reviews/reviews.ts
Due: prettier --write, tslint --fix

feat(offcanvas-minicart)!: Possibility to set custom settings for products carousel in offcanvas minicart
  src/components/brand-carousel/brand-carousel.scss
  src/components/minicart/minicart-offcanvas.ts
  src/components/minicart/minicart.scss
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: Close offcanvas on before-search-open event and close search on before-offcanvas--open only if they are open
  src/components/header/search/search.ts
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

chore: update comment in bundle.scss
  src/bundle.scss
Due: stylelint --fix

fix: get rid of error ehere there is not category name
  src/Magento_Catalog/templates/category-tree.phtml
Due: none

feat: Instant Purchase feature
  src/MageSuite_QuickReorder/instant-purchase-user-area.ts
  src/MageSuite_QuickReorder/instant-purchase.ts
  src/MageSuite_QuickReorder/web/css/instant-purchase-button.scss
  src/MageSuite_QuickReorder/web/css/instant-purchase-user-area.scss
  src/MageSuite_QuickReorder/web/css/instant-purchase.scss
  src/Mollie_Payment/index.ts
  src/Mollie_Payment/web/css/mollie-payment.scss
  src/Mollie_Payment/web/template/payment/creditcard-with-components.html
  src/Mollie_Payment/web/template/payment/vault.html
  src/components/checkout/checkout.scss
  src/components/field/field.scss
  src/components/offcanvas/offcanvas.ts
  src/entries/checkout.ts
  src/entries/customer.ts
  src/entries/offcanvas.ts
  src/entries/pdp.ts
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

fix: Add alt tag for button icon
  src/Magento_Checkout/layout/default.xml
Due: none

fix: Add alt tag
  src/Magento_Checkout/layout/default.xml
Due: none

Renamed instant purchase entries
  src/MageSuite_InstantPurchase/instant-purchase-user-area.ts
  src/MageSuite_InstantPurchase/instant-purchase.ts
  src/MageSuite_InstantPurchase/web/css/instant-purchase-button.scss
  src/MageSuite_InstantPurchase/web/css/instant-purchase-user-area.scss
  src/MageSuite_InstantPurchase/web/css/instant-purchase.scss
  src/MageSuite_QuickReorder/instant-purchase-user-area.ts
  src/MageSuite_QuickReorder/instant-purchase.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: change paths to instant purchase entries
  src/MageSuite_InstantPurchase/index.ts
  src/MageSuite_InstantPurchase/user-area.ts
  src/entries/checkout.ts
  src/entries/customer.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

fix: [HAAR-3106] Fix displayed reviews counter information and load more reviews feature for many reviews
  src/Magento_Review/web/js/process-reviews-ext.js
  src/Magento_Theme/templates/html/pager.phtml
Due: prettier --write, tslint --fix

fix: [LP-1212] Fix image change when swatches are clicked in product tile
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
