Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix: [KRG-2240] Fix style of disabled swatches on product tile when back-in-stock is active
  src/components/swatches/swatches.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat(cart): Add missing slider pagination/navigation styles
  src/entries/checkout.ts
Due: prettier --write, tslint --fix

chore: update changelog
  src/etc/changelog.xml
Due: none

fix(simplified-bundle): Hide redundant bundle options wrapper
  src/etc/changelog.xml
  src/pages/product/product.scss
Due: stylelint --fix

fix(simplified-bundle): Hide redundant bundle options wrapper
  src/pages/product/product.scss
Due: stylelint --fix

fix(amazon): [NKD-3273][Checkout 1] Amazon pay - text does not fit
  src/Amazon_Pay/web/css/source/module.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-4372] button 'show more' not hide after load last items
  src/Magento_Review/web/js/process-reviews-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

[IPET-1104] [missing translations] "My addresses" in breadcumbs
  src/Magento_Customer/layout/customer_address_form.xml
  src/Magento_Customer/layout/customer_address_index.xml
  src/etc/changelog.xml
  src/i18n/es_ES.csv
Due: none

feat: Update magesuite-frontend-builder and yarn.lock
  package.json
  yarn.lock
Due: none

feat: Use magesuite-frontend-builder v3
  package.json
Due: none

feat: yarn.lock file update
  yarn.lock
Due: none

feat: [NKD-3244] Implement additional custom config per video teaser
  src/components/video-teaser/video-teaser.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-3244] Implement additional custom config per video teaser
  src/components/video-teaser/video-teaser.ts
Due: prettier --write, tslint --fix

Haar 2745
  src/components/cart/cart.ts
  src/components/qty-increment/qty-increment.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix(qty-switcher): [HAAR-2745] Fix support for removing product by setting Qty < min value
  src/components/cart/cart.ts
  src/components/qty-increment/qty-increment.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

chore: udate optional entries
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

feat: Cleanup contact page entry and use cms bundle instead
  src/Magento_Contact/layout/contact_index_index.xml
  src/PluginCompany_ContactForms/layout/contactforms_form_view.xml
  src/doc/breaking_changes_v18.md
  src/entries/contact.ts
Due: prettier --write, tslint --fix

chore: Remove temporarily doc_reference from changelog.xml
  src/etc/changelog.xml
Due: none

chore: Remove not used dependency
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Feat/mgs 4665/instant search integration
  README.md
  src/Smile_ElasticsuiteInstantSearch/index.ts
  src/Smile_ElasticsuiteInstantSearch/layout/default.xml
  src/Smile_ElasticsuiteInstantSearch/templates/search/form.mini.phtml
  src/Smile_ElasticsuiteInstantSearch/web/css/instant-search-results.scss
  src/Smile_ElasticsuiteInstantSearch/web/css/instant-search.scss
  src/components/header/search/search.ts
  src/doc/elasticsearch_instant_search_integration.md
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-brand-management.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/product-compare.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [KRG-2352] Hide redundant bundle options wrapper for simplified bundle product (extended)
  src/Magento_Bundle/layout/catalog_product_view_type_simplified_bundle.xml
  src/Magento_Checkout/layout/checkout_cart_configure_type_simplified_bundle.xml
  src/etc/changelog.xml
  src/pages/product/product.scss
Due: stylelint --fix

feat: Allow using lazyload for background image - fix styles
  src/components/lazyload/lazyload.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [HAKA-1650] Disable ATC btn. on product tile until all necessary scripts to finish the process are loaded
  src/MageSuite_ProductTile/layout/product_tile.xml
  src/Magento_PageCache/web/js/submit-button-enabler.js
  src/components/addtocart/addtocart.scss
  src/etc/changelog.xml
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

feat: [RK-65] Add hotspots before and after filters inside view.phtml file
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/etc/changelog.xml
Due: none

fix: [NKD-3351][Checkout 2] Wrong number of steps in progress bar
  src/components/progress-bar/progress-bar.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [RK-80] Return widget in create mehod of collapsible mixin
  src/web/js/collapsible-ext.js
Due: prettier --write, tslint --fix

Adjust code
  src/web/js/collapsible-ext.js
Due: prettier --write, tslint --fix

Update changelog.xml
  src/etc/changelog.xml
Due: none

fix: [NKD-3292][CART] Error message appears twice
  src/components/cart/cart.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix
