Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

feat: [KRA-417] Slider - introduced destroy method
  src/components/_slider/autorotation/autorotation.ts
  src/components/_slider/navigation/navigation.ts
  src/components/_slider/pagination/pagination.ts
  src/components/_slider/slider.ts
  src/entries/slider.ts
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Feat/haar 3985/adjust thumbnails visibility
  src/MageSuite_ProductSlideGallery/web/css/product-slide-gallery.scss
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: Enable redirect progress bar in core by default.
  src/etc/view.xml
Due: none

Update changelog.xml
  src/etc/changelog.xml
Due: none

fix: [MGP-1264] Check if there is more than one modal when removing modal-no-scroll class
  src/etc/changelog.xml
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

Update 2 files
  src/etc/changelog.xml
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

feat: [KRG-2705] Add adjustments for Daily Deal on config. products
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/dailydeal/dailydeal.ts
  src/entries/daily-deal-teaser.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [KRG-2705] Exclude config. products with DD active from special-price class toggle (swatches)
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [NKD-4141] If geolocation is disabled, there should be information for user about this - currently nothing happen
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix: [NKD-4136][mobile] List of shops is not updated after search is used
  src/MageSuite_StoreLocator/web/css/store-locator.scss
Due: stylelint --fix

Update changelog
  src/etc/changelog.xml
Due: none

fix(performance): MGS-5262 avoid loading ratings multiple times
  src/Magento_Review/templates/form.phtml
  src/etc/changelog.xml
Due: none

feat: [NKD-4141] If geolocation is disabled, there should be information for...
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

fix: [LOWA-65] Slider nav - check if trigger exists
  src/components/_slider/navigation/navigation.ts
  src/etc/changelog.xml
  src/web/images/icons/flag_nl.svg
Due: prettier --write, tslint --fix

fix(storelocator): [EMT-83] Extract part of storelocator scripts to separate method.
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

fix: [HAKA-1847] Add exports for Store Locator interfaces
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix(storelocator): [EMT-83] Add changelog entry
  src/etc/changelog.xml
Due: none

Automatic update of project files
  .pre-commit-config.yaml
Due: none

feat: [KRG-2705] Update handler for price toggle on config. products with Daily Deal
  src/components/dailydeal/dailydeal.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-2705] Update handler for price toggle on config. products with Daily Deal
  .pre-commit-config.yaml
  src/components/dailydeal/dailydeal.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [LOWA-112] Storelocator - measure window innerWidth instead of .width()
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: MGS-5277 add nofollow to customer area
  src/MageSuite_Navigation/layout/navigation_mobile_index.xml
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_Customer/layout/default.xml
  src/Magento_Customer/templates/link.phtml
  src/Magento_Wishlist/layout/default.xml
  src/etc/changelog.xml
Due: none

fix: [IPET-2558] Incorrect use of <label for=FORM_ELEMENT>
  src/MageSuite_Sorting/templates/product/list/toolbar/sorter-in-filters.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-127] Added missing flags
  src/etc/changelog.xml
  src/web/images/icons/flag_be.svg
  src/web/images/icons/flag_bg.svg
  src/web/images/icons/flag_cy.svg
  src/web/images/icons/flag_dk.svg
  src/web/images/icons/flag_ee.svg
  src/web/images/icons/flag_fi.svg
  src/web/images/icons/flag_gr.svg
  src/web/images/icons/flag_hu.svg
  src/web/images/icons/flag_ie.svg
  src/web/images/icons/flag_lt.svg
  src/web/images/icons/flag_lu.svg
  src/web/images/icons/flag_lv.svg
  src/web/images/icons/flag_mt.svg
  src/web/images/icons/flag_pt.svg
  src/web/images/icons/flag_ro.svg
  src/web/images/icons/flag_se.svg
  src/web/images/icons/flag_sk.svg
Due: none

auto fixes from pre-commit CI job
  src/web/images/icons/flag_cy.svg
  src/web/images/icons/flag_dk.svg
  src/web/images/icons/flag_fi.svg
  src/web/images/icons/flag_gr.svg
  src/web/images/icons/flag_lv.svg
  src/web/images/icons/flag_mt.svg
  src/web/images/icons/flag_pt.svg
  src/web/images/icons/flag_sk.svg
Due: none

feat: [LOWA-69] Autosuggest - reset form on outside-list click moved to external method
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [TOYS-1192] change template path in IPF logic
  src/MageSuite_InstantProductFinder/web/js/instant-product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat(store-locator): [KRA-1352] Show nearest store when nothing found within the current view
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [TOYS-445] introduce single attribute type
  src/MageSuite_InstantProductFinder/web/js/instant-product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [LOWA-169] Offcanvas navigation - initialize knockout components
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [NKD-4250] Adjust instagram component
  src/components/image-teaser/image-teaser.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [IPET-2577] replace time tag to avoid invalid format errors.
  src/Magento_Review/templates/customer/view.phtml
  src/etc/changelog.xml
Due: none
