Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

feat: IPET-316 Add missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
Due: none

feat: IPET-316 Add missing translations to ch_ packages
  src/i18n/de_CH.csv
  src/i18n/fr_CH.csv
Due: none

fix: [IPET-569] Trigger cart update after proper value is entered. Do not show double loading indicator
  src/Magento_Checkout/templates/cart/form.phtml
  src/components/cart/cart.ts
Due: prettier --write, tslint --fix

Adjust phtml of grouped product
  src/Magento_GroupedProduct/templates/product/view/type/grouped.phtml
Due: none

feat: Add positive indicator translation and sort all lines alphabetically
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: [LP-1258] Translate message for search
  src/i18n/nl_NL.csv
Due: none

feat(success-page): [HAAR-2873] Add success page order details module styles (optional component)
  src/MageSuite_SuccessPageOrderDetails/web/css/last-order-details.scss
  src/entries/checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat(success-page): [HAAR-2873] Style corections
  src/MageSuite_SuccessPageOrderDetails/web/css/last-order-details.scss
Due: stylelint --fix

fix: Show more reviews string translation issue
  src/Magento_Review/web/js/process-reviews-ext.js
Due: prettier --write, tslint --fix

feat(minicart, cart): [HAAR-2745] Add feature to remove item by setting Qty = 0
  src/Magento_Checkout/templates/cart/item/qty/qty.phtml
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/components/cart/cart.ts
  src/components/qty-increment/qty-increment.ts
Due: prettier --write, tslint --fix

chore: fix litner
  src/Magento_Review/web/js/process-reviews-ext.js
Due: prettier --write, tslint --fix

feat: Add possibility to set 0 as minValue in qty increment. Make qty-increment in minicart more elsatic
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/components/qty-increment/qty-increment.ts
Due: prettier --write, tslint --fix

fix: [MGS-4337] Prevent mising swatches modal from submitting form twice. it is enough to listen input changes
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

Remove console
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

fix: [MGS-4337] Prevent mising swatches modal from submitting form twice - cause by timeout
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

feat: Add translations and sort translation phrases alphabetically
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/nl_NL.csv
Due: none

feat: [LP-1258] Translate message for search
  src/i18n/fr_BE.csv
  src/i18n/fr_FR.csv
  src/i18n/nl_BE.csv
Due: none

feat!: [P2G-1732] Implement Amazon Pay
  src/Amazon_Login/layout/customer_account_login.xml
  src/Amazon_Login/web/css/source/_module.less
  src/Amazon_Login/web/css/source/module.scss
  src/Amazon_Pay/layout/amazon_pay_login_validate.xml
  src/Amazon_Pay/layout/customer_account_create.xml
  src/Amazon_Pay/layout/customer_account_login.xml
  src/Amazon_Pay/web/css/source/_module.less
  src/Amazon_Pay/web/css/source/module.scss
  src/Amazon_Pay/web/template/payment/amazon-payment-method.html
  src/Amazon_Payment/layout/checkout_index_index.xml
  src/Amazon_Payment/web/css/source/_module.less
  src/Amazon_Payment/web/css/source/module.scss
  src/Amazon_Payment/web/template/shipping.html
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: Fix minicart special price variable name
  src/Magento_Checkout/web/template/minicart/item/default.html
Due: none

fix: Allow to close empty dropdown minicart by clicking on X icon
  src/components/minicart/index.ts
Due: prettier --write, tslint --fix

Fix: update class for update button
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
Due: none

fix: [HAAR-2901] Get rid of not necessary condition check, helps for issue with disappearing summary
  src/Magento_Review/templates/helper/summary.phtml
Due: none

fix: [MGP-711] Move load button to variables and add toggle for pseudoicon
  src/components/reviews/reviews.scss
Due: stylelint --fix

feat: Bump product-tile module
  composer.json
Due: none

feat: Bump magesuite-navigation module
  composer.json
Due: none

feat!: [MGS-4221] Implement Video Teaser, Consent Management and refactor...
  src/Magento_Bundle/layout/catalog_product_view_type_simplified_bundle.xml
  src/Magento_Checkout/layout/checkout_cart_configure_type_simplified_bundle.xml
  src/Magento_Checkout/web/js/sidebar-ext.js
  src/Magento_Checkout/web/template/minicart/content.html
  src/Magento_Checkout/web/template/sidebar/before-place-order.html
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/video-player.phtml
  src/bundle.scss
  src/components/_video/interfaces.ts
  src/components/_video/players/player.ts
  src/components/_video/players/type/facebook.ts
  src/components/_video/players/type/file.ts
  src/components/_video/players/type/vimeo.ts
  src/components/_video/players/type/youtube.ts
  src/components/_video/utils/loader.ts
  src/components/consent-management/index.ts
  src/components/consent-management/vendor/usercentrics.ts
  src/components/image-teaser-legacy/image-teaser-legacy.scss
  src/components/image-teaser-legacy/image-teaser-legacy.ts
  src/components/video-layer/index.ts
  src/components/video-layer/video-layer.scss
  src/components/video-layer/video-layer.ts
  src/components/video-player/video-player.scss
  src/components/video-player/video-player.ts
  src/components/video-teaser/index.ts
  src/components/video-teaser/video-teaser.scss
  src/components/video-teaser/video-teaser.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/entries/product-compare.ts
  src/etc/view.xml
  src/pages/product/product.scss
  src/utils/utility-classes.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-4221] Fix isInViewPort function
  src/components/video-teaser/video-teaser.ts
Due: prettier --write, tslint --fix

fix: [MGS-4221] Remove empty placeholder if video-teaser is removed and add threshold
  src/components/video-teaser/video-teaser.ts
Due: prettier --write, tslint --fix

fix-: [MGS-4221] Fix media url
  src/components/_video/players/type/file.ts
Due: prettier --write, tslint --fix

feat: [KRG-2125] Prevent swatches validation modal for bundle products
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

fix: [MGS-4221] Fix Video teasers on mobile and ios
  src/components/image-teaser/image-teaser.scss
  src/components/video-teaser/video-teaser.scss
  src/etc/view.xml
Due: stylelint --fix

fix: Fix typo in DE translations
  src/i18n/de_DE.csv
Due: none

fix: Fix typo in DE_CH translations
  src/i18n/de_CH.csv
Due: none

feat: [HAKA-1433] Adjustments to Daily Deal Teaser
  src/components/dailydeal/dailydeal.ts
Due: prettier --write, tslint --fix

Feature dd adjustments
  src/components/dailydeal/dailydeal.ts
Due: prettier --write, tslint --fix

feat: Adjustments/fixes for product tile
  src/MageSuite_ProductTile/layout/product_tile.xml
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
