Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

fix: [LP-2959] Fix products visibility for search results with filters
  src/components/search-results-switcher/search-results-switcher.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [RK-1891] fix issues reported in html validator
  src/Magento_Customer/templates/form/forgotpassword.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/etc/changelog.xml
Due: none

feat: [MGS-5563] improved search switcher tabs
  src/Smile_ElasticsuiteCms/templates/switcher.phtml
  src/components/search-results-switcher/search-results-switcher.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [KRG-3137] UA - remove focus visible on click
  src/components/stack-nav/stack-nav.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [MOV-320] Review templates - configure max_stars parameter
  src/Magento_Review/templates/customer/list.phtml
  src/Magento_Review/templates/customer/recent.phtml
  src/Magento_Review/templates/customer/view.phtml
  src/Magento_Review/templates/product/view/list.phtml
  src/etc/changelog.xml
Due: none

feat: [LOWA-714] A11Y - remove comment field from wishlist tile
  src/MageSuite_ProductTile/layout/product_tile.xml
  src/Magento_Wishlist/layout/wishlist_index_index.xml
  src/etc/changelog.xml
Due: none

feat: [LOWA-677] A11Y - address issues on PDP
  src/MageSuite_BackInStock/web/css/product-stock-subscription.scss
  src/Magento_Catalog/templates/product/view/options/type/text.phtml
  src/etc/changelog.xml
Due: stylelint --fix

feat: [LOWA-656] A11Y - improve focus visibility
  src/components/product-tile/product-tile.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [LOWA-750] A11Y - improve minicart qty increment
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
Due: none

feat: [MGS-4529] inline-svg performance fixes
  src/web/js/vendor/inline-svg.js
Due: prettier --write, tslint --fix

feat: [MGS-4529] inline-svg performance fixes - CR fixes
  src/web/js/vendor/inline-svg.js
Due: prettier --write, tslint --fix

feat: [MGS-4529] inline-svg performance fixes - changelog
  src/etc/changelog.xml
Due: none

feat [TOYS-1667] Improve instant product finder accessibility
  src/MageSuite_InstantProductFinder/web/js/product-template.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat [TOYS-1667] Improve instant product finder accessibility
  src/MageSuite_InstantProductFinder/web/js/product-template.ts
Due: prettier --write, tslint --fix

feat: [LOWA-717] A11Y - adjust naming inconsistencies
  src/Magento_Customer/templates/account/dashboard/address.phtml
  src/etc/changelog.xml
Due: none

star rating: enable CSS mask-based solution by default
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

feat: [LOWA-687] A11Y - adjust product finder
  src/components/product-finder/product-finder.scss
  src/components/product-finder/product-finder.ts
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [LOWA-677] A11Y - PDP fixes
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: markercluster dependency issue
  package.json
  yarn.lock
Due: none

feat: [IPET-3150] fixed code
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
Due: prettier --write, tslint --fix

feat: [IPET-3150] pdp gallery improvements
  src/MageSuite_ProductSlideGallery/web/js/product-slide-gallery.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [SCAFA-1208] Introduce consent managed script loader
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/components/consent-management/index.ts
  src/components/consent-management/script-loader/index.ts
  src/components/consent-management/script-loader/interfaces.ts
  src/components/consent-management/script-loader/script-loader.ts
  src/components/consent-management/vendor/usercentrics.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/changelog.xml
  src/etc/view.xml
  src/i18n/de_DE.csv
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

feat: [MOV-162] Cookiebot introduced
  src/components/consent-management/index.ts
  src/components/consent-management/vendor/cookiebot.ts
  src/etc/changelog.xml
  src/etc/view.xml
Due: prettier --write, tslint --fix

feat: [LOWA-718] A11Y - adjust address edit form
  src/Magento_Customer/templates/address/edit.phtml
  src/Magento_Customer/templates/address/grid.phtml
  src/etc/changelog.xml
Due: none
