Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

[DOG-172] Do not execute search-results-switcher code when element is not present
  src/components/search-results-switcher/index.ts
Due: prettier --write, tslint --fix

Removed PHP constraint
  composer.json
Due: none

[LP-338] Fixes products grid teaser visibility on tablets
  src/components/grid-layout/grid-layout.scss
  yarn.lock
Due: stylelint --fix

LP-355 Adjust transform so the arrow is properly set
  src/components/pseudoicon/mixin.scss
Due: stylelint --fix

Fix XML validator errors because of empty htmlClass
  src/MageSuite_ContentConstructor/layout/contentconstructor_components_index.xml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Cms/layout/cms_page_view.xml
Due: none

role=navigation is not needed for <nav> tag it is self explanatory in HTML - fixes HTML validator warning
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/Magento_CatalogSearch/templates/link.phtml
  src/Magento_Search/templates/form.mini.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
Due: none

[DOH-71] Add missing hooks for pagination
  src/components/toolbar/hooks.scss
  src/components/toolbar/mixins.scss
Due: stylelint --fix

Fix incorrectly closed span element in search form
  src/Magento_Search/templates/form.mini.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
Due: none

fix(offcanvas-navigation): Mark root level as current when nav is closed if there is no active category
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

fix(offcanvas-navigation): Don't trigger error in "offcanvas-hide" event listener if `this._initHtml` hasnt been called yet
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Add missing visually-hidden component to contact entry point
  src/entries/contact.ts
Due: prettier --write, tslint --fix

LP-366 Add class for switcher trigger type and remove !important from styles
  src/Smile_ElasticsuiteCms/templates/switcher.phtml
  src/components/search-results-switcher/search-results-switcher.scss
Due: stylelint --fix

[DOG-202]Prevent IE11 and Edge bug with background and round borders
  src/components/qty-counter/mixin.scss
Due: stylelint --fix

Fix linting error
  src/components/qty-counter/mixin.scss
Due: stylelint --fix

Filter place order buttons by visibility to fix PayPal payment method
  src/Magento_Checkout/web/js/place-order.js
Due: prettier --write, tslint --fix

Fix icons for manifest.json
  src/Magento_Theme/web/icon-512x512-maskable.png
  src/Magento_Theme/web/icon-512x512.png
Due: none

LP-105 Fix CMS Teaser width
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

LP-372 Include Logout Success page in User Area containers
  src/components/container/container.scss
Due: stylelint --fix

LP-105 Fix image teaser selector and cleanup variables for cms pages teaser
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Update composer.json
  composer.json
Due: none

fix(toolbar): Use `cursor: pointer` on pagination buttons
  src/components/toolbar/mixins.scss
Due: stylelint --fix

Fix nosto products renderer
  src/components/nosto-products-renderer/nosto-products-renderer.ts
Due: prettier --write, tslint --fix

P2G-1098 Split DD teaser template into smaller ones
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/dailydeal/dailydeal.scss
  src/etc/view.xml
Due: stylelint --fix

LP-390 Fix CMS Pages Teaser content align and fix its width
  src/components/image-teaser/image-teaser.scss
  src/etc/view.xml
Due: stylelint --fix

LP-395 Remove unnecessary files
  src/Magento_Checkout/web/js/view/missing-street-number-warning.js
  src/Magento_Checkout/web/js/view/missing-street-number-warning.js.rej
Due: prettier --write, tslint --fix

Make offcanvas navigation use pseudoicons instead of SVGs if possible
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/components/dropdown-switcher/dropdown-switcher.scss
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

[DOG 202] Apply normal teasers flow on grid on smallest mobile
  src/components/grid-layout/grid-layout.scss
Due: stylelint --fix

LP-396 Check if cart already has data in addtocart animation component
  src/components/addtocart/addtocart.ts
Due: prettier --write, tslint --fix

Update gallery template to newest Magento changes
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Revert "Merge branch 'hotfix-cart_data-LP-398' into 'next'"
  src/components/addtocart/addtocart.ts
Due: prettier --write, tslint --fix

Update filters_horizontal_full_search.xml - remove duplicated container (introduced by advanced search module) and move filters to proper container
  src/Smile_ElasticsuiteCatalog/layout/filters_horizontal_full_search.xml
Due: none

- HAAR-1959 - fix review summary output if ratingsummary was fetched earlier via deprecated getEntitySummary method
  src/Magento_Review/templates/helper/summary.phtml
Due: none

- HAAR-1959 - added comment for summary backward compatibility check
  src/Magento_Review/templates/helper/summary.phtml
Due: none

refactor nosto renderer
  src/components/nosto-products-renderer/nosto-products-renderer.ts
Due: prettier --write, tslint --fix

source tag shall always have 0px of height on IE11
  src/components/usps/usps.scss
Due: stylelint --fix

Remove const from JavaScript file
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

P2G-1216 Extend DD to show badge on PDP
  src/components/badge/mixin.scss
  src/components/dailydeal/dailydeal.scss
  src/pages/product/product.scss
Due: stylelint --fix

Fix invalid before attribute Fixes #17
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
Due: none

[DOG-80] Add additional logs for payment methods
  src/components/checkout/checkout.scss
Due: stylelint --fix

Restore gallery options in its template
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
