Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix(swatches-validation): [NKD-4228] Fixed Safari browser issue, by removing...
  src/Magento_Catalog/web/js/swatches-validation-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Update changelog.xml
  src/etc/changelog.xml
Due: none

fix: [TOYS-1336, 445] adjust IPF logic - fix query modifications
  src/MageSuite_InstantProductFinder/web/js/instant-product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-2739] Add adjustments for Daily Deal Teaser
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/swatches/swatches.scss
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix

auto fixes from pre-commit CI job
  src/components/swatches/swatches.scss
Due: stylelint --fix

fix: mage-validation mixin producing js error
  src/etc/changelog.xml
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

fix: [MGS-5330] Move minicart message outside minicart. Adjust minicart content in order to lower layout shift. Make global messages fixed
  src/Magento_Checkout/web/template/minicart/content.html
  src/components/messages/messages.scss
  src/components/minicart/index.ts
  src/components/minicart/minicart-offcanvas.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Adjust z-index
  src/components/messages/messages.scss
Due: stylelint --fix

Add new option for checkout messages
  src/components/minicart/index.ts
  src/etc/view.xml
Due: prettier --write, tslint --fix

Change minicart structure to avoid layout shifts
  src/Magento_Checkout/web/template/minicart/content.html
  src/components/minicart/minicart-offcanvas.ts
  src/components/minicart/minicart.scss
Due: stylelint --fix, prettier --write, tslint --fix

Move page setting initialization to constructor
  src/components/minicart/index.ts
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

Add changelog entry
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Adjust styles
  src/components/minicart/minicart.scss
Due: stylelint --fix

Fix/haar 3568/add check if autoplay video teaser
  src/components/_video/players/type/youtube.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix [HAAR-3568] Add check if autoplay is true on video teaser
  src/components/_video/players/type/youtube.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: FZ-144 add content constructor vars
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

feat: [IPET-2671] Active button(s) for one selected product
  src/MageSuite_InstantPurchase/web/css/instant-purchase-user-area.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [LOWA-369] Product finder - empty form before setting inputs so back button does not affect
  src/components/product-finder/product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix [HAAR-4313] Fix issue with invalid instant product finder alias
  src/entries/instant-product-finder.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [IPET-2671] Add color shadow for Instant Purchase active order
  src/MageSuite_InstantPurchase/web/css/instant-purchase-user-area.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix [NKD-4217] Store locator in all storeviews center in germany by default
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

fix: [NKD-4217] Store locator in all storeviews center in germany by default
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

fix: [MGS-5332] add secureRendered tags to templates
  src/MageSuite_CartBonus/templates/status.phtml
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/Magento_Catalog/templates/product/view/form.phtml
  src/Magento_GiftCardAccount/templates/cart/block.phtml
  src/Magento_LoginAsCustomerFrontendUi/templates/html/notices.phtml
  src/Magento_Review/templates/summary.phtml
  src/Magento_Theme/templates/head/breakpoint-script.phtml
  src/Magento_Theme/templates/head/fonts.phtml
  src/Magento_Theme/templates/head/redirect-progress-bar-script.phtml
  src/Magento_Theme/templates/html/scripts.phtml
  src/Magento_Wishlist/templates/bottom.phtml
  src/Magento_Wishlist/templates/item/list.phtml
  src/Smile_ElasticsuiteInstantSearch/templates/search/form.mini.phtml
  src/components/toolbar/index.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRA-1612][StoreLocator] Add possibility to pass additional options for MarkerCluster
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRA-1612][StoreLocator] Add possibility to pass additional options for MarkerCluster
  src/etc/changelog.xml
Due: none

fix: [MGS-5330] Refactor minicart template and messages to avoid layout...
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_Checkout/web/template/minicart/content.html
  src/components/minicart/minicart-offcanvas.ts
  src/components/minicart/minicart.scss
  src/etc/changelog.xml
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-5271] adjust missing templates to Magento 2.4.7
  src/Magento_Bundle/templates/catalog/product/view/type/bundle.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/radio.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/option/select.phtml
  src/etc/changelog.xml
Due: none

fix: [MGP-1419] Hide messages automatically when close button is not enabled
  src/Magento_Theme/templates/messages.phtml
Due: none

fix: [MGP-1419] Hide messages automatically when close button is not enabled
  src/Magento_Theme/templates/messages.phtml
  src/etc/changelog.xml
Due: none

Revert "Merge branch 'fix/MGP-1419/hide_messages_no_button_scenario' into '19.x'"
  src/Magento_Theme/templates/messages.phtml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
