Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

chore: cleanup changelog
  src/etc/changelog.xml
Due: none

chore: cleanup linter
  src/components/aftersearch-nav/aftersearch-nav.scss
  src/components/aftersearch-nav/aftersearch-nav.ts
  src/components/offcanvas/offcanvas.ts
  src/components/video-teaser/video-teaser.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: [CAP-212] missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: none

fix [ZJ-805] Fix issue with broken qty input
  src/components/cart/cart.ts
  src/components/qty-increment/index.ts
  src/components/qty-increment/qty-increment.ts
Due: prettier --write, tslint --fix

fix [RKL-1174] Add translate no attribute
  src/Magento_Customer/templates/address/grid.phtml
Due: none

feat: MGS-5794 add styles for garan module
  src/MageSuite_Garan/index.ts
  src/MageSuite_Garan/layout/catalog_product_view.xml
  src/MageSuite_Garan/web/css/warranty-label.scss
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/Magento_Sales/email/order_new.html
  src/Magento_Sales/email/order_new_guest.html
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat [MGS-5794] Adjust cart warranty label
  src/MageSuite_Garan/web/css/warranty-label.scss
Due: stylelint --fix

feat: MGS-5794 remove default transform for border topbar
  src/MageSuite_Garan/web/css/warranty-label.scss
Due: stylelint --fix

Automatic update of project files
  .gitlab/csbot.gitlabci.yml
Due: none

feat: AI-4 smart cart styles
  src/MageSuite_SmartCart/web/css/smart-cart.scss
Due: stylelint --fix
