Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

feat(cart): Correct action buttons spacing
  src/components/cart/cart-item/cart-item.scss
Due: stylelint --fix

feat: Restore move to wishlist icon in cart
  src/Magento_Wishlist/layout/checkout_cart_item_renderers.xml
  src/Magento_Wishlist/templates/cart/item/renderer/actions/move_to_wishlist.phtml
  src/components/cart/cart-item/cart-item.scss
  src/web/images/icons/cart-item/icon-wishlist.svg
Due: stylelint --fix

fix: [DOG-1004] Arrow button from products carousel cover cookie layer and eKomi
  src/components/cookie-message/cookie-message.scss
Due: stylelint --fix

fix: [DOG-1005] New user form on thank you page is changing placement
  src/Magento_Checkout/layout/checkout_onepage_success.xml
Due: none

feat: MGP-491 remove elasticsuite information from footer
  src/Smile_ElasticsuiteCore/layout/default.xml
Due: none

feat(storelocator): [NKD-2592] Link store to store page
  src/MageSuite_StoreLocator/web/js/store-locator/store-locator.ts
Due: prettier --write, tslint --fix

Revert "Merge branch 'feat-remove-elasticsuite-footer' into 'next'"
  src/Smile_ElasticsuiteCore/layout/default.xml
Due: none

Add missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
Due: none

[feat: [HAAR-2614] Set dashboard main column to 100% if account links are hidden
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Update catalog_category_view.xml
  src/Magento_Catalog/layout/catalog_category_view.xml
Due: none

feat: [NKD-2595] Add possibility to add maxlength attribute to UI inputs
  src/Magento_Ui/web/js/form/element/abstract-ext.js
  src/Magento_Ui/web/templates/form/element/input.html
Due: prettier --write, tslint --fix

feat: Remove page.scroll blocks because they are optional and can be added by layout handle update
  src/MageSuite_BrandManagement/layout/brands_index_all.xml
  src/MageSuite_BrandManagement/templates/all.phtml
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/Magento_Checkout/layout/checkout_cart_index.xml
Due: none

[HAAR-2844] Fix cart view on horizontal tablets after adding wishlist icon
  src/components/cart/cart-item/cart-item.scss
  src/components/cart/cart-table/cart-table.scss
Due: stylelint --fix

fix(offcanvas-minicart): Fix closing offcanvas when products carousel is enabled
  src/components/minicart/minicart.scss
Due: stylelint --fix

[MGS-4354] Remove page builder styles
  src/Magento_PageBuilder/web/css/source/_module.less
Due: none

feat: [MGP-488] translations for contact form / Order ID / Comment
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix(checkout): [KRG-2033] Update checkout summary minicart thumbnail template with proper image size
  src/Magento_Checkout/web/template/summary/item/details/thumbnail.html
Due: none

fix: Improve hiding of shipping address form when storepickup is selected
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: [MGP-3496] Move short description in buybox below price
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/components/buybox/buybox.scss
Due: stylelint --fix

feat: Add to cart product even if button was clicked before scripts were initialized
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/view/form.phtml
Due: none

feat!: [HAAR-2675] Checkout refactor: Remove onepage.phtml overridden file. Remove duplicated summary in checkout. Move shipping information outside modal
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Checkout/templates/onepage.phtml
  src/Magento_Checkout/web/js/view/summary/cart-items-ext.js
  src/Magento_Checkout/web/template/sidebar.html
  src/Magento_Checkout/web/template/summary/cart-items.html
  src/components/checkout/checkout.scss
Due: stylelint --fix, prettier --write, tslint --fix

feat! : Remove pagination from review section and display Load more button
  src/Magento_Review/web/js/process-reviews-ext.js
  src/components/reviews/reviews.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

feat!: Remove boostrap html select implementation to improve performance
  src/components/buybox/buybox.scss
  src/components/device-detection/index.ts
  src/components/device-detection/mobile.ts
  src/components/device-detection/touch.ts
  src/components/minicart/minicart.scss
  src/components/product-variants/index.ts
  src/components/product-variants/product-variants.scss
  src/components/select/index.ts
  src/components/select/select.scss
  src/components/select/select.ts
  src/components/tile-gallery/tile-gallery.scss
  src/components/toolbar/sorter.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/product-compare.ts
  src/entries/styleguide.ts
  src/requirejs-config.js
  src/web/js/vendor/bootstrap-dropdown.js
  src/web/js/vendor/bootstrap-select.js
  src/web/js/vendor/ismobile.js
Due: stylelint --fix, prettier --write, tslint --fix

feat!: Remove onepage.phtml checkout file
  src/Magento_Checkout/templates/onepage.phtml
Due: none

fix: [MGS-4341] Remove guest or login switch for storepickup
  src/Magento_InventoryInStorePickupFrontend/layout/checkout_index_index.xml
  src/Magento_InventoryInStorePickupFrontend/web/template/guest-or-registered-switch.html
Due: none

fix: [MGS4342] Make
  src/components/topbar/topbar.scss
Due: stylelint --fix

feat: [IPET-420] Added missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/fr_FR.csv
Due: none

fix: Add id constraint for deferATC function
  src/Magento_Catalog/templates/product/view/form.phtml
Due: none

fix: [MGP-117] Add and update theme-creativeshop translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: [MGP-4376] Add proper escape for bundle option in cart
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

chore: Fixes automatic CC components list (missing styles after removing MGS_CC module)
  src/MageSuite_ContentConstructorFrontend/layout/contentconstructor_components_index.xml
Due: none

fix: [MGS-4315] Limit sorter select length
  src/components/toolbar/sorter.scss
Due: stylelint --fix

fix: [MGS-4370] Hide swatch tooltip when missing swatches is open
  src/Magento_Catalog/web/js/swatches-validation-ext.js
  src/components/swatches/swatches.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGP-4229] Make missing swatches modal reappear. Add clickable overlay
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

chore: [MGP-580, MGP-117] Fix translations
  src/Magento_Checkout/web/template/place-order.html
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: Add missing icon for scroll top component
  src/web/images/icons/icon-arrow_up.svg
Due: none

fix: [MGS-4357] Set buttons in checkout as no-icon
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: [MGP-117] Fix string to use translation from community packages
  src/Magento_Customer/layout/customer_account_create.xml
Due: none

Update .gitlab-ci.yml: node:lts-alpine -> node:14-alpine
  .gitlab-ci.yml
Due: none
