Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Restore/add default Magento classname for add to cart form
  src/Magento_Catalog/templates/product/view/addtocart.phtml
Due: none

Correct classname
  src/Magento_Catalog/templates/product/view/addtocart.phtml
Due: none

Update package.json
  package.json
Due: none

MGS-4120 Fix list level1 position when search is enabled
  src/components/offcanvas-navigation/offcanvas-navigation.scss
Due: stylelint --fix

Solve not working pagination at catalog search and brand pages
  src/Magento_CatalogSearch/templates/result.phtml
Due: none

[Offcanvas Minicart] Moves opening logic to separate method and adds custom event to trigger it from the outside
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

[NKD-2054] Remove the white background from the offcanvas minicart spinner
  src/components/minicart/minicart.scss
Due: stylelint --fix

Correct and restore default magento class name for our custom buybox
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
Due: none

[LP-829] Prevent cart title in checkout from overlapping the Edit link by extending padding to bigger viewports
  src/components/checkout/checkout.scss
Due: stylelint --fix

LED-2014 If mobile menu is on the right side, keep it that way also on tablet view
  src/components/header/header.scss
Due: stylelint --fix

LED-2014 FKeep offcanvas drawer on the right side also for tablet view if header mobile menu is on the right
  src/components/offcanvas/offcanvas.scss
Due: stylelint --fix

[LP-707] Remove unnecessary Magento_Checkout button override to enable string translations
  src/Magento_Checkout/templates/button.phtml
Due: none

LED-2014 Remove unused header height variable
  src/components/header/search/search.scss
Due: stylelint --fix

Adds description to methods to give an overview why customization was needed and what's happening in the code
  src/Magento_Checkout/web/js/model/checkout-data-resolver-ext.js
  src/Magento_Checkout/web/template/billing-address/details.html
  src/Magento_Checkout/web/template/payment.html
  src/Magento_Checkout/web/template/shipping-address/address-renderer/default.html
  src/Magento_Checkout/web/template/shipping-information/address-renderer/default.html
  src/Magento_Checkout/web/template/summary/item/details.html
  src/Magento_InventoryInStorePickupFrontend/layout/checkout_index_index.xml
  src/Magento_InventoryInStorePickupFrontend/requirejs-config.js
  src/Magento_InventoryInStorePickupFrontend/web/js/next-button-ext.js
  src/Magento_InventoryInStorePickupFrontend/web/js/view/form/element/email-ext.js
  src/Magento_InventoryInStorePickupFrontend/web/js/view/store-pickup-ext.js
  src/Magento_InventoryInStorePickupFrontend/web/template/delivery-method-selector.html
  src/Magento_InventoryInStorePickupFrontend/web/template/guest-or-registered-switch.html
  src/components/checkout/checkout.scss
  src/components/tabs/tabs.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

[Store Pickup] Fixes condition for login/as guest; fixes mobile styling
  src/Magento_InventoryInStorePickupFrontend/web/template/guest-or-registered-switch.html
  src/components/checkout/checkout.scss
  src/components/tabs/tabs.scss
Due: stylelint --fix

Add comment how to remove libre_franklin font and variables cleanup
  src/Magento_Theme/layout/default.xml
  src/components/offcanvas-toggle/offcanvas-toggle.scss
  src/components/social-media-list/social-media-list.scss
Due: stylelint --fix

[Store Pickup] Removes hiding shipping form, adds store address to summary, bugfixes
  src/Magento_InventoryInStorePickupFrontend/layout/checkout_index_index.xml
  src/Magento_InventoryInStorePickupFrontend/requirejs-config.js
  src/Magento_InventoryInStorePickupFrontend/web/js/view/form/element/email-ext.js
  src/Magento_InventoryInStorePickupFrontend/web/js/view/shipping-information-ext-ext.js
  src/Magento_InventoryInStorePickupFrontend/web/template/shipping-information.html
  src/Magento_InventoryInStorePickupFrontend/web/template/store-address.html
  src/components/checkout/checkout.scss
Due: stylelint --fix, prettier --write, tslint --fix

[Store Pickup] Fixes Magento's form-login validation that causued critical error during login while being on checkout
  src/Magento_InventoryInStorePickupFrontend/web/js/view/form/element/email-ext.js
Due: prettier --write, tslint --fix

Init changelog
  CHANGELOG.md
Due: none

LED-2028 Add possibility to include additional icon component js config through view.xml
  src/etc/view.xml
Due: none

Move offcanvas search action element into proper place
  src/MageSuite_Navigation/templates/offcanvas/search.phtml
Due: none

refactor: LED-2054 Move login note string from template to XML
  src/Magento_Customer/layout/customer_account_login.xml
  src/Magento_Customer/templates/form/login.phtml
Due: none

fix: LED-2054 Add active status to link mixin
  src/components/typography/mixin.scss
Due: stylelint --fix

BUGFIX: Remove unused reference to non-existing key
  src/Magento_Customer/templates/account/navigation.phtml
  src/Magento_Theme/templates/footer/section.phtml
Due: none

[TT-498] Fixed pagination on catalogsearch and brand pages
  src/Smile_ElasticsuiteCms/templates/products_result.phtml
Due: none

LP-844 Add placeholder to prevent jump when initialized
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

fix: LED-2028 render section.phtml template without error if collapse options are not passed in php 7.4
  src/Magento_Theme/templates/footer/section.phtml
Due: none

[KRG-1327] Ensure that "width" and "height" is added to images
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/view/gallery.phtml
  src/components/product-gallery/product-gallery.scss
  src/components/product-tile/product-tile.scss
  src/components/products-carousel/products-carousel.scss
Due: stylelint --fix

feat: [TT-348] [Facet Nav / Toolbar] Adds possibility to move sorter to the filters area
  src/MageSuite_Sorting/layout/catalog_category_view_type_layered.xml
  src/MageSuite_Sorting/templates/product/list/toolbar.phtml
  src/MageSuite_Sorting/templates/product/list/toolbar/sorter-in-filters.phtml
  src/Smile_ElasticsuiteCatalog/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/templates/layer/sorter-renderer.phtml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/Smile_ElasticsuiteCatalog/templates/test.phtml
  src/etc/view.xml
Due: none

feat!: [LED-2023] Add additional text below coupon input
  src/Magento_Checkout/templates/cart/coupon.phtml
Due: none

feat: [KRG-1338][PDP reviews summary] Add possibility to show all reviews count. Make summary bar label more elastic
  src/Magento_Review/layout/catalog_product_view.xml
  src/Magento_Review/templates/summary.phtml
  src/components/reviews-summary/reviews-summary.scss
Due: stylelint --fix

[TT-499][Store Pickup] Fixes shadows on mobiles for creativeshop
  src/components/checkout/checkout.scss
Due: stylelint --fix

[Feature][TT-348][Search Results] Adds sorter to filters also to search results page
  src/MageSuite_Sorting/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
Due: none

Revert "[TT-499][Store Pickup] Fixes shadows on mobiles for creativeshop"
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: Removed unused html for minicart empty message
  src/Magento_Checkout/web/template/minicart/content.html
Due: none

fix(addtocart): Fix `Cannot read property 'length' of null` error
  src/components/addtocart/addtocart.ts
Due: prettier --write, tslint --fix

Update addtocart.ts
  src/components/addtocart/addtocart.ts
Due: prettier --write, tslint --fix

Remove unused `swatches-validation-ext` file from Magento_Swatches dir
  src/Magento_Swatches/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

fix(swatches-validation-ext): Make the modal reappear after it is closed and "Add to cart" is clicked again
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix

fix(swatches-validation-ext): Make the overlay clickable
  src/Magento_Catalog/web/js/swatches-validation-ext.js
Due: prettier --write, tslint --fix
