Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Remove loading of sprites and add a fallback
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/sprites.phtml
  src/web/images/sprites.svg
Due: none

Update builder
  yarn.lock
Due: none

Remove minification from build process
  gulp/config/build/scripts.js
  gulp/config/copy/scripts.js
  gulp/config/copy/vendors.js
  gulp/config/merge/vendors.js
  gulp/tasks/build/styles.js
  gulp/tasks/copy/scripts.js
  gulp/tasks/copy/vendors.js
  gulp/tasks/merge/vendors.js
  package.json
  yarn.lock
Due: none

[KRG-123] Fixes catalogsearch nav block name
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
Due: none

Add automatic checking
  .gitlab-ci.yml
  package.json
  tsconfig.json
  tslint.js
  yarn.lock
Due: none

Fix prettier pipeline
  .gitlab-ci.yml
Due: none

Fix stylelint issues
  src/Aheadworks_Giftcard/web/css/giftcard.scss
  src/Aheadworks_Pquestion/web/css/product-questions.scss
  src/components/aftersearch-nav/state.scss
  src/components/authorization-link/authorization-link.scss
  src/components/cart/cart-bonus/cart-bonus.scss
  src/components/cart/cart-table/cart-table.scss
  src/components/form/form.scss
  src/components/header/user-nav/user-nav.scss
  src/components/input/input.scss
  src/components/item-cloner/item-cloner.scss
  src/components/offcanvas-toggle/offcanvas-toggle.scss
  src/components/offcanvas/offcanvas.scss
  src/components/overlay/overlay.scss
  src/components/password-strength-meter/password-strength-meter.scss
  src/components/product-finder/product-finder.scss
  src/components/product-gallery/mixins.scss
  src/components/pseudoicon/mixin.scss
  src/components/qty-counter/mixin.scss
  src/components/review/review.scss
  src/components/swatches/swatches.scss
  src/components/table/mixin.scss
  src/components/teaser/functions.scss
  src/components/teaser/hooks/pagination.scss
  src/components/teaser/mixins/contrast-optimizers/gradient.scss
  src/components/teaser/mixins/contrast-optimizers/text-shadow.scss
  src/components/toolbar/viewmode-switcher.scss
  src/utils/breakpoint/breakpoint.scss
  src/utils/get-value-from-list.scss
  src/utils/link.scss
  src/utils/poly-fluid-sizing.scss
  src/utils/right-side-skew.scss
Due: stylelint --fix

Make build stage independent
  .gitlab-ci.yml
Due: none

[KRG-446] Fixes button show more/less visibility within horizontal nav.
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

Fix styles linting
  .gitlab-ci.yml
  src/components/button/mixin.scss
  src/components/checkout/checkout.scss
  src/components/daily-deal-teaser/daily-deal-teaser.scss
  src/components/field/mixin.scss
  src/components/price-box/price-box.scss
Due: stylelint --fix

Fix native modules compilation
  .gitlab-ci.yml
Due: none

Add native dependencies
  .gitlab-ci.yml
Due: none

Fix native dependencies
  .gitlab-ci.yml
Due: none

Fix tslint errors
  src/Magento_CheckoutAgreements/web/js/model/agreement-validator-ext.js
  src/Magento_CheckoutAgreements/web/js/model/agreements-assigner-ext.js
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/Magento_Ui/web/js/form/element/post-code.js
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/addtocart/addtocart.ts
  src/components/aftersearch-nav/aftersearch-nav.ts
  src/components/brand-carousel/brand-carousel.ts
  src/components/cookie-message/index.ts
  src/components/google-address-detector/google-address-detector.ts
  src/components/image-teaser-legacy/image-teaser-legacy.ts
  src/components/item-cloner/item-cloner.ts
  src/components/video-player/video-player.ts
  src/utils/breakpoint/breakpoint.ts
  src/utils/idle-deffered.ts
  src/web/js/validation-ext.js
Due: prettier --write, tslint --fix

[KRG-446] Adds possibility to exclude category filter from aftersearch-nav by using XML argument
  src/Smile_ElasticsuiteCatalog/layout/catalog_category_view_type_layered.xml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

M2C-3747 [POP] Pagination is missing
  src/customizations/pagination/_pagination.scss
Due: stylelint --fix

M2C-3772 Product tile of bundle product doesn't fit to the grid
  src/customizations/grid-layout/_grid-layout.scss
Due: stylelint --fix

Accordion component (CC)
  src/components/accordion/accordion.scss
  src/components/accordion/index.ts
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/pdp.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Make "Add to WichList" button visible on pdp
  src/Magento_Bundle/layout/catalog_product_view_type_simplified_bundle.xml
Due: none

Added variable to show/hide content constructor section headline on PDP
  src/components/product-details/product-details.scss
Due: stylelint --fix

BRH-1420 Adjust billing address form template as fixed in Magento update
  src/Magento_Checkout/web/template/billing-address/form.html
Due: none

BRH-1415 Update Address Type in User Area if a customer edits Packstation address
  src/Repertus_Packstation/web/js/form/components/account_address_type_select-mixin.js
  src/Repertus_Packstation/web/js/form/components/address_type_select-mixin.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

BRH-1416 Change return from true to false in order to prevent from cleaning Country value in User Area
  src/Repertus_Packstation/web/js/form/components/account_address_type_select-mixin.js
Due: prettier --write, tslint --fix

LED-1968 Adjust z-index value for Repertus popup in order to have it on top of Magento modal
  src/components/repertus-packstation/_repertus-packstation.scss
Due: stylelint --fix

M2C-3773 Adjust min height for cms pages teaser on smaller devices
  src/customizations/image-teaser/_image-teaser.scss
Due: stylelint --fix

Changes default settings of cms pages teaser due to availability to resize images now
  src/etc/view.xml
Due: none

Change padding on product tile addons to restore previous version
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

M2C-3717 Update creative-patterns to v3.0.0
  package.json
  yarn.lock
Due: none

BRH-1426 Adjust creativeshop due to update to Repertus Packstation 1.0.9
  src/Magento_Checkout/web/js/model/checkout-data-resolver-ext.js
  src/Repertus_Packstation/web/js/form/components/account_address_type_select-mixin.js
  src/Repertus_Packstation/web/js/form/components/address_type_select-mixin.js
  src/Repertus_Packstation/web/js/view/mixins/billing-address-mixin.js
  src/Repertus_Packstation/web/js/view/payment/default-mixin.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Styleguide carousel navigation
  src/MageSuite_Frontend/layout/frontend_styleguide_index.xml
  src/Magento_Styleguide/templates/carousel.phtml
  src/components/styleguide/_styleguide.scss
Due: stylelint --fix

BRH-1426 Revert changes to User Area - Edit Repertus Address
  src/Magento_Checkout/web/js/model/checkout-data-resolver-ext.js
  src/Repertus_Packstation/web/js/form/components/account_address_type_select-mixin.js
  src/Repertus_Packstation/web/js/form/components/address_type_select-mixin.js
  src/requirejs-config.js
Due: prettier --write, tslint --fix

BRH-1426 Revert changes to Checkout Step 2 message
  src/Repertus_Packstation/web/js/view/payment/default-mixin.js
Due: prettier --write, tslint --fix

Create all pagination examples in styleguide
  src/Magento_Styleguide/templates/pagination.phtml
Due: none

Styling swatches and quantity in styleguide
  src/Magento_Styleguide/templates/swatches.phtml
  src/components/styleguide/_styleguide.scss
Due: stylelint --fix

Remove uenc updater from store switchers
  src/Magento_Store/templates/switch/languages.phtml
Due: none

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
