Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Extend product tile to support list view + clickable tile + mix carousel & list
  src/MageSuite_Navigation/templates/main/featured-products.phtml
  src/MageSuite_ProductTile/layout/product_tile.xml
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Catalog/templates/product/list/items.phtml
  src/Magento_Customer/layout/customer_account.xml
  src/Magento_Wishlist/layout/wishlist_index_index.xml
  src/Magento_Wishlist/templates/bottom.phtml
  src/Magento_Wishlist/templates/item/list.phtml
  src/components/addtocart/addtocart.scss
  src/components/badge/mixin.scss
  src/components/buybox/buybox.scss
  src/components/dashboard/dashboard.scss
  src/components/links-block-addto/links-block-addto.scss
  src/components/price-box/price-box.scss
  src/components/product-tile/index.ts
  src/components/product-tile/product-tile.scss
  src/components/product-tile/product-tile.ts
  src/components/products-carousel/products-carousel.scss
  src/components/products-carousel/products-carousel.ts
  src/components/products-list/index.ts
  src/components/products-list/products-list.scss
  src/config/variables.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/etc/view.xml
  src/web/images/icons/addtocart/icon-configure.svg
Due: stylelint --fix, prettier --write, tslint --fix

M2C-2843 - adding missing properties for two another carousel elements
  src/components/cart/cart-bonus/cart-bonus.scss
  src/components/container/container.scss
Due: stylelint --fix

Teaser and text fixes
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Adding removed file
  src/components/cart/cart-bonus/cart-bonus.scss
Due: stylelint --fix

Add hook to table component mixin
  src/components/table/hook.scss
  src/components/table/mixin.scss
Due: stylelint --fix

Hotfix tile list view & carousels
  src/components/container/container.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

P2G-369 Style shipping address in checkout to use flexbox
  src/Magento_Checkout/web/template/shipping-address/address-renderer/default.html
  src/components/checkout/checkout.scss
Due: stylelint --fix

Add top margin to messages component
  src/components/messages/messages.scss
Due: stylelint --fix

Adjust typography in teaser badge
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Implement possibility of adding scroll-bar to swiper
  src/components/teaser/mixins.scss
  src/components/teaser/teaser.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Removed badge from etc/view.xml
  src/etc/view.xml
Due: none

Replace some gallery scss variables with proper xml settings
  src/Magento_Catalog/templates/product/view/gallery.phtml
  src/components/product-gallery/product-gallery.scss
  src/etc/view.xml
Due: stylelint --fix

P2G-577 Add ko wishlist component to user area in order to prevent issues if Wishlist is removed from top navigation
  src/Magento_Wishlist/templates/bottom.phtml
Due: none

Add alignment variables to product tile + cleanup
  src/components/price-box/price-box.scss
  src/components/product-tile/product-tile.scss
  src/etc/view.xml
Due: stylelint --fix

[P2G-614] Adds PageScroll component
  src/Magento_Checkout/layout/checkout_cart_index.xml
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/page-scroll.phtml
  src/components/page-scroll/index.ts
  src/components/page-scroll/page-scroll.scss
  src/components/page-scroll/page-scroll.ts
  src/entries/category.ts
Due: stylelint --fix, prettier --write, tslint --fix

M2C-3168: add missing bottom border - shopping cart - mobile
  src/components/container/container.scss
Due: stylelint --fix

fix icon component view for edge and ie11
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Make price-box settings more usable to use them across different components
  src/components/autocomplete/autocomplete.scss
  src/components/buybox/buybox.scss
  src/components/price-box/price-box.scss
  src/components/price-box/variables.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

M2C-3481 Adjust white space between options and product title due to diff font-size
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

Make instagram images square
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

M2C-3168: add missing bottom border - shopping cart - mobile - fix
  src/components/cart/cart-item/cart-item.scss
  src/components/container/container.scss
Due: stylelint --fix

Revert "Merge branch 'fix-icon-component-view-for-edge-and-ie11' into 'next'"
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Fix carousel window width
  src/components/container/container.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

Make image square for instagram feed also for mobile
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

adjust checkboxes on ie11
  src/components/field/mixin.scss
Due: stylelint --fix

M2C-3489: remove remaining usage of twig templates - overlay
  src/components/cs-overlay/src/class.cs-overlay.ts
  src/components/cs-overlay/src/cs-overlay.scss
  src/components/cs-overlay/src/cs-overlay.ts
  src/components/cs-overlay/src/cs-overlay.twig
  src/components/cs-overlay/src/demo/index.data.json
  src/components/cs-overlay/src/demo/index.twig
Due: stylelint --fix, prettier --write, tslint --fix

Improve sizing of hero slides
  src/components/hero/hero.scss
Due: stylelint --fix

M2C-3488: return hover effect on CTA buttons
  src/components/button/animation.scss
  src/components/button/function.scss
  src/components/button/mixin.scss
Due: stylelint --fix

M2C-3488: return hover effect on CTA buttons - simpler solution implemented
  src/components/button/animation.scss
  src/components/button/function.scss
  src/components/button/mixin.scss
Due: stylelint --fix

M2C-3454: adjust icons in the footer
  src/components/page-bottom/page-bottom.scss
Due: stylelint --fix

Adjust Klarna logo in checkout
  src/components/checkout/checkout.scss
  src/web/images/icons/payment-logos/klarna_background_logo.svg
Due: stylelint --fix

Do not set loop if there is not enough slides in image teaser
  src/components/image-teaser/image-teaser.ts
Due: prettier --write, tslint --fix

Add max height to search flyout
  src/components/header/search/search.scss
Due: stylelint --fix

Fix grid tile bugs caused by implement list view
  src/components/button/animation.scss
  src/components/dailydeal/dailydeal.scss
  src/components/grid-layout/grid-layout.scss
  src/components/product-tile/product-tile.scss
  src/components/products-carousel/products-carousel.scss
  src/components/tile-gallery/tile-gallery.scss
  src/config/variables.scss
Due: stylelint --fix

Simplify styles for price-box component & list view bugfixing
  src/components/autocomplete/autocomplete.scss
  src/components/buybox/buybox.scss
  src/components/price-box/mixin.scss
  src/components/price-box/price-box.scss
  src/components/price-box/variables.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Fix padding hack on safari + minimal price on tile
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Add variable for font-weight & fix different prices sizes in price-box
  src/components/autocomplete/autocomplete.scss
  src/components/buybox/buybox.scss
  src/components/price-box/price-box.scss
  src/components/price-box/variables.scss
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

Fix flex issue on listview on safari browser
  src/components/product-tile/product-tile.scss
Due: stylelint --fix

M2C-3168: added missinig line below products in cart - mobile
  src/components/cart/cart-item/cart-item.scss
Due: stylelint --fix

Load swiper lazily on demand
  src/components/teaser/teaser.ts
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
