Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [LED-2164] Properly show cart summary
  src/Magento_Checkout/web/template/summary/cart-items.html
Due: none

fix(back-in-stock): indicate selected out-of-stock (but BiS-subscribable) swatches
  src/components/swatches/swatches.scss
Due: stylelint --fix

fix: [KRG-2268] Fix broken layout for new address
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

fix: add missing !default flag in swatches variables
  src/components/swatches/swatches.scss
Due: stylelint --fix

fix: [LP-939] Correct invisible recaptcha
  src/components/google-recaptcha/google-recaptcha.scss
Due: stylelint --fix

fix: Another small fix for invisible recaptcha badge
  src/components/google-recaptcha/google-recaptcha.scss
Due: stylelint --fix

feat: [HAKA-1119] Add option for offcanvas to remain open even if another is about to be opened
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

feat: [KRG-1676] Scroll to payment method error after is is shown
  src/Magento_Ui/web/js/view/messages-ext.js
Due: prettier --write, tslint --fix

fix: [LED-2453] Fix parseFloat for string values that use fieldFormat
  src/Smile_ElasticsuiteCatalog/web/js/range-slider-widget-ext.js
Due: prettier --write, tslint --fix

fix: [LED-2445] Add aria-expanded required role for combobox
  src/MageSuite_Navigation/templates/offcanvas/search.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
Due: none

fix(breakpoint-util): Drop Class approach, improve to prevent multiple initialization"
  src/utils/breakpoint/breakpoint.ts
Due: prettier --write, tslint --fix

Revert "feat: [KRG-1676] Scroll to payment method error after is is shown"
  src/Magento_Ui/web/js/view/messages-ext.js
Due: prettier --write, tslint --fix

fix: Fix filter scroll to top (M2.4 feature)
  src/web/js/collapsible-ext.js
Due: prettier --write, tslint --fix

feat: Scroll to eerror in payment. Do not override message method
  src/Magento_Ui/web/js/view/messages-ext.js
Due: prettier --write, tslint --fix

feat: [HAKA-1100] Remove 3step-checkout styles from theme-creativeshop
  src/UnifiedArts_Tsc/layout/tsc_checkout_renderer.xml
  src/UnifiedArts_Tsc/web/images/loader.svg
  src/components/3step-checkout/authentication/authentication.scss
  src/components/3step-checkout/authentication/index.ts
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/discount/index.ts
  src/components/3step-checkout/forms/forms.scss
  src/components/3step-checkout/forms/index.ts
  src/components/3step-checkout/header/header.scss
  src/components/3step-checkout/header/index.ts
  src/components/3step-checkout/index.ts
  src/components/3step-checkout/mixins/higher-button.scss
  src/components/3step-checkout/mixins/reset-button-radius.scss
  src/components/3step-checkout/mixins/reset-button.scss
  src/components/3step-checkout/mixins/reset-success.scss
  src/components/3step-checkout/payment/index.ts
  src/components/3step-checkout/payment/payment.scss
  src/components/3step-checkout/progress-bar/index.ts
  src/components/3step-checkout/progress-bar/progress-bar.scss
  src/components/3step-checkout/shipping/index.ts
  src/components/3step-checkout/shipping/shipping.scss
  src/components/3step-checkout/summary/index.ts
  src/components/3step-checkout/summary/summary.scss
  src/components/3step-checkout/variables.scss
  src/entries/3step-checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: [NKD-2294] Adds PWA Guide tooltip for iOS devices
  src/components/pwa-notification/pwa-notification.scss
  src/web/images/icons/ios/transfer.svg
Due: stylelint --fix

fix: [HAAAR-2577] Wdd more proper body class when offcanvas filter opened
  src/components/offcanvas-filters/index.ts
Due: prettier --write, tslint --fix

chore: [TT-767] Adds additional class telling if Push Notifications are available at all
  src/MageSuite_BackInStock/web/css/product-stock-subscription.scss
Due: stylelint --fix

feat: MIC-101 Style product comparison
  src/Magento_Catalog/layout/catalog_product_compare_index.xml
  src/Magento_Catalog/templates/product/compare/link.phtml
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/Magento_Review/templates/rating-stars.phtml
  src/components/header/user-nav/user-nav.scss
  src/components/product-compare/index.ts
  src/components/product-compare/product-compare.scss
  src/components/qty-counter/mixin.scss
  src/entries/product-compare.ts
  src/etc/view.xml
  src/web/images/icons/compare/icon-print.svg
  src/web/images/icons/compare/icon-remove.svg
Due: stylelint --fix, prettier --write, tslint --fix

Hotfix product image & stock for product comparison functionality
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/components/product-compare/product-compare.scss
Due: stylelint --fix

feat!: Container component cleanup
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/components/container/container.scss
  src/components/dashboard/dashboard.scss
  src/components/footer/footer.scss
  src/components/grid-layout/grid-layout.scss
  src/components/image-teaser/image-teaser.scss
  src/components/topbar/topbar.scss
  src/pages/cart/cart.scss
  src/pages/category/category.scss
  src/pages/product/product.scss
Due: stylelint --fix

feat(tooltip): Move tooltip template to external module. Update tooltip component readme/instruction
  src/components/tooltip/index.ts
  src/components/tooltip/tooltip.scss
  src/components/tooltip/tooltip.ts
  src/web/images/icons/tooltip/icon-tooltip-info.svg
Due: stylelint --fix, prettier --write, tslint --fix

fix(review-form): [HAAR-2412] Adjusted review form template. Add custom styles to review-swatches. Fixed review variant indicators template
  src/Magento_Review/templates/form.phtml
  src/Magento_Review/templates/product/view/list-item.phtml
  src/Magento_Review/templates/product/view/list.phtml
  src/components/review/review.scss
  src/components/reviews/reviews.scss
Due: stylelint --fix

feat! IComment out optional entries
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/pdp.ts
Due: prettier --write, tslint --fix

feat: [LP832] Style reorder banner
  src/components/reorder-banner/index.ts
  src/components/reorder-banner/reorder-banner.scss
  src/web/images/icons/reorder-banner/close.svg
  src/web/images/icons/reorder-banner/reorder.svg
Due: stylelint --fix, prettier --write, tslint --fix

fix: [TT-661] Prevent selecting payment method when in virtual checkout
  src/Magento_Checkout/web/js/model/payment-service-ext.js
Due: prettier --write, tslint --fix

chore: Add missing BEM block class to footer USPS wrapper
  src/Magento_Theme/layout/default.xml
Due: none

fix: [KRG-1776] Fix rating critical error
  src/Magento_Review/templates/helper/summary_short.phtml
Due: none

fix(product-comparison): [MIC-303] Remove print button + connect proper entry
  src/Magento_Catalog/layout/catalog_product_compare_index.xml
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/components/product-compare/product-compare.scss
Due: stylelint --fix

fix(tooltip-component): Fix jsdoc-format error
  src/components/tooltip/index.ts
Due: prettier --write, tslint --fix

feat: [KRG-1246] Close minicart when hovering over main navigation
  src/requirejs-config.js
  src/web/js/dropdown-ext.js
Due: prettier --write, tslint --fix

fix!: [LED-2444] Fix product tile gallery images size
  src/components/tile-gallery/index.ts
  src/components/tile-gallery/tile-gallery.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
Due: prettier --write, tslint --fix

feat! (optional-ie-support): [MGS-4208] Move all styles for .ie11 html class to a separate file
  src/Aheadworks_Pquestion/web/css/product-questions.scss
  src/MageSuite_StoreLocator/web/css/store-locator.scss
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/3step-checkout/discount/discount.scss
  src/components/3step-checkout/header/header.scss
  src/components/autocomplete/autocomplete.scss
  src/components/bundle-box/bundle-box.scss
  src/components/cart/cart-item/cart-item.scss
  src/components/checkout/checkout.scss
  src/components/dashboard/dashboard.scss
  src/components/discount/discount.scss
  src/components/field/hook_ie11_support.scss.sample
  src/components/field/mixin.scss
  src/components/header/header.scss
  src/components/ie11/ie11.scss
  src/components/ie11/index.ts
  src/components/minicart/minicart.scss
  src/components/modal/modal.scss
  src/components/product-finder/product-finder.scss
  src/components/product-teaser/product-teaser.scss
  src/components/product-tile/product-tile.scss
  src/components/progress-bar/progress-bar.scss
  src/components/qty-increment/qty-increment.scss
  src/components/reviews/reviews.scss
  src/components/star-rating/star-rating.scss
  src/components/swatches/swatches.scss
  src/components/toolbar/limiter.scss
  src/components/toolbar/pagination.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/pdp.ts
  src/entries/product-compare.ts
  src/entries/styleguide.ts
  src/pages/category/category.scss
Due: stylelint --fix, prettier --write, tslint --fix

fix(filters): [LP-959] Fix inconsistant translated string for button
  src/Magento_LayeredNavigation/templates/layer/state.phtml
Due: none

fix!: [GNP-707] Fix removing agreements in order to keep native Magento before-place-order component and undo overwriting it with MageSuite component
  src/Magento_Checkout/layout/checkout_index_index.xml
  src/Magento_Checkout/web/js/view/sidebar/before-place-order.js
  src/Magento_Checkout/web/template/sidebar/before-place-order.html
  src/Magento_CheckoutAgreements/layout/checkout_index_index.xml
Due: prettier --write, tslint --fix

fix: [MIC-221] Attach missing events to .btn-minicart-close
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

fix(star-ratings): [MIC-349] Rating stars are not properly displayed
  src/components/reviews/reviews.scss
Due: stylelint --fix

fix(pdp): [MGS-4142] incorrect fast shipping indicator view
  src/MageSuite_ProductPositiveIndicators/layout/catalog_product_view.xml
  src/MageSuite_ProductPositiveIndicators/templates/fastshipping/product.phtml
  src/components/indicators/mixins.scss
Due: stylelint --fix

fix: [GNP-707] Overwrite _module.less for new M2.4 commerce modules in order...
  src/Magento_NegotiableQuote/web/css/source/_module.less
  src/Magento_PurchaseOrder/web/css/source/_module.less
  src/components/modal/modal.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
