Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

auto fixes from pre-commit CI job
  src/i18n/de_CH.csv
  src/i18n/fr_FR.csv
Due: none

feat: [RK-1857] add aria attribute only for offcanvas scenario
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
  src/etc/changelog.xml
Due: none

fix: [RK-1883] Fix skiplink visited link visibility
  src/components/skip-links/skip-links.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [NKD-4763] A11y, Offcanvas search nav - screen reader adjustments
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: prettier --write, tslint --fix

Fix/nkd 4763/a11y offcanvas nav screen reader 21x
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_BE.csv
  src/i18n/fr_CH.csv
  src/i18n/fr_FR.csv
  src/i18n/it_CH.csv
  src/i18n/it_IT.csv
  src/i18n/nl_BE.csv
  src/i18n/nl_NL.csv
Due: prettier --write, tslint --fix

feat: [KRG-3068] A11y - Adjust review rating label of review form on PDP
  src/Magento_Review/templates/form.phtml
  src/etc/changelog.xml
Due: none

feat: [RK-1867] A11Y - qty increment label
  src/Magento_Checkout/templates/cart/item/qty/qty.phtml
  src/etc/changelog.xml
Due: none

feat: [RK-1867] show image link in tab order and for assistive technologies
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/etc/changelog.xml
Due: none

feat: [RK-1866] show image link in tab order and for assistive technologies
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/etc/changelog.xml
Due: none

feat: [RK-1876] add modals focus trap
  src/components/modal/modal.scss
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
  src/web/js/modal-ext.js
Due: stylelint --fix, prettier --write, tslint --fix

fix: [NKD-4763] Revert Offcanvas search nav - screen reader adjustments
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [NKD-4763] Revert Offcanvas search nav - screen reader adjustments
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

feat: [RK-1876] A11Y - fix corner case - open modal when offcanvas is opened
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
  src/web/js/modal-ext.js
Due: prettier --write, tslint --fix

feat: [RK-1878] A11Y - adjust forms in checkout
  src/Magento_Checkout/web/template/billing-address.html
  src/Magento_Checkout/web/template/billing-address/form.html
  src/Magento_Checkout/web/template/billing-address/list.html
  src/Magento_Ui/web/js/form/element/abstract-ext.js
  src/Magento_Ui/web/templates/form/element/input.html
  src/Magento_Ui/web/templates/form/element/select.html
  src/components/checkout/checkout.scss
  src/etc/changelog.xml
Due: stylelint --fix, prettier --write, tslint --fix

feat: [RK-1853] A11Y - adjust buybox
  src/Magento_Catalog/templates/product/view/type/default.phtml
  src/etc/changelog.xml
Due: none

feat: [RK-1876] A11Y - add title to agreements modal
  src/Magento_CheckoutAgreements/web/js/model/agreements-modal-ext.js
  src/components/modal/modal.scss
  src/etc/changelog.xml
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-5482] fixed grid style for mini wishlist
  src/components/dashboard/dashboard.scss
  src/etc/changelog.xml
Due: stylelint --fix

feat: [NKD-4714] a11y - cart summary fixes
  src/Magento_Checkout/web/template/summary/grand-total-tax-note.html
  src/etc/changelog.xml
Due: none

fix: [MGS-5503] Fixed checkout agreement modal style
  src/components/checkout/checkout.scss
Due: stylelint --fix

fix: [MGS-5415] fixed swatches hover styles on scale
  src/components/swatches/swatches.scss
Due: stylelint --fix

chore: added changelog entry
  src/etc/changelog.xml
Due: none

feat: [NKD-4574] a11y - adjust cart items
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/Magento_ConfigurableProduct/layout/checkout_cart_item_renderers.xml
  src/Magento_Wishlist/layout/checkout_cart_item_renderers.xml
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

feat: [NKD-4574] a11y - adjust cart items
  src/Magento_ConfigurableProduct/layout/checkout_cart_item_renderers.xml
  src/Magento_Wishlist/layout/checkout_cart_item_renderers.xml
  src/etc/changelog.xml
  src/i18n/de_DE.csv
  src/i18n/es_ES.csv
  src/i18n/fr_FR.csv
  src/i18n/it_IT.csv
  src/i18n/nl_NL.csv
Due: none

fix: [MGS-5486] added styles for out of stock note in my orders tab
  src/MageSuite_InstantPurchase/web/css/instant-purchase-user-area.scss
Due: stylelint --fix

feat: [MGS-5522] Improved wishlist functionality
  src/components/buybox/buybox.scss
  src/components/links-block-addto/links-block-addto.scss
  src/web/images/icons/heart.svg
  src/web/images/icons/wishlist.svg
Due: stylelint --fix

fix: [MGS-5341] fixed disabled checkout button in minicart when going back from checkout
  src/components/minicart/minicart-offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [MGS-5531] fixed search flyout item height
  src/components/autocomplete/autocomplete.scss
  src/etc/changelog.xml
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
