Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

Discount buttons corrected
  src/components/discount/discount.scss
Due: stylelint --fix

Adjusted address edit button
  src/components/checkout/checkout.scss
Due: stylelint --fix

Add edit link to option in cart instead of product link
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

[Hotfix] Fixes PG/Category teasers legacy; tslint fixes
  src/components/grid-layout/grid-layout.scss
  src/components/grid-layout/grid-layout.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add check for navigation existence in mega dropdown
  src/components/navigation/navigation-mega-dropdown.ts
Due: prettier --write, tslint --fix

[Grid Layout] Set max-width to teaser content to fix IE11
  src/components/grid-layout/grid-layout.scss
Due: stylelint --fix

Template overvritten to make sorting direction options a part of the select…
  src/Aheadworks_Pquestion/templates/question/sort.phtml
  src/Aheadworks_Pquestion/web/image/sort_asc_arrow.gif
  src/Aheadworks_Pquestion/web/image/sort_desc_arrow.gif
Due: none

Add missing default flag for hero component
  src/components/hero/hero.scss
Due: stylelint --fix

Added variables
  src/Aheadworks_Faq/web/css/faq-index.scss
Due: stylelint --fix

[Indicators] Modernize Fast Shipping - no more AJAX calls
  src/MageSuite_ProductPositiveIndicators/layout/catalog_product_view.xml
  src/MageSuite_ProductPositiveIndicators/templates/fastshipping/product.phtml
  src/components/indicators/fast-shipping.scss
  src/components/indicators/fast-shipping.ts
Due: stylelint --fix, prettier --write, tslint --fix

[Image Teaser] Adds option to disable ProportionalScaler in Image Teaser component]
  src/components/image-teaser/image-teaser.ts
Due: prettier --write, tslint --fix

fix brand carousel view variables error
  src/etc/view.xml
Due: none

[Image Teaser] Fixes rendering slides logic
  src/components/image-teaser/image-teaser.ts
Due: prettier --write, tslint --fix

half way through
  src/Magento_Theme/layout/default_head_blocks.xml
  src/components/dashboard/index.ts
Due: prettier --write, tslint --fix

add the component
  src/components/sticky/sticky.ts
Due: prettier --write, tslint --fix

Fix search result page layout
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/pages/category/category.scss
  src/pages/layout/2columns-left/mixin.scss
Due: stylelint --fix

Adjusted edit-address button size and padding
  src/components/checkout/checkout.scss
Due: stylelint --fix

Update payment icons
  src/Magento_Theme/layout/default.xml
  src/components/checkout/checkout.scss
  src/components/page-bottom/page-bottom.scss
  src/web/images/icons/page-bottom/icon-klarna-sofort.svg
  src/web/images/icons/page-bottom/icon-klarna.svg
  src/web/images/icons/page-bottom/icon-mastercard.svg
  src/web/images/icons/page-bottom/icon-sofort–uberweisung.svg
  src/web/images/icons/page-bottom/icon-visa.svg
  src/web/images/icons/payment-logos/klarna.svg
  src/web/images/icons/payment-logos/klarna_sofort.svg
  src/web/images/icons/payment-logos/sofort_uberweisung.svg
Due: stylelint --fix

refactored singleton to function export
  src/Magento_Theme/layout/default_head_blocks.xml
  src/components/dashboard/index.ts
  src/components/sticky/sticky.ts
Due: prettier --write, tslint --fix

[Image Teaser] Add 'ready' class to slides even with proportionalScaler option disabled
  src/components/image-teaser/image-teaser.ts
  yarn.lock
Due: prettier --write, tslint --fix

[P2G-578] Enhanced contact page
  src/Magento_Contact/layout/contact_index_index.xml
  src/components/dashboard/dashboard.scss
  src/entries/contact.ts
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

add id to category container
  src/Magento_Catalog/layout/catalog_category_view.xml
Due: none

Fix stickyfill import
  src/components/sticky/sticky.ts
Due: prettier --write, tslint --fix

Adjusted php constraint to include PHP 7.2
  composer.json
Due: none

[Offcanvas nav] Additional check for availability of Login link to avoid JS errors
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

[P2G-574] Fixes style of product review details block (dark bg. scenario)
  src/Magento_Review/templates/customer/view.phtml
Due: none

Add label tab for image teaser
  src/etc/view.xml
Due: none

Change classes for limit displaying categories in category-links components
  src/components/category-links/category-links.scss
  src/etc/view.xml
Due: stylelint --fix

Add sizes for svg that are used as backgrounds (for IE11)
  src/web/images/icons/cart-item/icon-edit.svg
  src/web/images/icons/cart-item/icon-remove.svg
  src/web/images/icons/edit.svg
  src/web/images/icons/edit_color.svg
  src/web/images/icons/payment-logos/paypal.svg
Due: none

[P2G-565] Fixes forgot password page layout for dark bg scenario
  src/Magento_Customer/layout/customer_account_forgotpassword.xml
Due: none

Style badge on teaser
  src/components/image-teaser/image-teaser.scss
  src/components/image-teaser/image-teaser.ts
Due: stylelint --fix, prettier --write, tslint --fix

Make badge square
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

fix stickyfill issues by removing type coercion to node list
  src/components/dashboard/index.ts
  src/components/sticky/sticky.ts
Due: prettier --write, tslint --fix

Replace wording label with badge
  src/components/image-teaser/image-teaser.scss
  src/components/image-teaser/image-teaser.ts
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

fix query selector
  src/components/dashboard/index.ts
Due: prettier --write, tslint --fix

Center switcher on ipad
  src/components/dropdown-switcher/dropdown-switcher.scss
  src/components/topbar/topbar.scss
Due: stylelint --fix

Center flag in language switcher ipad horizontal
  src/components/dropdown-switcher/dropdown-switcher.scss
Due: stylelint --fix

M2 c 3398 open offcanvas on subcategory
  src/MageSuite_Navigation/templates/offcanvas/drawer.phtml
  src/MageSuite_Navigation/templates/offcanvas/list.phtml
  src/components/navigation/navigation.ts
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix
