Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [MGS-4722] add declarations for aliases
  .prettierignore
  src/etc/changelog.xml
  src/requirejs-config.js
Due: prettier --write, tslint --fix

fix: [P2G-1994] fix imports
  src/components/image-teaser/image-teaser.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix(offcanvas): [HAAR-3229] Add removing offcanvas navigation css class in case of opening other ofcanvas having nav opened
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

fix(offcanvas): [HAAR-3229] Code refactor after review. Add changelog entry
  src/components/offcanvas/offcanvas.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix(offcanvas): [HAAR-3229] Add changelog entry
  src/etc/changelog.xml
Due: none

fix: [DOG-1350][Daily Deal] Countdown timer element has wrong wording
  src/components/dailydeal/index.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

chore: add dummy tag entry to chantelog for next changes
  src/etc/changelog.xml
Due: none

feat: Bump magesuite-frontend-builder to version ^3.0.0
  package-lock.json
  package.json
  src/etc/changelog.xml
  yarn.lock
Due: none

feat(video-player): Consider autoplay options after checking consents
  src/components/video-teaser/video-teaser.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: Magento helper class declarations
  src/Magento_Catalog/templates/product/compare/list.phtml
  src/Magento_Catalog/templates/product/view/form.phtml
  src/Magento_Checkout/templates/cart/form.phtml
  src/Magento_Checkout/templates/cart/item/default.phtml
  src/Magento_Checkout/templates/onepage/review/item.phtml
  src/Magento_PageBuilder/templates/catalog/category/view/description.phtml
Due: none

feat: Align overwritten *.html templates with Magento 2.4.5
  src/Magento_Checkout/web/template/authentication-tab.html
  src/Magento_Checkout/web/template/billing-address/actions.html
  src/Magento_Checkout/web/template/billing-address/details.html
  src/Magento_Checkout/web/template/cart/totals/grand-total-tax-note.html
  src/Magento_Checkout/web/template/estimation.html
  src/Magento_Checkout/web/template/minicart/content.html
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/Magento_Checkout/web/template/minicart/item/price.html
  src/Magento_Checkout/web/template/minicart/subtotal.html
  src/Magento_Checkout/web/template/next-button.html
  src/Magento_Checkout/web/template/onepage.html
  src/Magento_Checkout/web/template/payment.html
  src/Magento_Checkout/web/template/place-order.html
  src/Magento_Checkout/web/template/progress-bar.html
  src/Magento_Checkout/web/template/registration.html
  src/Magento_Checkout/web/template/shipping-address/address-renderer/default.html
  src/Magento_Checkout/web/template/shipping-information/address-renderer/default.html
  src/Magento_Checkout/web/template/shipping.html
  src/Magento_Checkout/web/template/sidebar.html
  src/Magento_Checkout/web/template/sidebar/before-place-order.html
  src/Magento_Checkout/web/template/summary/cart-items.html
  src/Magento_Checkout/web/template/summary/grand-total-tax-note.html
  src/Magento_Checkout/web/template/summary/item/details.html
  src/Magento_Checkout/web/template/summary/item/details/subtotal.html
  src/Magento_Checkout/web/template/summary/item/details/thumbnail.html
  src/Magento_CheckoutAgreements/web/template/checkout/checkout-agreements.html
  src/Magento_Email/email/footer.html
  src/Magento_InventoryInStorePickupFrontend/web/template/delivery-method-selector.html
  src/Magento_InventoryInStorePickupFrontend/web/template/shipping-information.html
  src/Magento_InventoryInStorePickupFrontend/web/template/store-address.html
  src/Magento_SalesRule/web/template/payment/discount.html
  src/Magento_Ui/web/template/messages.html
  src/Magento_Ui/web/templates/form/element/input.html
  src/Magento_Weee/web/template/checkout/summary/item/price/row_excl_tax.html
Due: none

chore: Update changelog
  src/etc/changelog.xml
Due: none

Fixed display of labels in page size switcher
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
Due: none

chore: move doc to root folder
  doc/breaking_changes_v18.md
  doc/elasticsearch_instant_search_integration.md
Due: none

Revert "chore: move doc to root folder"
  src/doc/breaking_changes_v18.md
  src/doc/elasticsearch_instant_search_integration.md
Due: none

chore: correct changelog
  src/etc/changelog.xml
Due: none

Fix haar 3245 preload mobile navigation 18.x
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Fix haar 3245 preload mobile navigation
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

feat: [KRG-2273] Add advanced tab to pass additional options for teaser based CC components
  src/Magento_Catalog/layout/catalog_category_view.xml
  src/Magento_Catalog/templates/category/image.phtml
  src/doc/breaking_changes_v18.md
  src/etc/changelog.xml
  src/etc/view.xml
Due: none

chore: Update comment
  src/Magento_Catalog/templates/category/image.phtml
Due: none

fix: [P2G-2031] Invalid argument supplied for foreach() in included-items.phtml
  src/Magento_Bundle/templates/catalog/product/view/type/bundle/included-items.phtml
  src/etc/changelog.xml
Due: none

fix: [RK-372] Always show cart edit link checkout payment step
  src/Magento_Checkout/web/template/summary/cart-items.html
  src/etc/changelog.xml
Due: none

chore: Fix changelog syntax
  src/etc/changelog.xml
Due: none

feat: [MGS-4805] Compatibility of templates with Magento 2.4.4
  src/Amasty_ShippingTableRates/web/template/shipping.html
  src/Bold_OrderComment/web/template/checkout/order-comment-block.html
  src/Magento_Checkout/web/template/billing-address/actions.html
  src/Magento_Checkout/web/template/billing-address/details.html
  src/Magento_Checkout/web/template/shipping-address/address-renderer/default.html
  src/Magento_Checkout/web/template/shipping-information/address-renderer/default.html
  src/Magento_Checkout/web/template/shipping.html
  src/Magento_Checkout/web/template/summary/cart-items.html
  src/Magento_InventoryInStorePickupFrontend/web/template/store-address.html
  src/Magento_SalesRule/web/template/payment/discount.html
  src/etc/changelog.xml
Due: none

fix(mobile-nav): [HAAR-3300] Fix mobile nav preload for Safari browser
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

Fix haar 3300 fix safari nav preload
  src/components/offcanvas-navigation/offcanvas-navigation.ts
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [RK-350] Add a condition in minicart template in order to prevent its break...
  src/Magento_Checkout/web/template/minicart/content.html
  src/etc/changelog.xml
Due: none

fix: Fix changelog
  src/etc/changelog.xml
Due: none

fix: [IPET-1624] [PDP] [MOBILE] Long PDF descriptions of attachments do not fit
  src/components/product-details/attachments/attachments.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-4747]Do not show error after click on disabled swatch with back-in-stock alert
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/etc/changelog.xml
Due: prettier --write, tslint --fix

fix: [MGS-4567] Adjust PWA guide styles for desktop
  src/MageSuite_Pwa/web/css/pwa-a2hs-guide.scss
  src/etc/changelog.xml
Due: stylelint --fix

fix: [MGS-4567] Adjust PWA guide styles for desktop
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
