Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

[GNP-238] Force source tag to be always 0px height for IE
  src/Magento_Theme/web/css/source/_layout.scss
Due: stylelint --fix

[GNP-238] Force source tag to be always 0px height for IE
  src/components/usps/usps.scss
Due: stylelint --fix

DOG-220]Restore list display on paragrapg in columns
  src/components/paragraph/paragraph.scss
Due: stylelint --fix

Hide duplicated coupon code
  src/components/checkout/checkout.scss
Due: stylelint --fix

[DOG-330] Adjust address buttons on payment method
  src/components/checkout/checkout.scss
Due: stylelint --fix

[DOG-325] Style qty-switcher on tile
  src/components/product-tile/product-tile.scss
  src/components/product-tile/product-tile.ts
Due: stylelint --fix, prettier --write, tslint --fix

Fix reviews area on IE11
  src/components/reviews/reviews.scss
Due: stylelint --fix

Fix close icon on IE11
  src/components/modal/modal.scss
Due: stylelint --fix

Fix debit payment logo pathh
  src/components/checkout/checkout.scss
Due: stylelint --fix

[Improvement] Adds 'type' class to the autosuggest results to differentiate groups (products, terms, categories etc)
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
Due: prettier --write, tslint --fix

HAAR-1982 Make discount badge value adjusted dynamically for configurable products
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/view/badges/sale.phtml
  src/Magento_Catalog/web/js/product/view/sale-badge-renderer.js
  src/etc/view.xml
Due: prettier --write, tslint --fix

LP-489 Adjust product list class to use Magento 2 default class
  src/Magento_Catalog/templates/product/list/items.phtml
Due: none

Various performance imporvements
  src/Magento_Theme/layout/default_head_blocks.xml
  src/Magento_Theme/templates/html/defer.phtml
  src/Magento_Theme/templates/html/scripts.phtml
  src/components/image-teaser/image-teaser.ts
  src/components/navigation/index.ts
  src/components/navigation/navigation.ts
  src/components/proportional-scaler/proportional-scaler.ts
  src/utils/require-async.ts
Due: prettier --write, tslint --fix

Use pseudoicon instead of SVG in accordion component by default
  src/components/accordion/accordion.scss
  src/etc/view.xml
Due: stylelint --fix

Revert changes in scripts loading
  src/Magento_Theme/templates/html/scripts.phtml
Due: none

Make sure gallery placeholder image is aligned properly
  src/components/product-gallery/product-gallery.scss
Due: stylelint --fix

HAAR-1980 Add check if product is configurable
  src/Magento_Catalog/templates/product/view/badges/sale.phtml
Due: none

Fotorama smallgallery slider fix
  src/components/product-gallery/product-gallery.scss
Due: stylelint --fix

Adjust layouts and block for module giftcard
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Checkout/layout/checkout_cart_index.xml
  src/Magento_GiftCard/layout/catalog_product_view_type_giftcard.xml
  src/Magento_GiftCard/layout/checkout_cart_configure_type_giftcard.xml
  src/Magento_GiftCard/layout/checkout_cart_index.xml
  src/Magento_GiftCard/layout/checkout_cart_item_renderers.xml
  src/Magento_GiftCardAccount/templates/cart/block.phtml
Due: none

Adds improvements to offcanvas overlay no-scroll, minor IE11 adjustments for carousel in minicart offcanvas
  composer.json
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/templates/cart/minicart-button.phtml
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/offcanvas.phtml
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/addtocart/addtocart.ts
  src/components/cart/cart-summary/cart-summary.scss
  src/components/free-shipping-indicator/free-shipping-indicator.scss
  src/components/free-shipping-indicator/index.ts
  src/components/minicart-product/minicart-product.scss
  src/components/minicart/index.ts
  src/components/minicart/minicart-offcanvas.ts
  src/components/minicart/minicart.scss
  src/components/offcanvas-navigation/index.ts
  src/components/offcanvas/index.ts
  src/components/offcanvas/offcanvas.scss
  src/components/offcanvas/offcanvas.ts
  src/components/product-tile/product-tile.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/etc/view.xml
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

[LP-153] Fixes build error with missing import file extension
  src/components/minicart-product/minicart-product.scss
  src/components/minicart/minicart.scss
Due: stylelint --fix

Revert "Merge branch 'hotfix-minicart_missing_view_import_extension' into 'next'"
  src/components/minicart-product/minicart-product.scss
  src/components/minicart/minicart.scss
Due: stylelint --fix

Revert "Merge branch 'feature-offcanvas_mini_cart' into 'next'"
  composer.json
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/templates/cart/minicart-button.phtml
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/offcanvas.phtml
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/addtocart/addtocart.ts
  src/components/cart/cart-summary/cart-summary.scss
  src/components/free-shipping-indicator/free-shipping-indicator.scss
  src/components/free-shipping-indicator/index.ts
  src/components/minicart-product/minicart-product.scss
  src/components/minicart/index.ts
  src/components/minicart/minicart-offcanvas.ts
  src/components/minicart/minicart.scss
  src/components/offcanvas-navigation/index.ts
  src/components/offcanvas/index.ts
  src/components/offcanvas/offcanvas.scss
  src/components/offcanvas/offcanvas.ts
  src/components/product-tile/product-tile.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/etc/view.xml
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

[LP-153 & 322] Adds offcanvas minicart with related products carousel
  composer.json
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/templates/cart/minicart-button.phtml
  src/Magento_Checkout/templates/cart/minicart-headline.phtml
  src/Magento_Checkout/templates/cart/minicart.phtml
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/offcanvas.phtml
  src/Magento_Theme/web/css/source/_layout.scss
  src/components/addtocart/addtocart.ts
  src/components/cart/cart-summary/cart-summary.scss
  src/components/free-shipping-indicator/free-shipping-indicator.scss
  src/components/free-shipping-indicator/index.ts
  src/components/minicart-product/minicart-product.scss
  src/components/minicart/index.ts
  src/components/minicart/minicart-offcanvas.ts
  src/components/minicart/minicart.scss
  src/components/offcanvas-navigation/index.ts
  src/components/offcanvas/index.ts
  src/components/offcanvas/offcanvas.scss
  src/components/offcanvas/offcanvas.ts
  src/components/product-tile/product-tile.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/styleguide.ts
  src/etc/view.xml
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

HAAR-1980 Move tile configurable sale badge logic to theme-csshop
  src/MageSuite_ProductTile/layout/product_tile.xml
  src/MageSuite_ProductTile/templates/fragments/badge.phtml
  src/Magento_Catalog/layout/catalog_product_view.xml
Due: none

Add id to qty input in addtocart in order to allow proper add to wishlist request
  src/Magento_Catalog/templates/product/view/addtocart.phtml
Due: none

[LP-153] Fixes issue with header content jumping on page load
  src/components/free-shipping-indicator/free-shipping-indicator.scss
  src/components/minicart/minicart.scss
Due: stylelint --fix

[LP-153] Fixes visibility of the offcanvas-minicart carousel spinner
  src/components/minicart/minicart.scss
Due: stylelint --fix

P2G-1214 Fix DailyDeal counter translations
  src/components/dailydeal/dailydeal.ts
Due: prettier --write, tslint --fix

HAAR-2029 Prevent showing price label on multiple tiles when clicking on swatch
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Add IE11 warning modal
  src/components/ie11-modal/ie11-modal.scss
  src/components/ie11-modal/ie11-modal.ts
  src/components/ie11-modal/index.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/web/images/browser/chrome.svg
  src/web/images/browser/edge.svg
  src/web/images/browser/firefox.svg
  src/web/images/browser/ie-grayscale.svg
  src/web/images/browser/opera.svg
  src/web/images/browser/safari.svg
Due: stylelint --fix, prettier --write, tslint --fix

Add IE11 warning modal
  src/components/ie11-modal/ie11-modal.ts
Due: prettier --write, tslint --fix

Fix text type
  src/components/ie11-modal/ie11-modal.ts
Due: prettier --write, tslint --fix

[LP-153 & 322] Fixes path for carousel endpoint, adds carousel button minor improvement
  src/Magento_Checkout/layout/default.xml
  src/Magento_Checkout/templates/cart/minicart-button.phtml
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

Improve performance of SVG inlining and images lazyloading
  src/web/js/vendor/inline-svg.js
  src/web/js/vendor/lazyload.js
Due: prettier --write, tslint --fix

[DOG-403] Style reward points in checkout
  src/components/checkout/checkout.scss
Due: stylelint --fix

[LP-153] Moves method for setting offcanvas minicart carousel endpoint url after safety switch
  src/components/minicart/minicart-offcanvas.ts
Due: prettier --write, tslint --fix

[DOG-406] Fix reward points pagination in UA
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

[LP-523] Fixes base URL (missing store codes) for breadcrumbs
  src/Magento_Checkout/layout/checkout_cart_index.xml
  src/Magento_Checkout/layout/checkout_onepage_success.xml
  src/Magento_Customer/layout/customer_account_confirmation.xml
  src/Magento_Customer/layout/customer_account_create.xml
  src/Magento_Customer/layout/customer_account_createpassword.xml
  src/Magento_Customer/layout/customer_account_edit.xml
  src/Magento_Customer/layout/customer_account_forgotpassword.xml
  src/Magento_Customer/layout/customer_account_index.xml
  src/Magento_Customer/layout/customer_account_login.xml
  src/Magento_Customer/layout/customer_account_logoutsuccess.xml
  src/Magento_Customer/layout/customer_address_form.xml
  src/Magento_Customer/layout/customer_address_index.xml
  src/Magento_Downloadable/layout/downloadable_customer_products.xml
  src/Magento_Newsletter/layout/customer_account.xml
  src/Magento_Review/layout/review_customer_index.xml
  src/Magento_Sales/layout/customer_account.xml
  src/Magento_Wishlist/layout/wishlist_index_index.xml
Due: none

[LP-533] Improves free shipping indicator visibility on mobile devices
  src/components/minicart/minicart.scss
Due: stylelint --fix
