Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
    "linters": {
        "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
        "src/**/*.{ts,js}": ["prettier --write", "tslint --fix", "git add"]
    },

    "ignore": ["**/vendor/**/*", "**/vendors/**/*"]
}

LP-264 Hide tooltip label in Checkout
  src/components/checkout/checkout.scss
Due: stylelint --fix

[DOG-168] Disable decrement button for qty-increment in minicart when value is less or equal 1
  src/Magento_Checkout/web/template/minicart/item/default.html
Due: none

[KRG-876] Provides additional XML config to control headline of PDP Sections Navigation
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/view/nav.phtml
Due: none

[DOG-35] Add support for nav wishlist icon for multiple wishlists module (Enterprise esition)
  src/Magento_MultipleWishlist/layout/default.xml
Due: none

DOG-35 Add optional Menu text below burger
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/html/offcanvas-toggle.phtml
  src/components/offcanvas-toggle/offcanvas-toggle.scss
Due: stylelint --fix

P2G-1115 - Category-links - Fixed styling of all-items link, when there are no subactegories
  src/components/category-links/category-links.scss
Due: stylelint --fix

Added check to prevent critical php error for product reviews list page: Uncaught Error: Call to a member function getGroupChildNames() on boolean
  src/Magento_Catalog/templates/product/view/nav.phtml
Due: none

Add third level limit option for standard navigation
  src/MageSuite_Navigation/templates/main/flyout.phtml
Due: none

LP-293 html-select trigger should use pseudoicon
  src/components/pseudoicon/mixin.scss
  src/components/select/select.scss
Due: stylelint --fix

LP-264 Change scope of field tooltip label class to include modals
  src/components/checkout/checkout.scss
  src/components/field/field.scss
Due: stylelint --fix

LP-297 Move progress-bar transform to variable
  src/components/progress-bar/progress-bar.scss
Due: stylelint --fix

NKD-1756 Fix doubled swatches on tile
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

Adjust critical styling
  src/components/critical/critical.scss
  src/components/product-gallery/product-gallery.scss
Due: stylelint --fix

Added a logic to refresh the form key for rendered nosto carousels
  src/components/nosto-products-renderer/nosto-products-renderer.ts
Due: prettier --write, tslint --fix

LP-293 Fix positioning of trigger caret on ios and ie11
  src/components/select/select.scss
Due: stylelint --fix

Remove usage of deprecated jQuery load
  src/web/js/vendor/bootstrap-select.js
Due: prettier --write, tslint --fix

Implement product navigation on PDP
  src/MageSuite_ContentConstructor/layout/contentconstructor_components_index.xml
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Cms/layout/cms_page_view.xml
  src/components/product-navigation/index.ts
  src/components/product-navigation/product-navigation.scss
  src/entries/pdp.ts
Due: stylelint --fix, prettier --write, tslint --fix

LP-295 Some forms were not included and used Magento styling instead of MageSuite
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Add nicer spacing for product navigation
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

Add cms bundle to aheadworks pages
  src/Aheadworks_Faq/layout/faq_article_index.xml
  src/Aheadworks_Faq/layout/faq_category_index.xml
  src/Aheadworks_Faq/layout/faq_index_index.xml
  src/Aheadworks_Faq/layout/faq_search_index.xml
Due: none

Added cms bundle to cms_index_defaultindex and cms_index_defaultnoroute page types
  src/Magento_Cms/layout/cms_index_defaultindex.xml
  src/Magento_Cms/layout/cms_index_defaultnoroute.xml
Due: none

LP-302 Add !default to field select background size variables
  src/components/field/mixin.scss
Due: stylelint --fix

LP-105 Fix width of cms-pages teaser
  src/components/container/container.scss
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix

LP-309 Move values to variables, fix pseudoicon arrow left position and animation var to properly inherit from mixins
  src/components/product-navigation/product-navigation.scss
  src/components/pseudoicon/mixin.scss
Due: stylelint --fix

LP-320 Drop svg as trigger icon in favor of pseudoicon
  src/Magento_Directory/layout/default.xml
  src/Magento_Store/layout/default.xml
  src/Magento_Theme/layout/default.xml
  src/components/dropdown-switcher/dropdown-switcher.scss
  src/web/images/icons/dropdown-switcher/icon-trigger.svg
Due: stylelint --fix

LP-320 Fix variable and reset pseudoicon if disabled on desktop
  src/components/dropdown-switcher/dropdown-switcher.scss
Due: stylelint --fix

LP-309 Fix product navigation visibility after changes to module
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

Adjust product navigation styles
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

LP-111 Refactor brand overview page
  src/MageSuite_BrandManagement/layout/brands_index_all.xml
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
  src/MageSuite_BrandManagement/templates/all.phtml
  src/MageSuite_BrandManagement/web/css/brands-index.scss
  src/components/page-scroll/index.ts
  src/components/page-scroll/page-scroll.scss
  src/components/page-scroll/page-scroll.ts
  src/entries/magesuite-brand-management.ts
Due: stylelint --fix, prettier --write, tslint --fix

LP-328 Adjustments for search result styles
  src/Magento_CatalogSearch/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCms/layout/catalogsearch_result_index.xml
  src/components/search-results-cms/search-results-cms.scss
  src/components/search-results-switcher/search-results-switcher.scss
  src/components/tabs/tabs.scss
Due: stylelint --fix

[DOG-60] Add possibility to not include pseudoicons in filters
  src/components/aftersearch-nav/aftersearch-nav.scss
Due: stylelint --fix

Updates Confluence link regarding Custom CC Fields documentation
  src/Magento_CatalogSearch/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCms/layout/catalogsearch_result_index.xml
  src/components/search-results-cms/search-results-cms.scss
  src/components/search-results-switcher/search-results-switcher.scss
  src/components/tabs/tabs.scss
  src/etc/view.xml
Due: stylelint --fix

Revert "Updates Confluence link regarding Custom CC Fields documentation"
  src/Magento_CatalogSearch/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCatalog/layout/catalogsearch_result_index.xml
  src/Smile_ElasticsuiteCms/layout/catalogsearch_result_index.xml
  src/components/search-results-cms/search-results-cms.scss
  src/components/search-results-switcher/search-results-switcher.scss
  src/components/tabs/tabs.scss
  src/etc/view.xml
Due: stylelint --fix

Updates Confluence link regarding Custom CC Fields documentation - FIX
  src/etc/view.xml
Due: none

LP-340 Add missing remove icon to aftersearch nav state in brand page
  src/MageSuite_BrandManagement/layout/brands_index_index.xml
Due: none

MGS-3907 MGS-3908 MGS-3909 Fix mobile redirect and spacing
  src/MageSuite_BrandManagement/web/css/brands-index.scss
Due: stylelint --fix

Cache mobile navigation using browser cache instead of localStorage
  src/Magento_Theme/templates/html/defer.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Cleanup old navigation cache from localStorage
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

NKD-1779 [PDP] Navigation links: padding between label and arrow isn't the same for left and right link. Mobiles
  src/components/product-navigation/product-navigation.scss
Due: stylelint --fix

LP-350 Removed cms teaser selector in order to fix background color for teaser and text
  src/components/image-teaser/image-teaser.scss
Due: stylelint --fix
