Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

fix: [LP-1212] Fix image change when swatches are clicked in product tile
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
Due: prettier --write, tslint --fix

feat(instant-purchase): Improvements after QA testing
  src/MageSuite_InstantPurchase/web/css/instant-purchase-user-area.scss
  src/MageSuite_InstantPurchase/web/css/instant-purchase.scss
  src/Mollie_Payment/web/css/mollie-payment.scss
  src/components/qty-increment/qty-increment.ts
Due: stylelint --fix, prettier --write, tslint --fix

feat: add a variable for slider pagination current item
  src/components/_slider/pagination/mixin.scss
Due: stylelint --fix

fix: [Daily Deal Teaser] styles for product link hover color
  src/components/daily-deal-teaser/daily-deal-teaser.scss
Due: stylelint --fix

feat(slider): Add support for autorotation in slider
  src/components/_slider/autorotation/autorotation.ts
Due: prettier --write, tslint --fix

feat(daily-deal): Add classname to product tile when DD active
  src/components/dailydeal/dailydeal.scss
  src/components/dailydeal/dailydeal.ts
Due: stylelint --fix, prettier --write, tslint --fix

fix(image-teaser): Removes hiding teaser in grid (old approach artifact)
  src/components/grid-layout/grid-layout.scss
Due: stylelint --fix

feat(tile-gallery): Add support for tile gallery in new product tiles
  src/components/tile-gallery/tile-gallery.scss
Due: stylelint --fix

WIP: fix: [MGS-4320] Override Page Builder category page description template
  src/Magento_PageBuilder/templates/catalog/category/view/description.phtml
Due: none

fix(tile-gallery): Image positioning fix
  src/components/tile-gallery/tile-gallery.scss
Due: stylelint --fix

Remove support for carousel list view
  src/Magento_Catalog/templates/product/list/items.phtml
  src/entries/products-carousel.ts
Due: prettier --write, tslint --fix

fix: [LP-1582] Add export to tooltip interface
  src/components/tooltip/tooltip.ts
Due: prettier --write, tslint --fix

feat!: [MGS-4608] Refactor swatch-renderer-ext, separate referrer logic and fix...
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/Magento_Swatches/web/js/swatch-renderer-referrer-ext.js
  src/Magento_Ui/web/js/view/messages-ext.js
  src/components/price-box/price-box.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

feat: Add config to eager load first hero image
  src/etc/view.xml
Due: none

feat: Add missing translations
  src/i18n/de_CH.csv
  src/i18n/de_DE.csv
  src/i18n/nl_NL.csv
Due: none

feat: Add changelog.xml and initial data for v17
  src/etc/changelog.xml
Due: none

fix: Fix reviews pagination/load more button when user click on review link in buybox
  src/Magento_Review/web/js/process-reviews-ext.js
Due: prettier --write, tslint --fix

Revert "Merge branch 'feat-swatch_refactor-MGS-4608' into '17.x'"
  src/Magento_Swatches/web/js/swatch-renderer-ext.js
  src/Magento_Swatches/web/js/swatch-renderer-referrer-ext.js
  src/Magento_Ui/web/js/view/messages-ext.js
  src/components/price-box/price-box.scss
  src/requirejs-config.js
Due: stylelint --fix, prettier --write, tslint --fix

feat: [DOG-1304] add missing translations
  src/i18n/de_DE.csv
Due: none

[TOYS-267] Sort by switches back to default after jumping pages
  src/Magento_Theme/templates/html/pager.phtml
Due: none

chore: Updated changelog.xml
  src/etc/changelog.xml
Due: none

chore: update changelog
  src/etc/changelog.xml
Due: none

chore: Update changelog.xml
  src/etc/changelog.xml
Due: none

fix: Remove not necessary data-bind:scope on review form
  src/Magento_Review/templates/form.phtml
Due: none

feat: Add pwa guide on success page
  src/components/pwa-notification/pwa-notification.scss
Due: stylelint --fix

feat: Add PWA guide
  src/Magento_Theme/layout/default.xml
  src/components/pwa-guide/index.ts
  src/components/pwa-guide/pwa-guide.scss
  src/components/pwa-notification/index.ts
  src/components/pwa-notification/pwa-notification.scss
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/product-compare.ts
  src/web/images/icons/pwa-guide/close.svg
  src/web/images/icons/pwa-guide/next.svg
  src/web/images/icons/pwa-guide/rebuy.svg
Due: stylelint --fix, prettier --write, tslint --fix

feat: [MGS-4567] Restyle PWA guide
  src/Magento_Theme/layout/default.xml
  src/components/pwa-guide/pwa-guide.scss
  src/web/images/icons/pwa-guide/install-desktop.svg
  src/web/images/icons/pwa-guide/install.svg
Due: stylelint --fix

Refactor add to home screen guide
  src/Magento_Theme/layout/default.xml
  src/components/notification-panel/index.ts
  src/components/notification-panel/notification-panel.scss
  src/components/push-notification/index.ts
  src/components/push-notification/push-notification.scss
  src/components/pwa-a2hs-guide/index.ts
  src/components/pwa-a2hs-guide/pwa-a2hs-guide.scss
  src/components/pwa-guide/index.ts
  src/entries/category.ts
  src/entries/checkout.ts
  src/entries/cms.ts
  src/entries/contact.ts
  src/entries/customer.ts
  src/entries/magesuite-store-locator.ts
  src/entries/pdp.ts
  src/entries/product-compare.ts
  src/web/images/icons/notification-panel/icon_close.svg
  src/web/images/icons/notification-panel/icon_notification-enabled.svg
  src/web/images/icons/notification-panel/icon_notification-outline.svg
  src/web/images/icons/notification-panel/icon_notification-pending.svg
  src/web/images/icons/notification-panel/icon_notification-rejected.svg
  src/web/images/icons/notification-panel/icon_notification-request.svg
  src/web/images/icons/notification-panel/next.svg
  src/web/images/icons/push-notification/icon_close.svg
  src/web/images/icons/pwa-a2hs-guide/close.svg
  src/web/images/icons/pwa-a2hs-guide/install-desktop.svg
  src/web/images/icons/pwa-a2hs-guide/install.svg
  src/web/images/icons/pwa-a2hs-guide/next.svg
  src/web/images/icons/pwa-a2hs-guide/rebuy.svg
  src/web/images/icons/pwa-guide/close.svg
Due: stylelint --fix, prettier --write, tslint --fix

Optimize svg
  src/Magento_Theme/layout/default.xml
  src/entries/category.ts
  src/entries/cms.ts
  src/entries/product-compare.ts
  src/web/images/icons/notification-panel/next.svg
  src/web/images/icons/pwa-a2hs-guide/close.svg
  src/web/images/icons/pwa-a2hs-guide/install-desktop.svg
  src/web/images/icons/pwa-a2hs-guide/install.svg
  src/web/images/icons/pwa-a2hs-guide/next.svg
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
